﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="At Ethan & Eian, we only retail products of exclusive quality from premium brands. As parents ourselves, we understand that sourcing for the best at the most competitive & affordable price is very important. All these starts from the journey of pregnancy to parenthood. " />
    <meta name="author" content="Ethan & Eian" />
    <meta name="keywords" content="children, Singapore Babies, Singapore baby, Singapore baby products, Singapore kids, Kid’s accessories, kid’s products, Children’s products, Singapore baby toys, Wooden Toys, Children’s fashion, Children’s clothing, Ethan & Eian, Ethan-eian, ethaneian " />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
        rel="stylesheet">
    <!-- SCRIPTS -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if IE]><html class="ie" lang="en"> <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52514436-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=226988780808773&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

    <div id="preloader">
        <img src="~/images/preloader.gif" alt="" />
    </div>
    <div class="preloader_hide">
        <div id="page">
            <header>
                <div class="top_info">
				    <div class="container clearfix">
						    @Html.Partial("_LoginPartial")
					        <div class="phone_top">have a question? @Html.ActionLink("Ask our community", "FAQ", "Home")</div>
				        </div>
			    </div>
                <div class="menu_block">
				        <div class="container clearfix">
					        <div class="logo">
						        <a href="/" ><img src="~/images/logo.jpg" alt="" /></a>
					        </div>
					        <div class="top_search_form">
						        <a class="top_search_btn" href="javascript:void(0);" ><i class="fa fa-search"></i></a>
                                @Html.Partial("_SearchPartial", new TotoBobo.Mvc.Models.SearchProductModel() { Name="Search"})
					        </div>
					       
					         @RenderSection("menu", required: true)
				        </div>
			        </div>
            </header>
            @RenderBody()
            <footer>
			    <div class="container" data-animated='fadeInUp'>
				    <div class="row">
					    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 col-ss-12 padbot30">
						    <h4>Contacts</h4>
						    <div class="foot_address"><span>Ethan &amp Eian</span></div>						    
						    <div class="foot_mail"><a href="mailto:info@glamyshop.com" >Kelissa@ethaneian.com</a></div>						    
					    </div>
					
					    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 col-ss-12 padbot30">
						    <h4>Information</h4>
						    <ul class="foot_menu">
							    <li><a href="@Url.Action("AboutUs","Home")" >About us</a></li>
							    <li><a href="@Url.Action("DataProtectionPolicy", "Home")" >Data Protection Policy</a></li>
							    <li><a href="@Url.Action("DisclaimerAndLegalNotice", "Home")" >Disclaimer &amp Legal Notice</a></li>
							    <li><a href="@Url.Action("FAQ","Home")" >Faqs</a></li>
						    </ul>
					    </div>
					
					    <div class="respond_clear_480"></div>
					
					    <div class="col-lg-4 col-md-4 col-sm-6 padbot30">
						    <h4>About shop</h4>
						    <p>At Ethan & Eian, we only retail products of exclusive quality from premium brands.</p>
                            <p>As parents ourselves, we understand that sourcing for the best at the most competitive & affordable price is very important. All these starts from the journey of pregnancy to parenthood. <a style="font-size: small;" href="javascript:void(0)" onclick="$('#aboutUsReadMoreContainer').css('display', ''); $(this).remove();">Read More</a></p>
                            <div id="aboutUsReadMoreContainer" style="display:none;">
                                <p>Ethan & Eian strives to provide excellent customer service to each and everyone. Our customization options in getting bundle packs allows room for creativity & necessity, be it as a gift or for own use.</p>
                                <p>We will be adding on more brands and range of products so stay tuned.</p>
                                <p>We would also like to hear from you any brands or suggestions you might have in mind. So do drop us an email at kelissa@ethaneian.com</p>
                            </div>
					    </div>
					
					    <div class="respond_clear_768"></div>
					
					    
				    </div>
			    </div>
			    <div class="copyright">
				
				    <div class="container clearfix">
					    <div class="foot_logo"></div>
					
					    <div class="copyright_inf">
						    <span>Ethaneian © 2014</span> |
						    <a class="back_top" href="javascript:void(0);" >Back to Top <i class="fa fa-angle-up"></i></a>
					    </div>
				    </div>
			    </div>
		    </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/totobobo")
    <script type="text/javascript">
        if (top != self) top.location.replace(self.location.href);
	</script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
