﻿@using TotoBobo.Mvc.Helper
@model System.String
@if (Model != "Cart")
{
 <div class="shopping_bag" data-url="@Url.Action("CartSummary", "Dialog")">
						        
</div>
}
<ul class="navmenu center">
@if (Request.IsAuthenticated && (Roles.GetRolesForUser(User.Identity.Name).Contains("Admin") || Roles.GetRolesForUser(User.Identity.Name).Contains("Sales")))
{
    <li class="sub-menu first"> @Html.ActionLink("Admin", "Index", "Admin")</li>
    if (Model == "Home"||Model=="")
    {
        <li class="sub-menu active">@Html.ActionLink("Home", "Index", "Home")</li>
    }else{
        <li class="sub-menu">@Html.ActionLink("Home", "Index", "Home")</li>
    }
}
else
{
    if (Model == "Home" || Model == "")
    {
        <li class="sub-menu active">@Html.ActionLink("Home", "Index", "Home")</li>
    }
    else
    {
        <li class="sub-menu">@Html.ActionLink("Home", "Index", "Home")</li>
    }
}
@{
    List<TotoBobo.Data.Objects.Category> categories = TotoBobo.Mvc.Repository.CategoryRepository.GetAllCategories();
    List<TotoBobo.Mvc.Models.CategoryModel> menus = categories.GetParentHiarachy();
}
@foreach (TotoBobo.Mvc.Models.CategoryModel menu in menus.OrderBy(m => m.Id))
{
    if (Model == menu.Name)
    {
        <li class="sub-menu active">@Html.ActionLink(menu.Name, "Cat", "Product", new { id = menu.Id }, new { })
        @if (menu.Children != null && menu.Children.Any())
        {
            <ul class="mega_menu megamenu_col2 clearfix">
            <li class="col">
            <ol>
            @{var list = menu.Children.OrderBy(m => m.Name);}
            @foreach (TotoBobo.Mvc.Models.CategoryModel submenu in list)
            {
                <li>
                @Html.ActionLink(submenu.Name, "Cat", "Product", new { id = submenu.Id }, new { style = "width: 256px;" })
                @if(submenu.Children!=null&&submenu.Children.Any()){
                    <ul class="mega_menu megamenu_col2 clearfix" style="top: 0px; padding-top: 0px; margin-left: 128px;">
                    <li class="col">
                    <ol>
                        @{list = submenu.Children.OrderBy(m => m.Name);}
                        @foreach (TotoBobo.Mvc.Models.CategoryModel thirdmenu in list)
                        {
                            <li>
                            @Html.ActionLink(thirdmenu.Name, "Cat", "Product", new { id = thirdmenu.Id }, new { })
                            </li>
                        }
                    </ol>
                    </li>
                    </ul>
                }
                </li>
            }
            </ol>
            </li>
            </ul>
        }
        </li>
    }
    else
    {
        <li class="sub-menu">@Html.ActionLink(menu.Name, "Cat", "Product", new { id = menu.Id }, new { })
        @if (menu.Children != null && menu.Children.Any())
        {
            <ul class="mega_menu megamenu_col2 clearfix">
            <li class="col">
            <ol>
            @{var list = menu.Children.OrderBy(m => m.Name);}
            @foreach (TotoBobo.Mvc.Models.CategoryModel submenu in list)
            {
                <li>
                @Html.ActionLink(submenu.Name, "Cat", "Product", new { id = submenu.Id }, new { style = "width: 256px;" })
                @if(submenu.Children!=null&&submenu.Children.Any()){
                    <ul class="mega_menu megamenu_col2 clearfix" style="top: 0px; padding-top: 0px; margin-left: 128px;">
                    <li class="col">
                    <ol>
                        @{list = submenu.Children.OrderBy(m => m.Name);}
                        @foreach (TotoBobo.Mvc.Models.CategoryModel thirdmenu in list)
                        {
                            <li>
                            @Html.ActionLink(thirdmenu.Name, "Cat", "Product", new { id = thirdmenu.Id }, new { })
                            </li>
                        }
                    </ol>
                    </li>
                    </ul>
                }
                </li>
            }
            </ol>
            </li>
            </ul>
        }
        </li>
    }
}



    @if (Model == "Gift Set")
    {
        <li class="last sale_menu active">@Html.ActionLink("Gift Set", "GiftSet", "Product")</li>
    }
    else
    {
        <li class="last sale_menu">@Html.ActionLink("Gift Set", "GiftSet", "Product")</li>
    }

@*    @if (Model == "Sale")
    {
        <li class="last sale_menu active">@Html.ActionLink("Sale", "Sale", "Product")</li>
    }
    else
    {
        <li class="last sale_menu">@Html.ActionLink("Sale", "Sale", "Product")</li>
    }*@
</ul>