﻿<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container" style="height:300px">
        <h2  style="color:White">Acccount is confirmed!</h2>
        <span style="font-size:20px;color:White">
            Congratulations! Your account has been confirmed. 
        </span>
        <br />
        <br />
        <span style="font-size:20px;color:White">
            Click @Html.ActionLink("LOGIN", "Login", null, new { @style = "color:#4185D0" }) to continue to login to Ethan &amp Eian and enjoy shopping!
        </span>
    </div>
</section>