﻿<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container" style="height:300px">
        <h2  style="color:White">Invalid Confirm Token!</h2>
        <span style="font-size:20px;color:White">
            Your confirmation token is invalid. If you have any question, please contact us using either way listed in Contact Us section. 
        </span>
    </div>
</section>