﻿<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container" style="height:300px">

			<h2  style="color:White">Email has been re-sent!</h2>
            <span style="font-size:20px;color:White">
                Please check your email and follow the steps to active your account. Thank you!
            </span>
            <br />
            <br />
            <span style="font-size:20px;color:White">
                If you havn't received the email, click @Html.ActionLink("HERE", "Resend", null, new { @style = "color:#4185D0" }) to re-send the confirmation email.
            </span>

	</div><!-- //CONTAINER -->
</section>
<!-- //MY ACCOUNT PAGE -->