﻿@using TotoBobo.Mvc.Helper
@model TotoBobo.Mvc.Models.RegisterModel
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
				
		<div class="my_account_block clearfix">
			<div class="register">
				<h2>CREATE NEW ACCOUNT</h2>
				<div class="register_form" >
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                        </div>
                        <div>      
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email)
                        </div>
                        <div>       
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </div>
                        <div>        
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                        <div>
                            <label for="captcha" style="display:inline">Enter <img src="@Model.CaptchaImage" alt="CAPTCHA" style="width:180px;height:50px" id="captchaimage"/> Below. &nbsp;&nbsp;&nbsp;&nbsp;</label><a href="javascript:void" class="refreshcaptcha" data-url="@Url.Action("UpdateCaptcha", "Account", new { id=Model.Guid})">Refresh</a> 
                            @Html.HiddenFor(m => m.Guid, new { @class="captchaguid"})
                            @Html.TextBoxFor(m => m.CaptchaText)
                        </div>
                        <div class="center"><input type="submit" value="Register"/></div>        
                    }
				</div>
			</div>
			<div class="already_member">
				<h2>ALREADY A MEMBER?</h2>
						
				<div >@Html.ActionLink("Login", "Login", null, new { @class="btn active",@style="margin:0px" })</div>
			</div>
		</div>
	</div><!-- //CONTAINER -->
</section><!-- //MY ACCOUNT PAGE -->
