﻿<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container" style="height:300px">
        <h2  style="color:White">Password is reset!</h2>
        <span style="font-size:20px;color:White">
            Your password is reset successfully. 
        </span>
        <br />
        <br />
        <span style="font-size:20px;color:White">
            Click @Html.ActionLink("LOGIN", "Login", null, new { @style = "color:#4185D0" }) to continue to login to TotoBobo and enjoy shopping!
        </span>
    </div>
</section>