﻿@model TotoBobo.Mvc.Models.ResetPasswordModel
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
        <div class="my_account_block clearfix">
        <div class="manage">
        <h2>RESET PASSWORD</h2>
        <div class="register_form" >
        @using (Html.BeginForm("ResetPassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

            <div>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
           <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        <div class="center"><input type="submit" value="Reset password" /></div>
        }
</div>
        </div>
        </div>
    </div>
</section>