﻿@model TotoBobo.Mvc.Models.ChangePasswordModel 
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName+" - Change Password";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
        <div class="my_account_block clearfix">
        <div class="manage">
        <h2>MANAGE ACCOUNT / CHANGE PASSWORD</h2>
        <div class="register_form" >
        @using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

  <div>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
           </div>
            <div>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
           <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        <div class="center"><input type="submit" value="Change password" /></div>
        }
</div>
        </div>
        </div>
    </div>
</section>
