﻿@model TotoBobo.Mvc.Models.LoginModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Login";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<section class="my_account parallax">
	<div class="container">		
		<div class="my_account_block clearfix">
			<div class="login">
				<h2>I'M ALREADY REGISTERED</h2>
                <div class="login_form" >
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                    
				        @Html.TextBoxFor(m => m.UserName)
					
					    @Html.PasswordFor(m => m.Password)
					    <div class="clearfix">
						    <div class="pull-left"> @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                            </div>
						    <div class="pull-right">@Html.ActionLink("Forgot Password?", "ForgotPassword")</div>
					    </div>
					    <div class="center"><input type="submit" value="Login"></div>
                    }
				</div>
			</div>
			<div class="new_customers">
				<h2>NEW CUSTOMERS</h2>
				<p>Register with Ethan &amp Eian to enjoy personalized services, including:</p>
				<ul>
					<li><a href="javascript:void(0);" >—  Online Order Status</a></li>
					<li><a href="javascript:void(0);" >—  Sign up to receive exclusive news and private sales</a></li>
					<li><a href="javascript:void(0);" >—  Place Test Orders</a></li>
					<li><a href="javascript:void(0);" >—  Quick and easy checkout</a></li>
				</ul>
				<div class="center">@Html.ActionLink("Create New Account", "Register", null, new { @class="btn active" })</div>
			</div>
		</div>
	</div>
</section>
