﻿@model TotoBobo.Mvc.Models.ManageModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Account";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
    <div class="my_account_block clearfix">
        <div class="manage">
            <h2>MANAGE ACCOUNT</h2>
            <h3>You're logged in as <strong>@User.Identity.Name</strong>.</h3>
            <p class="message-success">@ViewBag.StatusMessage</p>
            @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn active", @style = "margin:0px" })
            @Html.ActionLink("Manage Orders", "Index", "Order", null, new { @class = "btn active", @style = "margin:0px;margin-left:15px;" })            
        </div>
        @if (Model.Questions != null && Model.Questions.Count > 0)
        {
            <div class="manage" style="border-top:1px solid #ccc;">
                <h2>Manage FAQ</h2>
                <section class="panel panel-default">                    
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light" id="questionTableForAccountManage">
                            <thead>
                                <tr>
                                    <th>Question Title</th>
                                    <th></th>
                                    @if (Request.IsAuthenticated && Roles.GetRolesForUser(User.Identity.Name).Contains("Admin"))
                                    {
                                        <th></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Questions)
                                {
                                    <tr>                                    
                                        <td><strong>@item.Title</strong></td>                                                
                                        <td>@Html.ActionLink("Reply", "FAQDetail", "Home", new { QuestionId = item.Id }, new { })</td>
                                        @if (Request.IsAuthenticated && Roles.GetRolesForUser(User.Identity.Name).Contains("Admin"))
                                        {
                                            <td>@Html.ActionLink("Delete", "DeleteFAQ", "Home", new { id = item.Id }, new { })</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        }

        <div class="manage" style="border-top:1px solid #ccc;">
            <h2>MANAGE Shipping Address</h2>
             @Html.ActionLink("Add Address", "Manage", new { id = "0" }, new { @class = "btn active", @style = "margin:0px" })
        </div>
        <div style="padding-bottom:25px;">
            <ul> 
                @if (ViewBag.ShowAddressForm && ViewBag.CurrentAddressId == 0)
                {
                    <li>
                    @Html.Partial("_ShippingAddress", Model.CurrentAddress)
                    </li>
                }
                @foreach (var item in Model.Addresses)
                {
                   <li style="font-size:15px;margin-bottom:15px;padding-left:28px;padding-right:28px;">
                   <div>
                   <span style="margin-top:10px;display:inline-block">@item.Country @item.State @item.City @item.Address1 @item.Postcode, @item.MobileNo @item.FirstName @item.LastName 
                   
                   </span>
                   @if (@item.IsDefault)
                   {
                    <span class="message-success" style="padding-left:10px"> (Default Address) </span>
                   }
                   <span class="pull-right" style="margin-top:-2px">
                   <span class="pull-right">
                   @using (Html.BeginForm(
                        "DeleteAddress",
                        "Account",
                        new { id = @item.Id },
                        FormMethod.Post,
                        new { id = "myform+" + @item.Id.ToString() })
                    )
                   {
                        @Html.AntiForgeryToken()
                       @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <a href="javascript:document.getElementById('myform+@item.Id').submit()" class="btn active" style="padding:6px 12px;margin-left:10px;">Delete</a>
                   }   
                   </span>
                    <span class="pull-right">
                   @Html.ActionLink("Edit", "Manage", new { id = @item.Id }, new { @class = "btn active", @style = "padding:6px 12px;margin-left:10px;" })
                   </span>
                   <span class="pull-right">
                   @if (!@item.IsDefault)
                   {
                        @Html.ActionLink("Mark As Default", "MarkDefault", new { id = @item.Id }, new { @class = "btn active", @style = "padding:6px 12px;" }) 
                   }
                   </span>
                   </span>
                   </div>
                   </li>

                   if (ViewBag.ShowAddressForm)
                   {
                       if (ViewBag.CurrentAddressId == @item.Id)
                       {
                            <li>
                            @Html.Partial("_ShippingAddress", Model.CurrentAddress)
                            </li>
                       }
                   }
                }
            </ul>
        </div>
                   
       
   </div>
    </div>
</section>

@section Scripts {
   
   <script type="text/javascript">
       $(function () {
           $(".statedropdown").on("change.fs", function () {
               var sid = $(this).val();
               $(".cityContainer").children().remove();
               $(".cityContainer").load($(".cityContainer").attr("data-url") + "/" + sid, function (e) {
                   $(".cityContainer .basic").fancySelect();
                   $("#addressstate").val($(".stateContainer .trigger").text());
                   $("#addresscity").val($(".cityContainer .trigger").text());
               })
           });

           $("#addressstate").val($(".stateContainer .trigger").text());
           $("#addresscity").val($(".cityContainer .trigger").text());
       });

   </script>
}
