﻿<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           
    @User.Identity.Name <b class="caret"></b>
    </a>
    <ul class="dropdown-menu animated fadeInRight">            
    <li>
        <span class="arrow top"></span>
        @Html.ActionLink("Setting", "Manage", "Account",null,null)
    </li>
    
    <li class="divider"></li>
    <li>
       @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
        }
    </li>
    </ul>
</li>