﻿<div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      
        <span class="hidden-nav-xs clear">
        <span class="block m-t-xs">
            <strong class="font-bold text-lt">@User.Identity.Name</strong> 
            <b class="caret"></b>
        </span>
        <span class="text-muted text-xs block">@Roles.GetRolesForUser(User.Identity.Name).FirstOrDefault()</span>
        </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">                      
        <li>
        <span class="arrow top hidden-nav-xs"></span>
        @Html.ActionLink("Setting", "Manage", "Account",null,null)
        </li>
        <li class="divider"></li>
        <li>
         @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
        }
        </li>
        
    </ul>
</div>
