﻿@model TotoBobo.Mvc.Models.CategoryModel

<li class='dd-item'>

<div class='dd-handle'>
@Html.DisplayFor(m => m.Name)
<div style="float:right" class="row">
<div class="col-sm-4">
@Html.ActionLink("Edit", "EditCategory", new { id = Model.Id })</div>
<div  class="col-sm-4">
@using (Html.BeginForm(
    "DeleteCategory", 
    "Admin", 
    new { id = Model.Id }, 
    FormMethod.Post, 
    new { id = "myform+"+Model.Id.ToString() })
) {
    @Html.AntiForgeryToken()
   @Html.HttpMethodOverride(HttpVerbs.Delete)
    <a href="javascript:deleteCategory('myform+@Model.Id');">Delete</a>
}</div>

</div>
</div>
@if (Model.Children.Any())
{
    <ol class='dd-list'>
        @foreach (TotoBobo.Mvc.Models.CategoryModel sub in Model.Children)
        {
            @Html.Partial("_CategoryPartial", sub);
        }
    </ol>
}

</li>