﻿<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="TOTOBOBO the best respiratory mask for children. Anti-pollution, anti-virus comfortable and reusable. TotoBobo Admin site" />
    <meta name="author" content="Infini Tech" />
    <meta name="keywords" content="TOTOBOBO, admin, children, n95, 3M, mask, customized, respirator, anti-virus, anti-pollution, n99, n100, protection, fits all, filter cartridge, reusable, comfortable, facemask, kids" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/admin/css")
    @RenderSection("styles", required: false)
    <!--[if lt IE 9]>
    <script src="../../Scripts/admin/ie/html5shiv.js"></script>
    <script src="../../Scripts/admin/ie/respond.min.js"></script>
    <script src="../../Scripts/admin/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body class="">
<section class="vbox">
    <header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
      <div class="navbar-header aside-md dk">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
          <i class="fa fa-bars"></i>
        </a>
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
          <img src="../../images/logo.jpg" class="m-r-sm" alt="scale">
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
          <i class="fa fa-cog"></i>
        </a>
      </div>
     
      <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
        
        @Html.Partial("_AccountPartial2")
      </ul>      
    </header>
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        <aside class="bg-black aside-md hidden-print" id="nav">          
          <section class="vbox">
            <section class="w-f scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <div class="clearfix wrapper dk nav-user hidden-xs">
                  @Html.Partial("_AccountPartial")
                </div>                


                <!-- nav -->                 
                <nav class="nav-primary hidden-xs">
                  <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Business Management</div>
                  <ul class="nav nav-main" data-ride="collapse">
                    <li>
                      <a href="@Url.Action("Index","Admin")" class="auto">
                        <i class="i i-statistics icon">
                        </i>
                        <span class="font-bold">Overview</span>
                      </a>
                    </li>
                    <li >
                      <a href="@Url.Action("ManageOrder","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-lab icon">
                        </i>
                        <span class="font-bold">Manage Order</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManageProduct","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-lab icon">
                        </i>
                        <span class="font-bold">Manage Product</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManageCategory","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-docs icon">
                        </i>
                        <span class="font-bold">Manage Category</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManagePromotion","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-docs icon">
                        </i>
                        <span class="font-bold">Manage Promotion</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManageBanner","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-docs icon">
                        </i>
                        <span class="font-bold">Manage Banner</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManageBrand","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-docs icon">
                        </i>
                        <span class="font-bold">Manage Brand</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManageHamper","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-docs icon">
                        </i>
                        <span class="font-bold">Manage Hamper</span>
                      </a>
                     
                    </li>
                    <li >
                      <a href="@Url.Action("ManageDoctor","Admin")" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <i class="i i-docs icon">
                        </i>
                        <span class="font-bold">Manage Doctor</span>
                      </a>
                     
                    </li>
                  </ul>
                  <div class="line dk hidden-nav-xs"></div>
                  <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">User Management</div>
                  <ul class="nav nav-main">
                    <li>                    
                      <a href="@Url.Action("ManageRole", "Admin")">
                        <i class="i i-circle-sm text-info-dk"></i>
                        <span class='font-bold'>Manage Role</span>
                      </a>
                    </li>
                    <li>                    
                      <a href="@Url.Action("ManageUser", "Admin")">
                        <i class="i i-circle-sm text-info-dk"></i>
                        <span class='font-bold'>Manage User</span>
                      </a>
                    </li>
                  </ul>
                  <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">System Management</div>
                  <ul class="nav  nav-main">
                    <li>
                      <a href="@Url.Action("ManageCountry","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Manage Country</span>
                      </a>
                    </li>
                    <li>
                      <a href="@Url.Action("ManageState","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Manage State</span>
                      </a>
                    </li>
                    <li>
                      <a href="@Url.Action("ManagePayment","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Payment Method</span>
                      </a>
                    </li>
                    <li>
                      <a href="@Url.Action("ManageDelivery","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Delivery Method</span>
                      </a>
                    </li>
                    <li>
                      <a href="@Url.Action("ManageSetting","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>System Setting</span>
                      </a>
                    </li>
                    <li>
                      <a href="@Url.Action("ManageNews","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Newsletter</span>
                      </a>
                    </li>
                    <li>
                      <a href="@Url.Action("ManageQT","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Question Type</span>
                      </a>
                    </li>
                    <!--
                    <li>
                      <a href="@Url.Action("ManageQuestion","Admin")">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span class='font-bold'>Manage Question</span>
                      </a>
                    </li>
                    -->
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>
            
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
              <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
                <i class="i i-logout"></i>
              </a>
              <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                <i class="i i-circleleft text"></i>
                <i class="i i-circleright text-active"></i>
              </a>
            </footer>
          </section>
        </aside>
        <!-- /.aside -->
        <section id="content">
        <section class="vbox">
            <section class="scrollable padder">
        <div style="padding-top:15px">
        @RenderBody()
        </div>
        </section>
        </section>
        </section>
      </section>
    </section>
  </section>
  @Scripts.Render("~/bundles/totobobo/admin")
  @RenderSection("scripts", required: false)
  <div class="modal fade in modal-confirm" id="ajaxModal">
      <div class="modal-body">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body modal-message">
     
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary btn-continue" data-dismiss="modal">Continue</a>
          <a href="#" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>
  </div>
</body>
