﻿@model TotoBobo.Mvc.Models.SearchCategoryModel

 @using (Html.BeginForm("SearchCategory", "Admin")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <div class="col-sm-4">  
        <div class="input-group text-sm">
                @Html.TextBoxFor(m => m.Name, new { @class = "input-sm form-control", @placeholder = "Name" })
            <div class="input-group-btn">
                <input class="btn btn-sm btn-default" type="submit" value="Search"  />
            </div>
        </div>
    </div>
        
 }