﻿ @model TotoBobo.Mvc.Models.SearchRoleMode

 <div class="row wrapper">
 @using (Html.BeginForm("SearchRole", "Admin")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.Role, null, new { @class = "input-sm form-control input-s-sm inline v-middle", @style = "width:100%" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.UserName, new { @class = "input-sm form-control", @placeholder = "User Name", @style = "width:100%" })
    </div>
    <span class="input-group-btn">
        <input class="btn btn-sm btn-default" type="submit" value="Search"  style="margin-left:15px" />
    </span>       
 }
</div>
 