﻿@model TotoBobo.Mvc.Models.UserModel
<li class='dd-item'>
    <div class='dd-handle'>
        @Html.DisplayFor(m => m.Name)
        <div style="float:right" class="row">
            <div class="col-sm-4">
                @Html.ActionLink("Edit", "EditUser", new { id = Model.Id })
            </div>
            <div  class="col-sm-4">
                @using(Html.BeginForm(
                    "DeleteUser", 
                    "Admin", 
                    new { id = Model.Id }, 
                    FormMethod.Post, 
                    new { id = "myform+"+Model.Id.ToString() })
                ){
                @Html.AntiForgeryToken()
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <a href="javascript:deleteUser('myform+@Model.Id');">Delete</a>
                }
            </div>
        </div>
    </div>
</li>