﻿@model TotoBobo.Mvc.Models.StateModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage State";
}

<section class="panel panel-default">
<header class="panel-heading font-bold">@ViewBag.SubTitle</header>
<div class="panel-body">
     @using (Html.BeginForm("EditState", "Admin", FormMethod.Post))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name",  @class = "form-control" })
        </div>
        
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.CountryId)
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "ManageState", null, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".nav-main > li").each(function () {
                if ($(this).find("span[class='font-bold']").text() == "Manage State") {
                    $(this).addClass("active");
                }
            });
        });
    </script>
}
