﻿@model TotoBobo.Mvc.Models.EditHamperModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Hamper";
}
@section Styles{
@Styles.Render("~/Content/css/upload")
<style>
  /* For the bootstrapped demos */
  li.alert-success {
      background-color: #DFF0D8;
  }

  li.alert-error {
      background-color: #F2DEDE;
  }

  .alert-error .qq-upload-failed-text {
      display: inline;
  }
</style>
}
<section class="panel panel-default">
<header class="panel-heading font-bold">@ViewBag.SubTitle</header>
<div class="panel-body">
     @using (Html.BeginForm("EditHamper", "Admin", FormMethod.Post, new { @id = "productform" }))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
       
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @style = "font-weight:bold;" })
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control" })
        </div>
        <div class="form-group">
           @Html.LabelFor(m => m.Description, new { @style = "font-weight:bold;" })
           @Html.TextBoxFor(m => m.Description, new { @placeholder = "Description", @class = "form-control", @id = "descriptionfield", @style = "display:none" })
           <div>
                <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                    <div class="dropdown-menu">
                        <div class="input-group m-l-xs m-r-xs">
                        <input class="form-control input-sm" placeholder="URL" type="text" data-edit="createLink"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button">Add</button>
                        </div>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                    </div>
                          
                    <div class="btn-group hide">
                    <a class="btn btn-default btn-sm" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <div id="editor" class="form-control" style="overflow:scroll;height:150px;max-height:150px">
                    
                </div>
            </div>
        </div>
         <div class="form-group">
           @Html.LabelFor(m => m.Price, new { @style = "font-weight:bold;" })
           @Html.TextBoxFor(m => m.Price, new { @placeholder = "Price", @class = "form-control" })
        </div>
       
         <div class="form-group">
         @Html.LabelFor(m => m.Pictures, new { @style = "font-weight:bold;" })
         <br />
         * After uploading pictures, please click Submit to save the pictures with the product.
         <br />
         * Please upload images with width (@System.Web.Configuration.WebConfigurationManager.AppSettings["ProductImageWidth"]) and height (@System.Web.Configuration.WebConfigurationManager.AppSettings["ProductImageHeight"])
         <div id="thumbnail-fine-uploader"></div>
         </div>
         
         <div class="row">
            <div class="col-sm-6">
                <section class="panel panel-default">
                    <header class="panel-heading">
                        Products
                        <a href="javascript:void" class="btn btn-sm btn-default btn-mandatory" style="margin-left:20px">Manage</a>
                    </header>
     
                    <div class="table-responsive">
                            <table class="table table-striped m-b-none mandatory-table">
                                <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                   @foreach (var item in Model.Items)
                                   {
                                       if (item.IsMandatory)
                                       {
                                           <tr data-id="@item.ProductId">
                                           <td>@item.Product.Name</td>
                                           <td>@Decimal.Round(item.Product.Price,2)</td>
                                           </tr>
                                       }
                                   }
                                </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="panel panel-default">
                    <header class="panel-heading">
                        Optional Products
                        <a href="javascript:void" class="btn btn-sm btn-default btn-optional" style="margin-left:20px">Manage</a>
                    </header>
     
                    <div class="table-responsive">
                            <table class="table table-striped m-b-none optional-table">
                                <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                   {
                                       if (!item.IsMandatory)
                                       {
                                           <tr data-id="@item.ProductId">
                                           <td>@item.Product.Name</td>
                                           <td>@Decimal.Round(item.Product.Price,2)</td>
                                           </tr>
                                       }
                                   }
                                </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
         
         <div class="form-group">
           @Html.LabelFor(m => m.OptionalCount, new { @style = "font-weight:bold;" })
           @Html.TextBoxFor(m => m.OptionalCount, new {  @class = "form-control",@id="optionalcount" })
        </div>
         
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.GUID, new { @id = "guid" })
       @Html.HiddenFor(m => m.MandatoryIds, new { @id = "mandatoryids" })
      @Html.HiddenFor(m => m.OptionalIds, new { @id = "optionalids" })
       
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "CancelHamper", new { @id = Model.GUID }, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/totobobo/upload")
    <script type="text/javascript">
    function isNormalInteger(str) {
    var n = ~ ~Number(str);
    return String(n) === str && n >= 0;
}
$(document).ready(function () {
    $('#productTable').dataTable({
        "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "sPaginationType": "full_numbers",
        "bFilter": false,
        "bLengthChange": false,
        "aoColumnDefs": [{ "bSortable": false, "aTargets": [0]}]
    });

    $(".btn-mandatory").click(function () {
        $(".modal-hamper .modal-header>.modal-title").text("Products");
        var ids = [];
        $(".mandatory-table tbody>tr").each(function () {
            ids.push($(this).attr("data-id"));
        });
        var optional = [];
        $(".optional-table tbody>tr").each(function () {
            optional.push($(this).attr("data-id"));
        });

        var oTable = $('#productTable').dataTable();
        oTable.$("input[type='checkbox']", { "page": "all" }).each(function () {
            if (ids.indexOf($(this).val()) >= 0) {
                $(this).prop("checked", true);
            } else {
                $(this).prop("checked", false);
            }

            if (optional.indexOf($(this).val()) >= 0) {
                $(this).prop("disabled", true);
            } else {
                $(this).prop("disabled", false);
            }
        });
        $(".modal-hamper").modal();
    });

    $(".btn-optional").click(function () {
        $(".modal-hamper .modal-header>.modal-title").text("Optional Products");
        var ids = [];
        $(".mandatory-table tbody>tr").each(function () {
            ids.push($(this).attr("data-id"));
        });
        var optional = [];
        $(".optional-table tbody>tr").each(function () {
            optional.push($(this).attr("data-id"));
        });
        var oTable = $('#productTable').dataTable();
        oTable.$("input[type='checkbox']", { "page": "all" }).each(function () {
            if (optional.indexOf($(this).val()) >= 0) {
                $(this).prop("checked", true);
            } else {
                $(this).prop("checked", false);
            }

            if (ids.indexOf($(this).val()) >= 0) {
                $(this).prop("disabled", true);
            } else {
                $(this).prop("disabled", false);
            }
        });
        $(".modal-hamper").modal();
    });

    $(".btn-continue").click(function () {
        if ($(".modal-hamper .modal-header>.modal-title").text() == "Products") {
            $(".mandatory-table tbody>tr").remove();
        } else {
            $(".optional-table tbody>tr").remove();
        }
        var oTable = $('#productTable').dataTable();
        oTable.$("input[type='checkbox']:checked", { "page": "all" }).each(function () {

            var $tr = $("<tr></tr>");
            $tr.attr("data-id", $(this).val());
            var $tdname = $("<td></td>");
            $tdname.text($(this).closest("tr").find(".p-name").text());
            var $tdprice = $("<td></td>");
            $tdprice.text($(this).closest("tr").find(".p-price").text());
            $tr.append($tdname);
            $tr.append($tdprice);
            if ($(".modal-hamper .modal-header>.modal-title").text() == "Products") {
                $(".mandatory-table tbody").append($tr);
            } else {
                $(".optional-table tbody").append($tr);
            }
        });

    });

    var uploader = $('#thumbnail-fine-uploader').fineUploader({
        template: "qq-simple-thumbnails-template",
        thumbnails: {
            placeholders: {
                waitingPath: "../../images/assets/waiting-generic.png",
                notAvailablePath: "../../images/assets/not_available-generic.png"
            }
        },
        request: {
            endpoint: '@Url.Action("UploadPicture", "Admin")',
            params: { "guid": $("#guid").val(), "type": "Product" }
        },
        validation: {
            allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
            sizeLimit: 102400
        },
        session: {
            endpoint: '@Url.Action("GetPictures", "Admin")',
            params: { "guid": $("#guid").val() }
        },
        deleteFile: {
            enabled: true, // defaults to false
            endpoint: '@Url.Action("DeletePicture", "Admin")',
            params: { "guid": $("#guid").val() }
        }
    });

    uploader.on("complete", function (event, id, name, response, xhr) {
        if (response.success && $(".qq-upload-markasdefault").length > 0) {
            setMarkDefault();
        }
    });

    uploader.on("sessionRequestComplete", function (event, response, success, rawData) {
        if (success && $(".qq-upload-markasdefault").length > 0) {
            setMarkDefault();
        }
    });

    uploader.on('error', function (event, id, name, errorReason, xhrOrXdr) {
        alert(errorReason);
    });

    $('#productform').submit(function (e) {
        if (!isNormalInteger($("#optionalcount").val())) {
            alert("Max optional products selection is not a number");
            return false;
        }
        if (parseInt($("#optionalcount").val()) > $(".optional-table tbody>tr").length) {
            alert("Max optional products selection is larger than the total of optional products");
            return false;
        }

        var ids = [];
        $(".mandatory-table tbody>tr").each(function () {
            ids.push($(this).attr("data-id"));
        });

        if (ids.length <= 0) {
            alert("There's no products in this hamper!");
            return false;
        }

        var optional = [];
        $(".optional-table tbody>tr").each(function () {
            optional.push($(this).attr("data-id"));
        });

        $("#mandatoryids").val(ids.join());
        $("#optionalids").val(optional.join());

        $("#descriptionfield").val($("#editor").html());

        return true;
    });

    $("#editor").html($("#descriptionfield").val());

    $(".nav-main > li").each(function () {
        if ($(this).find("span[class='font-bold']").text() == "Manage Hamper") {
            $(this).addClass("active");
        }
    });
});

        function setMarkDefault() {
            markDefault();
            $(".qq-upload-markasdefault").each(function () {
                $(this).unbind("click");
                $(this).click(function () {
                    var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                    var uuid = $('#thumbnail-fine-uploader').fineUploader("getUuid", id);
                    var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                    $.ajax({
                        url: '@Url.Action("MarkAsDefault", "Admin")',
                        type: "POST",
                        dataType: "json",
                        data: { "id": id, "uuid": uuid, "guid": $("#guid").val() },
                        success: function (data) {
                            if (data.success) {
                                markAsUnDefault();
                                var r_id = data.id;
                                var name2 = $('#thumbnail-fine-uploader').fineUploader("getName", r_id);
                                var uuid2 = $('#thumbnail-fine-uploader').fineUploader("getUuid", r_id);
                                $('#thumbnail-fine-uploader').fineUploader("setName", r_id, uuid2 + "-default." + name2.split(".")[1]);
                                markDefault();
                            }
                        }
                    });

                });
            });
        }

        function markDefault() {
            $(".qq-upload-markasdefault").each(function () {
                var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                if (name.indexOf("-default") > 0) {
                    $(this).css("display", "none");
                    $(this).parent().find(".default-flag").eq(0).css("display", "block");
                } else {
                    $(this).css("display", "inline");
                    $(this).parent().find(".default-flag").eq(0).css("display", "none");
                }
            });
        }
        function markAsUnDefault() {
            $(".qq-upload-markasdefault").each(function () {
                var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                name = name.replace("-default", "");
                $('#thumbnail-fine-uploader').fineUploader("setName", id, name);
                $(this).css("display", "inline");
                $(this).parent().find(".default-flag").eq(0).css("display", "none");
            });
        }
</script>
<script type="text/template" id="qq-simple-thumbnails-template">
  <div class="qq-uploader-selector qq-uploader">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list">
      <li style="margin-bottom:5px;">
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
        <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
        <a class="qq-upload-markasdefault" href="javascript:void" style="display:none">Mark as Default</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <span class="qq-upload-failed-text"></span>
        <label class="label bg-info m-l-xs pull-right default-flag" style="display:none">Default</label>
      </li>
    </ul>
  </div>
</script>
<script type="text/template" id="qq-template-bootstrap">
  <div class="qq-uploader-selector qq-uploader span12">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button btn btn-success">
      <div><i class="icon-upload icon-white"></i> Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
      </li>
    </ul>
  </div>
</script>
}

<div class="modal fade in modal-hamper" id="ajaxModal">
      <div class="modal-body">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body modal-message">
            <section class="panel panel-default">
             <div class="table-responsive">
                <table class="table table-striped b-t b-light" id="productTable">
                    <thead>
                        <tr>
                        <th style="width:50px"></th>       
                        <th>Name</th>
                        <th style="width:100px">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                     @foreach (var item in Model.Products)
                     {
                         <tr>
                            <td  style="width:50px"> <input type="checkbox" value="@item.Id" style="width:30px;height:30px"/></td>
                            <td class="p-name">@item.Name</td>
                            <td class="p-price" style="width:100px">@Decimal.Round(item.Price, 2)</td>
                         </tr>
                     }
                    </tbody>
                </table>
            </div>
            </section>
        <div class="modal-footer" style="margin-top:0px">
            <a href="#" class="btn btn-primary btn-continue" data-dismiss="modal">Continue</a>
          <a href="#" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>
  </div>

