﻿@model TotoBobo.Mvc.Models.FeeModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Fee";
}
<section class="panel panel-default">
<header class="panel-heading font-bold">Setting Fee -- <b>@Model.DeliveryMethod / @Model.StateName</b></header>
<div class="panel-body">
     @using (Html.BeginForm("EditFee", "Admin", FormMethod.Post))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.DeliveryMethod):
            <br />
            @Html.DisplayFor(m => m.DeliveryMethod)
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.StateName):
            <br />
            @Html.DisplayFor(m => m.StateName)
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.Fee):
            @Html.TextBoxFor(m => m.Fee, new { @class = "form-control" })
        </div>

       @Html.HiddenFor(m => m.StateId)
       @Html.HiddenFor(m => m.DeliveryMethodId)
       @Html.HiddenFor(m => m.DeliveryMethod)
       @Html.HiddenFor(m => m.StateName)
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "ManageFee", new { id = Model.DeliveryMethodId }, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".nav-main > li").each(function () {
                if ($(this).find("span[class='font-bold']").text() == "Delivery Method") {
                    $(this).addClass("active");
                }
            });
        });
    </script>
}
