﻿@model TotoBobo.Mvc.Models.CategoryBannerModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Banner";
}
@section Styles{
@Styles.Render("~/Content/css/upload")
<style>
  /* For the bootstrapped demos */
  li.alert-success {
      background-color: #DFF0D8;
  }

  li.alert-error {
      background-color: #F2DEDE;
  }

  .alert-error .qq-upload-failed-text {
      display: inline;
  }
</style>
}
<section class="panel panel-default">
<header class="panel-heading font-bold">@ViewBag.SubTitle</header>
<div class="panel-body">
     @using (Html.BeginForm("EditCategoryBanner", "Admin", FormMethod.Post, new {@id="homebannerform" }))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TopBanner)
            <br />
            <div class="top_banner_uploader"></div>
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.Banner1)
            <br />
            <div class="banner1_uploader"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Banner1Link)
            @Html.TextBoxFor(m => m.Banner1Link, new { @class = "form-control" })
        </div>
      
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.GUID, new { @id = "guid" })
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "CancelBanner", new { @id = Model.GUID }, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/totobobo/upload")
    <script type="text/javascript">
        $(document).ready(function () {

            var uploader = $('.top_banner_uploader').fineUploader({
                template: "qq-simple-thumbnails-template",
                thumbnails: {
                    placeholders: {
                        waitingPath: "../../images/assets/waiting-generic.png",
                        notAvailablePath: "../../images/assets/not_available-generic.png"
                    }
                },
                request: {
                    endpoint: '@Url.Action("UploadBanner", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "CategoryTopBanner" }
                },
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                    itemLimit: 1
                },
                session: {
                    endpoint: '@Url.Action("GetBanner", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "CategoryTopBanner" }
                },
                deleteFile: {
                    enabled: true, // defaults to false
                    endpoint: '@Url.Action("DeleteBanner", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "CategoryTopBanner" }
                }
            });

            uploader.on("complete", function (event, id, name, response, xhr) {
                if (response.success) {
                    setBackground("CategoryTopBanner");
                }
            });

            uploader.on("sessionRequestComplete", function (event, response, success, rawData) {
                if (success) {
                    setBackground("CategoryTopBanner");
                }
            });

            uploader.on('error', function (event, id, name, errorReason, xhrOrXdr) {
                alert(errorReason);
            });

            var banner1uploader = $('.banner1_uploader').fineUploader({
                template: "qq-simple-thumbnails-template",
                thumbnails: {
                    placeholders: {
                        waitingPath: "../../images/assets/waiting-generic.png",
                        notAvailablePath: "../../images/assets/not_available-generic.png"
                    }
                },
                request: {
                    endpoint: '@Url.Action("UploadBanner", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "CategoryBanner1" }
                },
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                    itemLimit: 1
                },
                session: {
                    endpoint: '@Url.Action("GetBanner", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "CategoryBanner1" }
                },
                deleteFile: {
                    enabled: true, // defaults to false
                    endpoint: '@Url.Action("DeleteBanner", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "CategoryBanner1" }
                }
            });

            banner1uploader.on("complete", function (event, id, name, response, xhr) {
                if (response.success) {
                    setBackground("CategoryBanner1");
                }
            });

            banner1uploader.on("sessionRequestComplete", function (event, response, success, rawData) {
                if (success) {
                    setBackground("CategoryBanner1");
                }
            });

            banner1uploader.on('error', function (event, id, name, errorReason, xhrOrXdr) {
                alert(errorReason);
            });

            
            $('#homebannerform').submit(function (e) {
                //$("#descriptionfield").val($("#editor").html());
                return true;
            });

            //$("#editor").html($("#descriptionfield").val());

            $(".nav-main > li").each(function () {
                if ($(this).find("span[class='font-bold']").text() == "Manage Banner") {
                    $(this).addClass("active");
                }
            });
        });

        function setBackground(banner) {
            $(".qq-upload-fail").remove();
        }
</script>
<script type="text/template" id="qq-simple-thumbnails-template">
  <div class="qq-uploader-selector qq-uploader">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list">
      <li style="margin-bottom:5px;">
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
        <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
        <a class="qq-upload-markasdefault" href="javascript:void" style="display:none">Mark as Default</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <span class="qq-upload-failed-text"></span>
        <label class="label bg-info m-l-xs pull-right default-flag" style="display:none">Default</label>
      </li>
    </ul>
  </div>
</script>
}

