﻿@model TotoBobo.Mvc.Models.DeliveryModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Edit Delivery";
}
@section Styles{
@Styles.Render("~/Content/css/upload")
<style>
  /* For the bootstrapped demos */
  li.alert-success {
      background-color: #DFF0D8;
  }

  li.alert-error {
      background-color: #F2DEDE;
  }

  .alert-error .qq-upload-failed-text {
      display: inline;
  }
</style>
}
<section class="panel panel-default">
<header class="panel-heading font-bold">@ViewBag.SubTitle</header>
<div class="panel-body">
     @using (Html.BeginForm("EditDelivery", "Admin", FormMethod.Post))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name",  @class = "form-control" })
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.IsEnabled)
            @Html.CheckBoxFor(m =>m.IsEnabled)
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.Logo)
            <br />
             * After uploading pictures, please click Submit to save the pictures with the product.
             <br />
             * Only one picture is allowed.
             <div id="thumbnail-fine-uploader"></div>
         </div>
        
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.GUID, new { @id = "guid" })
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "CancelDelivery", null, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/totobobo/upload")
    <script type="text/javascript">
        $(document).ready(function () {

            var uploader = $('#thumbnail-fine-uploader').fineUploader({
                template: "qq-simple-thumbnails-template",
                thumbnails: {
                    placeholders: {
                        waitingPath: "../../images/assets/waiting-generic.png",
                        notAvailablePath: "../../images/assets/not_available-generic.png"
                    }
                },
                request: {
                    endpoint: '@Url.Action("UploadPicture", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "DeliveryMethod" }
                },
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                    itemLimit: 1,
                    sizeLimit: 102400
                },
                session: {
                    endpoint: '@Url.Action("GetPictures", "Admin")',
                    params: { "guid": $("#guid").val() }
                },
                deleteFile: {
                    enabled: true, // defaults to false
                    endpoint: '@Url.Action("DeletePicture", "Admin")',
                    params: { "guid": $("#guid").val() }
                }
            });

            $(function () {
                $(".nav-main > li").each(function () {
                    if ($(this).find("span[class='font-bold']").text() == "Delivery Method") {
                        $(this).addClass("active");
                    }
                });
            });
        });

     
</script>
<script type="text/template" id="qq-simple-thumbnails-template">
  <div class="qq-uploader-selector qq-uploader">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list">
      <li style="margin-bottom:5px;">
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
        <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
        <a class="qq-upload-markasdefault" href="javascript:void" style="display:none">Mark as Default</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <label class="label bg-info m-l-xs pull-right default-flag" style="display:none">Default</label>
      </li>
    </ul>
  </div>
</script>
<script type="text/template" id="qq-template-bootstrap">
  <div class="qq-uploader-selector qq-uploader span12">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button btn btn-success">
      <div><i class="icon-upload icon-white"></i> Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
      </li>
    </ul>
  </div>
</script>
}