﻿@model TotoBobo.Mvc.Models.EditProductModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Product";
}
@section Styles{
@Styles.Render("~/Content/css/upload")
<style>
  /* For the bootstrapped demos */
  li.alert-success {
      background-color: #DFF0D8;
  }

  li.alert-error {
      background-color: #F2DEDE;
  }

  .alert-error .qq-upload-failed-text {
      display: inline;
  }
</style>
}
<section class="panel panel-default">
<header class="panel-heading font-bold">@ViewBag.SubTitle</header>
<div class="panel-body">
     @using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post, new { @id = "productform" }))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.CategoryId, new { @style = "font-weight:bold;" })
            @Html.DropDownListFor(m => m.CategoryId, null, new { @class = "input-sm form-control input-s-sm inline v-middle", @style = "width:100%" })
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.BrandId, new { @style = "font-weight:bold;" })
            @Html.DropDownListFor(m => m.BrandId, null, new { @class = "input-sm form-control input-s-sm inline v-middle", @style = "width:100%" })
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.CountryId, new { @style = "font-weight:bold;" })
            @Html.DropDownListFor(m => m.CountryId, null, new { @class = "input-sm form-control input-s-sm inline v-middle", @style = "width:100%" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @style = "font-weight:bold;" })
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control" })
        </div>
        <div class="form-group">
           @Html.LabelFor(m => m.Description, new { @style = "font-weight:bold;" })
           @Html.TextBoxFor(m => m.Description, new { @placeholder = "Description", @class = "form-control", @id = "descriptionfield", @style = "display:none" })
           <div>
                <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                    <div class="dropdown-menu">
                        <div class="input-group m-l-xs m-r-xs">
                        <input class="form-control input-sm" placeholder="URL" type="text" data-edit="createLink"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button">Add</button>
                        </div>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                    </div>
                    
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Video"><i class="fa fa-video-camera"></i></a>
                        <div class="dropdown-menu">
                            <div class="input-group m-l-xs m-r-xs">
                            <input class="form-control input-sm" placeholder="Embed content" type="text" data-edit="inserthtml"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button">Add</button>
                            </div>
                            </div>
                        </div>    
                    </div>      

                    <div class="btn-group hide">
                    <a class="btn btn-default btn-sm" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <div id="editor" class="form-control" style="overflow:scroll;height:150px;max-height:150px">
                    
                </div>
            </div>
        </div>
         <div class="form-group">
           @Html.LabelFor(m => m.Price, new { @style = "font-weight:bold;" })
           @Html.TextBoxFor(m => m.Price, new { @placeholder = "Price", @class = "form-control", @id = "product-price" })
        </div>
         <div class="form-group">
           @Html.LabelFor(m => m.Weight, new { @style = "font-weight:bold;" })
           @Html.TextBoxFor(m => m.Weight, new { @placeholder = "Weight", @class = "form-control" })
        </div>
         <div class="form-group">
         @Html.LabelFor(m => m.Pictures, new { @style = "font-weight:bold;" })
         <br />
         * After uploading pictures, please click Submit to save the pictures with the product.
         <br />
         * Please upload images with width (@System.Web.Configuration.WebConfigurationManager.AppSettings["ProductImageWidth"]) and height (@System.Web.Configuration.WebConfigurationManager.AppSettings["ProductImageHeight"])
         <div id="thumbnail-fine-uploader"></div>
         </div>
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.GUID, new { @id = "guid" })
       @Html.HiddenFor(m => m.TagXml, new { @id = "tagxml" })
       @Html.HiddenFor(m => m.RelatedIds, new { @id = "relatedIds" })  
      @Html.HiddenFor(m => m.AccessoryIds, new { @id = "accessoryIds" })  
         <div class="form-group" style="display:none;">
           @Html.LabelFor(m => m.RelatedItems, new { @style = "font-weight:bold;" })
           <div class="relatedContainer">
           @foreach (var item in Model.RelatedItems)
           {
               <div class="checkbox i-checks">
                    <label>
                    @if (item.IsRelated)
                    {
                        <input type="checkbox" value="@item.Id" checked="checked"/>
                    }
                    else
                    {
                        <input type="checkbox" value="@item.Id"/>
                    }
                    <i></i>
                    @item.Name
                    </label>
                </div>
           }
           </div>
        </div> 
         <div class="form-group">
           @Html.LabelFor(m => m.Accessories, new { @style = "font-weight:bold;" })
           <div class="accessoryContainer">
           @foreach (var item in Model.Accessories)
           {
               <div class="checkbox i-checks">
                    <label>
                    @if (item.IsAccessory)
                    {
                        <input type="checkbox" value="@item.Id" checked="checked"/>
                    }
                    else
                    {
                        <input type="checkbox" value="@item.Id"/>
                    }
                    <i></i>
                    @item.Name
                    </label>
                </div>
           }
           </div>
        </div>                                                
       <section class="panel panel-default">
            <header class="panel-heading">
                Tags
                 <a href="javascript:void" class="btn btn-sm btn-default btn-tag" style="margin-left:20px"><i class="fa fa-plus"></i> Create New</a>
            </header>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light" id="tagsTable">
                <thead>
                    <tr>       
                    <th width="100px">Name</th>
                    <th>Values</th>
                    <th width="200px"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var tag in Model.Tags)
                {
                    <tr data-key="@tag.Key">
                    <td class="tagkey">@tag.Key</td>
                    <td class="tagvalues">
                    @if (tag.Values != null)
                    {
                        foreach (var value in tag.Values)
                        {
                            <a href="javascript:void" class="btn btn-sm btn-default btn-rounded m-b-xs tagvalue" data-price="@value.Price">@value.Value</a>
                        }
                    }
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javascript:void" class="tagedit">Edit</a>
                            </div>
                            <div class="col-sm-6">
                               <a href="javascript:void" class="tagdelete">Delete</a>
                            </div>
                        </div>
                    </td>
                    </tr>
                }
                </tbody>
                </table>
            </div>
        </section>
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "CancelProduct", new { @id = Model.GUID }, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/totobobo/upload")
    <script type="text/javascript">
        function addTagValue(value, price) {
            if (!$.isNumeric(price)) {
                price = $("#product-price").val();
            }
            var $li = $('<li class="list-group-item bg-primary"></li>');
            var $span = $('<span class="pull-right" style="margin-left:10px;margin-top:5px" ></span>');
            var $link = $('<a href="#"><i class="fa fa-times fa-fw"></i></a>');
            var $div = $('<div class="clear text-white row inp-tagrow"></div>');
            var $input = $('<div class="col-sm-6">Tag Value: <input class="form-control inp-tagvalue" type="text" value="' + value + '"/></div>');
            var $price = $('<div class="col-sm-6">Adjusted Price: <input class="form-control inp-tagprice" type="text" value="' + price + '"/></div>');
            $span.append($link);
            $div.append($input);
            $div.append($price);
            $li.append($span);
            $li.append($div);
            $(".list-values").append($li);
            $(".list-values").sortable();
            $link.click(function () {
                $(this).closest("li").remove();
            });
        }
        $(document).ready(function () {
            $(".btn-tag").click(function () {
                var length = $('#tagsTable').find('tbody').find('tr').length;
                         
                if (length >= 1)
                {
                    alert("Too many items (" + length + ") would be created. Item limit is 1.");
                    return;
                }                
                $("#tagName").val("");
                $(".list-values li").remove();
                $(".modal-addTag").attr("data-key", "");
                $(".modal-addTag").modal();
            });

            $(".btn-addvalue").click(function () {
                addTagValue("", $("#product-price").val());
            });

            $(".tagedit").click(function () {
                var key = $.trim($(this).closest("tr").find(".tagkey").text());
                $("#tagName").val(key);

                $(".modal-addTag").attr("data-key", key);

                $(".list-values li").remove();
                $(this).closest("tr").find(".tagvalues .tagvalue").each(function () {
                    addTagValue($(this).text(), $(this).attr('data-price'));
                });
                $(".modal-addTag").modal();
            });

            $(".tagdelete").click(function () {
                $(this).closest("tr").remove();
            });

            $(".btn-addtag").click(function () {
                if ($("#tagName").val() == null || $("#tagName").val() == undefined || $.trim($("#tagName").val()) == "") {
                    alert("Name is required!");
                    return false;
                }

                var nameExists = false;
                $(".tagkey").each(function () {
                    if ($.trim($("#tagName").val()).toUpperCase() == $.trim($(this).text()).toUpperCase()) {
                        if ($(".modal-addTag").attr("data-key") == "") {
                            nameExists = true;
                        } else if ($(".modal-addTag").attr("data-key").toUpperCase() != $.trim($("#tagName").val()).toUpperCase()) {
                            nameExists = true;
                        }
                    }
                });
                if (nameExists) {
                    alert("The name you input already exists. Please choose a different one!");
                    return false;
                }
                var valueValid = true;
                var values = [];
                $(".inp-tagrow").each(function () {
                    var inpVal = $(this).find(".inp-tagvalue").eq(0);
                    var inpPrice = $(this).find(".inp-tagprice").eq(0);
                    if ($.trim(inpVal.val()) == "" || !$.isNumeric(inpPrice.val())) {
                        valueValid = false;
                    } else {
                        if (values.indexOf($.trim(inpVal.val()).toUpperCase()) >= 0) {
                            valueValid = false;
                        } else {
                            values.push({ "value": $.trim(inpVal.val()).toUpperCase(), "price": inpPrice.val() });
                        }
                    }
                });
                if (values.length == 0)
                    valueValid = false;
                if (!valueValid) {
                    alert("Either there's no value input or empty value or duplicate values or invalid price, please check it!");
                    return false;
                }
                if ($(".modal-addTag").attr("data-key") == "") {
                    var tr = $("<tr></tr>");
                    var ntd = $("<td class='tagkey'></td>");
                    var vtd = $("<td class='tagvalues'></td>");
                    var ctd = $("<td></td>");
                    var row = $("<div class='row'></div>");
                    var avdiv1 = $("<div class='col-sm-6'></div>");
                    var avdiv2 = $("<div class='col-sm-6'></div>");
                    var avbtn1 = $("<a href='javascript:void' >Edit</a>");
                    var avbtn2 = $("<a href='javascript:void'>Delete</a>");
                    avdiv1.append(avbtn1);
                    avdiv2.append(avbtn2);
                    row.append(avdiv1);
                    row.append(avdiv2);
                    ctd.append(row);
                    ntd.text($.trim($("#tagName").val()));
                    tr.append(ntd);
                    tr.append(vtd);
                    tr.append(ctd);
                    tr.attr("data-key", $.trim($("#tagName").val()));
                    for (var i = 0; i < values.length; i++) {
                        vtd.append($('<a href="javascript:void" class="btn btn-sm btn-default btn-rounded m-b-xs tagvalue" style="margin-left:5px" data-price="' + values[i]["price"] + '">' + values[i]["value"] + '</a>'));
                    }
                    $("#tagsTable tbody").append(tr);
                    avbtn1.click(function () {
                        var key = $.trim($(this).closest("tr").find(".tagkey").text());
                        $("#tagName").val(key);
                        $(".modal-addTag").attr("data-key", key);

                        $(".list-values li").remove();
                        $(this).closest("tr").find(".tagvalues .tagvalue").each(function () {
                            addTagValue($(this).text(), $(this).attr('data-price'));
                        });
                        $(".modal-addTag").modal();

                    });
                    avbtn2.click(function () {
                        $(this).closest("tr").remove();
                    });
                } else {
                    var key = $(".modal-addTag").attr("data-key");
                    var tr = $("#tagsTable tbody tr[data-key='" + key + "']").eq(0);
                    if (tr != null) {
                        var newkey = $.trim($("#tagName").val());
                        tr.attr("data-key", newkey);
                        tr.find(".tagkey").text(newkey);
                        tr.find(".tagvalues .tagvalue").remove();
                        for (var i = 0; i < values.length; i++) {
                            tr.find(".tagvalues").append($('<a href="javascript:void" class="btn btn-sm btn-default btn-rounded m-b-xs tagvalue" style="margin-left:5px" data-price="' + values[i]["price"] + '">' + values[i]["value"] + '</a>'));
                        }
                    }
                }
            });
            var uploader = $('#thumbnail-fine-uploader').fineUploader({
                template: "qq-simple-thumbnails-template",
                thumbnails: {
                    placeholders: {
                        waitingPath: "../../images/assets/waiting-generic.png",
                        notAvailablePath: "../../images/assets/not_available-generic.png"
                    }
                },
                request: {
                    endpoint: '@Url.Action("UploadPicture", "Admin")',
                    params: { "guid": $("#guid").val(), "type": "Product" }
                },
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                    itemLimit: 20,
                    sizeLimit: 102400
                },
                session: {
                    endpoint: '@Url.Action("GetPictures", "Admin")',
                    params: { "guid": $("#guid").val() }
                },
                deleteFile: {
                    enabled: true, // defaults to false
                    endpoint: '@Url.Action("DeletePicture", "Admin")',
                    params: { "guid": $("#guid").val() }
                }
            });

            uploader.on("complete", function (event, id, name, response, xhr) {
                if (response.success && $(".qq-upload-markasdefault").length > 0) {
                    setMarkDefault();
                    SetAddTitle();
                }
            });

            uploader.on("sessionRequestComplete", function (event, response, success, rawData) {
                if (success && $(".qq-upload-markasdefault").length > 0) {
                    setMarkDefault();
                    SetAddTitle();
                }
            });

            uploader.on('error', function (event, id, name, errorReason, xhrOrXdr) {
                //alert(errorReason);
            });

            $('#productform').submit(function (e) {
                var tags = "<Tags>";
                $("#tagsTable tbody tr").each(function () {
                    var prodtag = "<ProductTag>";
                    prodtag = prodtag + "<Key>";
                    prodtag = prodtag + $.trim($(this).find(".tagkey").text());
                    prodtag = prodtag + "</Key>";
                    prodtag = prodtag + "<Values>";
                    $(this).find(".tagvalues .tagvalue").each(function () {
                        prodtag = prodtag + "<ProductTagValue><Value>";
                        prodtag = prodtag + $.trim($(this).text());
                        prodtag = prodtag + "</Value>";
                        prodtag = prodtag + "<Price>";
                        prodtag = prodtag + $.trim($(this).attr('data-price'));
                        prodtag = prodtag + "</Price>";
                        prodtag = prodtag + "</ProductTagValue>";
                    });
                    prodtag = prodtag + "</Values>";
                    prodtag = prodtag + "</ProductTag>";
                    tags = tags + prodtag;
                });
                tags = tags + "</Tags>";
                $("#tagxml").val(tags);
                $("#descriptionfield").val($("#editor").html());
                var ids = "";
                $(".relatedContainer input[type='checkbox']:checked").each(function () {
                    ids = ids + $(this).val() + ",";
                });
                if (ids.length > 0)
                    ids = ids.substring(0, ids.length - 1);
                $("#relatedIds").val(ids);

                var accids = "";
                $(".accessoryContainer input[type='checkbox']:checked").each(function () {
                    accids = accids + $(this).val() + ",";
                });
                if (accids.length > 0)
                    accids = accids.substring(0, accids.length - 1);
                $("#accessoryIds").val(accids);
                return true;
            });

            $("#editor").html($("#descriptionfield").val());

            $(".nav-main > li").each(function () {
                if ($(this).find("span[class='font-bold']").text() == "Manage Product") {
                    $(this).addClass("active");
                }
            });

            $(".btn-addtitle").click(function () {
                $.ajax({
                    url: '@Url.Action("AddTitle", "Admin")',
                    type: "POST",
                    dataType: "json",
                    data: { "id": $(".modal-addTitle").attr("data-id"), "uuid": $(".modal-addTitle").attr("data-uuid"), "guid": $("#guid").val(), "title": $("#pictitle").val() },
                    success: function (data) {
                        if (data.success) {
                            $(".qq-upload-addtitle").each(function () {
                                var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                                if (id == data.id) {
                                    $(this).parent().find(".qq-upload-title").eq(0).text($("#pictitle").val());
                                }
                            });
                        }
                    }
                });
            });
        });

        function SetAddTitle() {
            $.ajax({
                url: '@Url.Action("GetTitles", "Admin")',
                type: "GET",
                dataType: "json",
                data: { "guid": $("#guid").val() },
                success: function (data) {
                    if (data.length > 0) {
                        $(".qq-upload-addtitle").each(function () {
                            var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                            var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                            for (var i = 0; i < data.length; i++) {
                                //alert(data[i].key);
                                if (name.indexOf(data[i].key)>=0) {
                                    $(this).parent().find(".qq-upload-title").eq(0).text(data[i].value);
                                }
                            }
                        });
                    }
                }
            });
            $(".qq-upload-addtitle").each(function () {
                $(this).unbind("click");
                $(this).click(function () {
                    var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                    var uuid = $('#thumbnail-fine-uploader').fineUploader("getUuid", id);
                    $(".modal-addTitle").attr("data-uuid", uuid);
                    $(".modal-addTitle").attr("data-id", id);
                    $(".modal-addTitle").modal();
                    var title = $(this).parent().find(".qq-upload-title").eq(0).text();
                    $("#pictitle").val(title);
                });
            });
        }

        function setMarkDefault() {
            markDefault();
            $(".qq-upload-markasdefault").each(function () {
                $(this).unbind("click");
                $(this).click(function () {
                    var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                    var uuid = $('#thumbnail-fine-uploader').fineUploader("getUuid", id);
                    var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                    $.ajax({
                        url: '@Url.Action("MarkAsDefault", "Admin")',
                        type: "POST",
                        dataType: "json",
                        data: { "id": id, "uuid": uuid, "guid": $("#guid").val() },
                        success: function (data) {
                            if (data.success) {
                                markAsUnDefault();
                                var r_id = data.id;
                                var name2 = $('#thumbnail-fine-uploader').fineUploader("getName", r_id);
                                var uuid2 = $('#thumbnail-fine-uploader').fineUploader("getUuid", r_id);
                                $('#thumbnail-fine-uploader').fineUploader("setName", r_id, uuid2 + "-default." + name2.split(".")[1]);
                                markDefault();
                            }
                        }
                    });

                });
            });

            
        }

        function markDefault() {
            $(".qq-upload-markasdefault").each(function () {
                var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                if (name.indexOf("-default") > 0) {
                    $(this).css("display", "none");
                    $(this).parent().find(".default-flag").eq(0).css("display", "block");
                } else {
                    $(this).css("display", "inline");
                    $(this).parent().find(".default-flag").eq(0).css("display", "none");
                }
            });
        }
        function markAsUnDefault() {
            $(".qq-upload-markasdefault").each(function () {
                var id = $('#thumbnail-fine-uploader').fineUploader("getId", $(this));
                var name = $('#thumbnail-fine-uploader').fineUploader("getName", id);
                name = name.replace("-default", "");
                $('#thumbnail-fine-uploader').fineUploader("setName", id, name);
                $(this).css("display", "inline");
                $(this).parent().find(".default-flag").eq(0).css("display", "none");
            });
        }
</script>
<script type="text/template" id="qq-simple-thumbnails-template">
  <div class="qq-uploader-selector qq-uploader">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button">
      <div>Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list">
      <li style="margin-bottom:5px;">
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
        <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
        <a class="qq-upload-markasdefault" href="javascript:void" style="display:none">Mark as Default</a>
        <a class="qq-upload-addtitle" href="javascript:void">Add Title</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
        <span class="qq-upload-failed-text"></span>
        <span class="qq-upload-title"></span>
        <label class="label bg-info m-l-xs pull-right default-flag" style="display:none">Default</label>
      </li>
    </ul>
  </div>
</script>
<script type="text/template" id="qq-template-bootstrap">
  <div class="qq-uploader-selector qq-uploader span12">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
      <span>Drop files here to upload</span>
    </div>
    <div class="qq-upload-button-selector qq-upload-button btn btn-success">
      <div><i class="icon-upload icon-white"></i> Upload a file</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
      </li>
    </ul>
  </div>
</script>
}

<div class="modal fade in modal-addTag" id="ajaxModal">
      <div class="modal-body">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Tag</h4>
        </div>
        <div class="modal-body modal-message">
            <div class="form-group">
                <label for="tagName">Name</label>
                <input class="form-control" id="tagName" name="tagName" placeholder="Name" type="text" value="">
            </div>
           
            <div class="">
                <h4 class="m-t-none">Values <small>(drag to sort)</small>
                <a href="javascript:void" class="btn btn-sm btn-default btn-addvalue" style="margin-left:20px"><i class="fa fa-plus"></i> Add</a>
                </h4>
                <ul class="list-group gutter list-group-lg list-group-sp sortable list-values">
                  
                  
                </ul>
              </div>
        </div>
        <div class="modal-footer" style="margin-top:0px">
            <a href="#" class="btn btn-primary btn-continue btn-addtag" data-dismiss="modal">Continue</a>
          <a href="#" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>
  </div>

  <div class="modal fade in modal-addTitle" id="ajaxModal" data-uuid="" data-id="">
      <div class="modal-body">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Title</h4>
        </div>
        <div class="modal-body modal-message">
            <div class="form-group">
                <label for="pictitle">Title</label>
                <input class="form-control" id="pictitle" name="pictitle" placeholder="Title" type="text" value="">
            </div>
          
        </div>
        <div class="modal-footer" style="margin-top:0px">
            <a href="#" class="btn btn-primary btn-continue btn-addtitle" data-dismiss="modal">Continue</a>
          <a href="#" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>
  </div>

