﻿@model TotoBobo.Mvc.Models.NewsletterModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Newsletter";
}
@section Styles{
@Styles.Render("~/Content/css/datepicker")
}
<section class="panel panel-default">
<header class="panel-heading font-bold">@ViewBag.SubTitle</header>
<div class="panel-body">
     @using (Html.BeginForm("EditNews", "Admin", FormMethod.Post, new { @id = "newsform" }))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @placeholder = "Title", @class = "form-control" })
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.Body)
            @Html.TextBoxFor(m => m.Body, new {  @class = "form-control newsbody",@style="display:none" })
            <div>
                <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                    <div class="dropdown-menu">
                        <div class="input-group m-l-xs m-r-xs">
                        <input class="form-control input-sm" placeholder="URL" type="text" data-edit="createLink"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button">Add</button>
                        </div>
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                    </div>
                          
                    <div class="btn-group hide">
                    <a class="btn btn-default btn-sm" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                    </div>
                    <div class="btn-group">
                    <a class="btn btn-default btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                    <a class="btn btn-default btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <div id="editor" class="form-control" style="overflow:scroll;height:150px;max-height:150px">
                    
                </div>
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.SentType)
            @Html.DropDownListFor(m => m.SentType,null, new {  @class = "form-control" })
        </div>
          <div class="form-group">
            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, new { @class="input-sm input-s datepicker-input form-control" })
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.IsEnabled)<br />
            @Html.CheckBoxFor(m => m.IsEnabled, new { @style="height:30px;width:30px;"})
        </div>
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.ProductIds, new { @class="productids"});
       <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="prodTable">
        <thead>
            <tr>
            <th style="width:100px"></th>       
            <th style="width:200px"></th>
            <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                   
                    <td>
                    @if (item.IsChecked)
                    {
                        <input type="checkbox" checked="checked" class="checkstatus" />
                    }
                    else
                    {
                        <input type="checkbox" class="checkstatus" />
                    }
                    <input type="hidden" value="@item.ProductId" class="pid" />
                    </td>
                    <td><img src="@item.Picture" width="100px" alt="" /></td>
                    <td>@item.ProductName</td>
                </tr>
            }
            
        </tbody>
        </table>
        </div>
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "ManageNews", null, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>
@section Scripts {
@Scripts.Render("~/bundles/totobobo/datepicker")
    <script type="text/javascript">

        $(function () {
            var oTable = $('#prodTable').dataTable({
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "sPaginationType": "full_numbers",
                "bFilter": true,
                "bLengthChange": false,
                "iDisplayLength": 5,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }, { "bSortable": false, "aTargets": [1]}]
            });

            $(".nav-main > li").each(function () {
                if ($(this).find("span[class='font-bold']").text() == "Manage News") {
                    $(this).addClass("active");
                }
            });

            $('#newsform').submit(function (e) {
                var prodids = "";
                $("#prodTable tbody>tr").each(function () {
                    if ($(this).find(":checked").length > 0) {
                        prodids = prodids + $(this).find(".pid").eq(0).val() + ",";
                    }
                });
                if (prodids.length > 0)
                    prodids = prodids.substring(0, prodids.length - 1);
                $(".productids").val(prodids);
                $(".newsbody").val($("#editor").html());

                return true;
            });

            $("#editor").html($(".newsbody").val());

        });
        
    </script>
}
