﻿@model TotoBobo.Mvc.Models.EditUserModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage User";
}

<section class="panel panel-default">
    <header class="panel-heading font-bold">@ViewBag.SubTitle</header>
        <div class="panel-body">
            @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name",  @class = "form-control", @readOnly = "readOnly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Password", @class = "form-control" })
                </div>
                @Html.HiddenFor(m => m.Id)
                <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
                @Html.ActionLink("Cancel", "ManageUser", null, new { @class = "btn btn-sm btn-default" });
            }
        </div>
</section>
@section Scripts
{
    <script type="text/javascript">
        $(function ()
        {
            $(".nav-main > li").each(function ()
            {
                if ($(this).find("span[class='font-bold']").text() == "Manage User")
                {
                    $(this).addClass("active");
                }
            });
        });
    </script>
}