﻿@model TotoBobo.Mvc.Models.ManageNewsModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Newsletter";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Newsletters
        <a href="@Url.Action("EditNews", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>
      
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="orderTable">
        <thead>
            <tr>
            <th>Title</th>       
            <th>Body</th>
            <th>Sent Type</th>
            <th>Status</th>
            <th width="200"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Newsletters)
            {
                <tr>
                   
                    <td>@item.Title</td>
                    <td>@Html.Raw(item.Body)</td>
                    <td>@item.SentType</td>
                    <td>
                    @if (item.IsEnabled)
                    {
                        <label>Enabled</label>
                    }
                    else
                    {
                        <label>Disabled</label>
                    }
                    </td>
                   
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.ActionLink("Edit", "EditNews", new { id = @item.Id }, new { })
                            </div>
                           
                        </div>  
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#orderTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": true,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [4] }]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage News") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
