﻿@model TotoBobo.Mvc.Models.ManageDeliveryModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Delivery";
}

<section class="panel panel-default">
    <header class="panel-heading">
        Delivery Methods
        <a href="@Url.Action("EditDelivery", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="deliveriesTable">
        <thead>
            <tr>       
            <th>
            </th>
             <th>Name
            </th>
             <th>Status
            </th>
            <th width="250"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Deliveries)
            {
                <tr>
                    <td><img src="@item.Logo" alt="Logo" /></td>
                    <td valign="middle" style="vertical-align:middle">@item.Name</td>
                    <td valign="middle" style="vertical-align:middle">@item.Status</td>
                    <td valign="middle" style="vertical-align:middle">
                        <div class="row">
                          @*  <div class="col-sm-6">
                                @Html.ActionLink("Manage Fee", "ManageFee", new { id = @item.Id }, new { })
                            </div>
                            <div class="col-sm-6">*@
                                @Html.ActionLink("Edit", "EditDelivery", new { id = @item.Id }, new { })
                            @*</div>*@
                        </div>
                        
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#deliveriesTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }, { "bSortable": false, "aTargets": [3]}]
        });

        oTable.fnSort([[1, 'asc']]);
    });

    $(".nav-main > li").each(function () {
        if ($(this).find("span[class='font-bold']").text() == "Delivery Method") {
            $(this).addClass("active");
        }
    });
</script>
}

