﻿@model TotoBobo.Mvc.Models.ManageStateModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage State";
}
<section class="panel panel-default">
    <header class="panel-heading">
        States
        <a href="@Url.Action("EditState", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="statesTable">
        <thead>
            <tr>       
            <th>Name
            </th>
            <th width="300"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.States)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.ActionLink("Manage Cities", "ManageCities", new { id = @item.Id }, new { })
                            </div>
                            <div class="col-sm-3">
                                @Html.ActionLink("Edit", "EditState", new { id = @item.Id }, new { })
                            </div>
                            <div class="col-sm-3">
                                @using (Html.BeginForm(
                                    "DeleteState",
                                    "Admin",
                                    new { id = @item.Id },
                                    FormMethod.Post,
                                    new { id = "myform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:document.getElementById('myform+@item.Id').submit()">Delete</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#statesTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [1] }]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage State") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
