﻿@model TotoBobo.Mvc.Models.ManagePromotionModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Promotion";
}

<div class="row">
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                Featured Products
            </header>
     
            <div class="table-responsive">
                 <table class="table table-striped m-b-none featuretable">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Product Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach (var fprod in Model.FeaturedProducts)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle">@fprod.Category</td>
                             <td valign="middle" style="vertical-align:middle">@fprod.Name</td>
                             <td style="vertical-align:middle">@using (Html.BeginForm(
                                    "UnFeature",
                                    "Admin",
                                    new { id = @fprod.Id },
                                    FormMethod.Post,
                                    new { id = "unfeatureform+" + @fprod.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="UnFeature" style="width:100px" />
                                }</td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                Non-Featured Products
            </header>
     
            <div class="table-responsive">
                 <table class="table table-striped m-b-none unfeaturetable">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Product Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      @foreach (var fprod in Model.NonFeaturedProducts)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle">@fprod.Category</td>
                             <td valign="middle" style="vertical-align:middle">@fprod.Name</td>
                             <td style="vertical-align:middle">@using (Html.BeginForm(
                                    "Feature",
                                    "Admin",
                                    new { id = @fprod.Id },
                                    FormMethod.Post,
                                    new { id = "featureform+" + @fprod.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Feature" style="width:100px"/>
                                }</td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                Recommended Products
            </header>
     
            <div class="table-responsive">
                 <table class="table table-striped m-b-none recommendtable">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Product Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach (var fprod in Model.RecommendProducts)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle">@fprod.Category</td>
                             <td valign="middle" style="vertical-align:middle">@fprod.Name</td>
                             <td style="vertical-align:middle">@using (Html.BeginForm(
                                    "UnRecommend",
                                    "Admin",
                                    new { id = @fprod.Id },
                                    FormMethod.Post,
                                    new { id = "unrecommform+" + @fprod.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Un-Recommend" style="width:120px" />
                                }</td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                Non-Recommended Products
            </header>
     
            <div class="table-responsive">
                 <table class="table table-striped m-b-none unrecommendtable">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Product Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      @foreach (var fprod in Model.NotRecommendProducts)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle">@fprod.Category</td>
                             <td valign="middle" style="vertical-align:middle">@fprod.Name</td>
                             <td style="vertical-align:middle">@using (Html.BeginForm(
                                    "Recommend",
                                    "Admin",
                                    new { id = @fprod.Id },
                                    FormMethod.Post,
                                    new { id = "recommform+" + @fprod.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Recommend" style="width:100px"/>
                                }</td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    $(function () {
        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Promotion") {
                $(this).addClass("active");
            }
        });

        var oTable = $('.featuretable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "iDisplayLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [2] }]
        });
        var oTable2 = $('.unfeaturetable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bLengthChange": false,
            "iDisplayLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [2] }]
        });

        var oTable3 = $('.recommendtable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "iDisplayLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [2]}]
        });
        var oTable4 = $('.unrecommendtable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bLengthChange": false,
            "iDisplayLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [2]}]
        });
    });
</script>
}