﻿@model TotoBobo.Mvc.Models.ManageQTModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + "Manage Question Type";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Question Type
        <a href="@Url.Action("EditQT", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="productTable">
        <thead>
            <tr>       
            <th>Name</th>
            <th width="300"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Types)
            {
                <tr>
                    <td><a href="@Url.Action("FAQ", "Home", new { questionTypeId = item.Id })">@item.Name</a></td>
                    <td>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.ActionLink("Edit", "EditQT", new { id = @item.Id }, new { })
                            </div>
                            <div  class="col-sm-3">
                                @using (Html.BeginForm(
                                    "DeleteQT",
                                    "Admin",
                                    new { id = @item.Id },
                                    FormMethod.Post,
                                    new { id = "myform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:deleteQT('myform+@item.Id');">Delete</a>
                                }
                          </div> 
                        </div>  
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#productTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [1]}]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Question Type") {
                $(this).addClass("active");
            }
        });

        $(".btn-continue").click(function () {
            document.getElementById($(".modal-confirm").attr("formid")).submit();
        });
    });

    function deleteQT(formid) {
        $(".modal-confirm").attr("formid", formid);
        $(".modal-confirm .modal-title").text("Delete Question Type");
        $(".modal-confirm .modal-message").text("Delete Question Type will also delete all the questions under this type, do you want to continue anyway?");
        $(".modal-confirm").modal();
    }
</script>
}