﻿@model TotoBobo.Mvc.Models.ManageQuestionModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + "Manage Question";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Questions
        
    </header>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="productTable">
        <thead>
            <tr>       
            <th>Title</th>
             <th>Status</th>
             <th>Created By</th>
             <th>Created Date</th>
            <th width="300"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Questions)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Status</td>
                    <td>@item.CreatedUserName</td>
                    <td>@item.CreatedDate.ToString("MM/dd/yyyy")</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-9">
                                @Html.ActionLink("Edit", "EditQuestion", new { id = @item.Id }, new { })
                            </div>
                            
                        </div>  
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#productTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [4]}]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Question") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
