﻿@model TotoBobo.Mvc.Models.ManageBannerModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Banner";
}
<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                Popup Banners
                <a href="@Url.Action("EditPopupBanner", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
            </header>            

            <div class="table-responsive">
                 <table class="table table-striped m-b-none featuretable">
                      <thead>
                        <tr>
                          <th>Banner</th>                          
                          <th style="width:150px"></th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach (var hb in Model.PopupBanners)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle"><img src="@hb.Banner" style="width:100px;" /></td>
                             <td style="vertical-align:middle">
                              <div class="row">
                                  <div class="col-sm-6">
                                    @Html.ActionLink("Edit", "EditPopupBanner")
                                  </div>
                                  <div class="col-sm-6">
                                    @using (Html.BeginForm(
                                    "DeletePopupBanner",
                                    "Admin",                                    
                                    FormMethod.Post,
                                    new { id = "popupform"})
                                    )
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <a href="javascript:document.getElementById('popupform').submit()">Delete</a>
                                    }
                                  </div>
                              </div>
                             </td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-sm-12">
        <section class="panel panel-default">            
            <header class="panel-heading">
                Home Banners
                <a href="@Url.Action("EditHomeBanner", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
            </header>

            <div class="table-responsive">
                 <table class="table table-striped m-b-none featuretable">
                      <thead>
                        <tr>
                          <th>Top Banner</th>
                          <th>Banner 1</th>
                          <th>Banner 2</th>
                          <th>Banner 3</th>
                          <th>Order</th>
                          <th style="width:150px"></th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach (var hb in Model.HomeBanners)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle"><img src="@hb.TopBanner" style="width:100px;" /></td>
                             <td valign="middle" style="vertical-align:middle"><img src="@hb.Banner1" style="width:100px;" /></td>
                             <td valign="middle" style="vertical-align:middle"><img src="@hb.Banner2" style="width:100px;" /></td>
                             <td valign="middle" style="vertical-align:middle"><img src="@hb.Banner3" style="width:100px;" /></td>
                             <td valign="middle" style="vertical-align:middle">@hb.Order.ToString()</td>
                             <td style="vertical-align:middle">
                              <div class="row">
                                  <div class="col-sm-6">
                                    @Html.ActionLink("Edit", "EditHomeBanner", new { id = @hb.Id }, new { })
                                  </div>
                                  <div class="col-sm-6">
                                    @using (Html.BeginForm(
                                    "DeleteHomeBanner",
                                    "Admin",
                                    new { id = @hb.Id },
                                    FormMethod.Post,
                                    new { id = "hbform+" + @hb.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:document.getElementById('hbform+@hb.Id').submit()">Delete</a>
                                }
                                  </div>
                              </div>
                             </td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<div  class="row">
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                Gift Set Banners
               
            </header>
     
            <div class="table-responsive">
                 <table class="table table-striped m-b-none unfeaturetable">
                      <thead>
                        <tr>
                          <th>Top Banner</th>
                          <th>Banner 1</th>
                          <th style="width:100px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var hb in Model.SaleBanners)
                         {
                             <tr>
                             <td valign="middle" style="vertical-align:middle">
                                <img src="@hb.TopBanner" style="width:100px;" />
                             </td>
                             <td valign="middle" style="vertical-align:middle">
                                <img src="@hb.Banner1" style="width:100px;" />
                             </td>
                             <td style="vertical-align:middle">
                                @Html.ActionLink("Edit", "EditSaleBanner", new { id = @hb.Id }, new { })
                             </td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading">
                Category Banners
               
            </header>
     
            <div class="table-responsive">
                 <table class="table table-striped m-b-none unfeaturetable">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Top Banner</th>
                          <th>Banner 1</th>
                          <th style="width:100px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var hb in Model.CategoryBanners)
                         {
                             <tr>
                             <td style="vertical-align:middle">@hb.Name</td>
                             <td valign="middle" style="vertical-align:middle">
                                <img src="@hb.TopBanner" style="width:100px;" />
                             </td>
                             <td valign="middle" style="vertical-align:middle">
                                <img src="@hb.Banner1" style="width:100px;" />
                             </td>
                             <td style="vertical-align:middle">
                                @Html.ActionLink("Edit", "EditCategoryBanner", new { id = @hb.Id }, new { })
                             </td>
                             </tr>
                         }
                      </tbody>
                </table>
            </div>
        </section>
    </div>
</div>