﻿@model TotoBobo.Mvc.Models.ManageHamperModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Hamper";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Hampers
        <a href="@Url.Action("EditHamper", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>
     
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="productTable">
        <thead>
            <tr>       
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th width="200"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductSets)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@Decimal.Round(item.Price, 2)</td>
                    <td>@item.CreatedBy.UserName</td>
                    <td>@item.CreatedDate.ToString()</td>
                    <td>
                    <div class="row">
                            <div class="col-sm-6">
                                @Html.ActionLink("Edit", "EditHamper", new { id = @item.Id }, new { })
                            </div>
                             <div class="col-sm-6">
                                @using (Html.BeginForm(
                                    "DeleteHamper",
                                    "Admin",
                                    new { id = @item.Id },
                                    FormMethod.Post,
                                    new { id = "myform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:document.getElementById('myform+@item.Id').submit()">Delete</a>
                                }
                                </div>
                                </div>
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>


@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#productTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [5]}]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Hamper") {
                $(this).addClass("active");
            }
        });
    });
</script>
}

