﻿@model TotoBobo.Data.Objects.State
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Cities";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Cities in <b>@Model.Name</b>
        <a href="@Url.Action("EditCity", "Admin", new { id = 0,sid=Model.Id })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
        <a href="@Url.Action("ManageState", "Admin")" class="btn btn-sm btn-default" style="margin-left:20px">Return to States</a>
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="citiesTable">
        <thead>
            <tr>       
            <th>Name
            </th>
            <th width="300"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.ActionLink("Edit", "EditCity", new { id = @item.Id,sid=@Model.Id }, new { })
                            </div>
                            <div class="col-sm-6">
                                @using (Html.BeginForm(
                                    "DeleteCity",
                                    "Admin",
                                    new { id = @item.Id,sid=@Model.Id },
                                    FormMethod.Post,
                                    new { id = "myform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:document.getElementById('myform+@item.Id').submit()">Delete</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        if ($('#citiesTable tbody>tr').length > 0) {
            var oTable = $('#citiesTable').dataTable({
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "sPaginationType": "full_numbers",
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [1] }]
            });

            oTable.fnSort([[0, 'asc']]);
        }

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage State") {
                $(this).addClass("active");
            }
        });
    });
</script>
}

