﻿@model TotoBobo.Mvc.Models.ManageProductModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Product";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Products
        <a href="@Url.Action("EditProduct", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>
     @Html.Partial("_SearchProductPartial", Model.SearchModel)
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="productTable">
        <thead>
            <tr>       
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Quantity</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th width="150"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Category.Name</td>
                    <td>@item.BrandName</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@Decimal.Round(item.Price, 2)</td>
                    <td>@Decimal.Round(item.Weight, 2)</td>
                    <td>@item.Quantity</td>
                    <td>@item.CreatedBy.UserName</td>
                    <td>@item.CreatedDate.ToString()</td>
                    <td >
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.ActionLink("Discounts", "ManageSale", new { id = @item.Id }, new { })
                            </div>
                            <div class="col-sm-12">
                                @Html.ActionLink("Stock", "StockProduct", new { id = @item.Id }, new { })
                            </div>
                            <div class="col-sm-12">
                                @Html.ActionLink("Edit", "EditProduct", new { id = @item.Id }, new { })
                            </div>
                             <div  class="col-sm-12">
                            @if (item.IsHidden)
                            {
                                using (Html.BeginForm(
                                    "Unhide",
                                    "Admin",
                                    new { id = @item.Id },
                                    FormMethod.Post,
                                    new { id = "myunhiddenform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('myunhiddenform+@item.Id').submit()">Unhide</a>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm(
                                    "Hide",
                                    "Admin",
                                    new { id = @item.Id },
                                    FormMethod.Post,
                                    new { id = "myhiddenform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('myhiddenform+@item.Id').submit()">Hide</a>
                                }
                            }
                          </div> 
                            <div  class="col-sm-12">
                                @using (Html.BeginForm(
                                    "DeleteProduct",
                                    "Admin",
                                    new { id = @item.Id },
                                    FormMethod.Post,
                                    new { id = "myform+" + @item.Id.ToString() })
                                )
                                {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:document.getElementById('myform+@item.Id').submit()">Delete</a>
                                }
                          </div> 
                        </div>  
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>

<section class="panel panel-default">
    <header class="panel-heading">
        Active Sales
    </header>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="salesTable">
        <thead>
            <tr>       
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>From Date</th>
            <th>End Date</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model.Sales)
             {
                 <td>@item.Name</td>
                 <td>@Decimal.Round(item.Price,2)</td>
                 <td>@Decimal.Round(item.DiscountAmount,2)</td>
                 <td>@item.Discount.FromDate.ToString("MM/dd/yyyy")</td>
                 <td>@item.Discount.EndDate.ToString("MM/dd/yyyy")</td>
             }
        </tbody>
        </table>
    </div>
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#productTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [9]}]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Product") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
