﻿@model TotoBobo.Mvc.Models.AdminModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Role";
}
<section class="panel panel-default">
    <header class="panel-heading">
        TOTOBOBO Members
    </header>
     @Html.Partial("_SearchRolePartial", Model.SearchModel)
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="roleTable">
        <thead>
            <tr>       
            <th>User Name
            </th>
            <th>Role</th>
            <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Members)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Role</td>
                    <td>
                        @Html.ActionLink("Edit", "AssignRole", new { id = @item.UserId }, new { })   
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#roleTable').dataTable({
        "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "sPaginationType": "full_numbers",
        "bFilter": false,
        "bLengthChange": false,
        "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 2 ] }]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Role") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
