﻿@model TotoBobo.Mvc.Models.ManageFeeModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Delivery Fee";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Fees for <b>@Model.DeliveryMethod</b>
        
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="deliveriesTable">
        <thead>
            <tr>       
             <th>State
            </th>
             <th>Fee
            </th>
            <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Fees)
            {
                <tr>
                    <td valign="middle" style="vertical-align:middle">@item.StateName</td>
                    <td valign="middle" style="vertical-align:middle">@item.Fee</td>
                    <td valign="middle" style="vertical-align:middle">
                        @Html.ActionLink("Edit", "EditFee", new { id = @item.StateId,dmid=Model.DeliveryMethodId }, new { })
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#deliveriesTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }, { "bSortable": false, "aTargets": [3]}]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Delivery Method") {
                $(this).addClass("active");
            }
        });
    });
</script>
}

