﻿@model TotoBobo.Mvc.Models.SettingModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Setting";
}

<section class="panel panel-default">
    <header class="panel-heading">
        Setting
    </header>
    <div  class="panel-body">
    <label style="color:Red">@ViewBag.Message</label>
    @using (Html.BeginForm("ManageSetting", "Admin", FormMethod.Post, new { @id = "settingform" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m=>m.ExchangeRate)
            @Html.TextBoxFor(m=>m.ExchangeRate,new {  @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TaxRate)
            @Html.TextBoxFor(m => m.TaxRate, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GiftSetDiscount)
            @Html.TextBoxFor(m => m.GiftSetDiscount, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RepeatCustomerDiscount)
            @Html.TextBoxFor(m => m.RepeatCustomerDiscount, new { @class = "form-control" })
        </div>
        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="Submit" />
    }
    </div>
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "System Setting") {
                $(this).addClass("active");
            }
        });
    });
</script>
}