﻿@model TotoBobo.Mvc.Models.ManageSaleModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Product";
}
@section Styles{
@Styles.Render("~/Content/css/datepicker")
}
<section class="panel panel-default">
<header class="panel-heading font-bold">Stock to Inventory</header>
<div class="panel-body">
     @using (Html.BeginForm("ManageSale", "Admin", FormMethod.Post))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.ProductName)
            @Html.TextBoxFor(m => m.ProductName, new { @readonly = "readonly", @class = "form-control" })
        </div>
          <div class="form-group">
            @Html.LabelFor(m => m.ProductPrice)
            @Html.TextBoxFor(m => m.ProductPrice, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Discount)
            @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
        </div>
        <div class="form-group">
           @Html.LabelFor(m => m.FromDate)
           @Html.TextBoxFor(m => m.FromDate, new { @class = "input-sm input-s datepicker-input form-control" })
        </div>
          <div class="form-group">
           @Html.LabelFor(m => m.EndDate)
           @Html.TextBoxFor(m => m.EndDate, new { @class = "input-sm input-s datepicker-input form-control" })
        </div>
       @Html.HiddenFor(m => m.Id)
       @Html.HiddenFor(m => m.ProductId)
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "ManageProduct", null, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>

<section class="panel panel-default">
    <header class="panel-heading">
       Discount History
    </header>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="stockhistoryTable">
        <thead>
            <tr>       
            <th>From Date</th>
            <th>End Date</th>
            <th>Discount</th>
            <th style="width:150px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Discounts)
            {
                <tr>
                    <td>@item.FromDate.ToString("MM/dd/yyyy")</td>
                    <td>@item.EndDate.ToString("MM/dd/yyyy")</td>
                    <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Decimal.Round(item.Discount,2)</td>
                    <td>
                    @using (Html.BeginForm(
                                    "DeleteSale",
                                    "Admin",
                                    new { id = item.Id, pid = Model.ProductId },
                                    FormMethod.Post,
                                    new { id = "myform+" + item.Id.ToString() })
                                )
                    {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <input type="submit" value="Delete" />
                    }
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
</section>
@section Scripts{
@Scripts.Render("~/bundles/totobobo/datepicker")
<script type="text/javascript">
    $(function () {
        $('#stockhistoryTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [
              { "bSortable": false, "aTargets": [3] }
            ]
        });

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Product") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
