﻿@model TotoBobo.Mvc.Models.ManageUserModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage User";
}
@section Styles
{
    @Styles.Render("~/Content/css/nestable")
}
<section class="panel panel-default">
    <header class="panel-heading">        
        <div class="row">
            @Html.Partial("_SearchUser", Model.SearchModel)            
        </div>
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="userTable">
            <thead>
                <tr>       
                    <th>User Name</th>                    
                    <th width="100"></th>
                </tr>
            </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.Name</td>                    
                    <td>
                        @Html.ActionLink("Edit", "EditUser", new { id = @item.Id }, new { })
                        @using(Html.BeginForm(
                            "DeleteUser", 
                            "Admin",
                            new { id = item.Id },
                            FormMethod.Post,
                            new { id = "myform+" + item.Id.ToString() })
                        ){
                        @Html.AntiForgeryToken()
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <a href="javascript:deleteUser('myform+@item.Id');">Delete</a>
                        }
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/totobobo/nestable")
    <script type="text/javascript">
        $(function ()
        {            
            var oTable = $('#userTable').dataTable({
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "sPaginationType": "full_numbers",
                "bFilter": false,
                "bLengthChange": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [1]}]
            });

            oTable.fnSort([[0, 'asc']]);

            $(".nav-main > li").each(function () {
                if ($(this).find("span[class='font-bold']").text() == "Manage User") {
                    $(this).addClass("active");
                }
            });

            $(".btn-continue").click(function () {
                document.getElementById($(".modal-confirm").attr("formid")).submit();
            });
        });

       function deleteUser(formid)
       {
            $(".modal-confirm").attr("formid", formid);
            $(".modal-confirm .modal-title").text("Delete User");
            $(".modal-confirm .modal-message").text("Do you want to continue anyway?");
            $(".modal-confirm").modal();
        }
    </script>
}