﻿@model TotoBobo.Mvc.Models.ManageDoctorModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Doctor";
}
<section class="panel panel-default">
    <header class="panel-heading">
        Doctors
        <a href="@Url.Action("EditDoctor", "Admin", new { id = 0 })" class="btn btn-sm btn-default" style="margin-left:20px"><i class="fa fa-plus"></i> Create</a>
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="paymentsTable">
        <thead>
            <tr>       
             <th>Name
            </th>
             <th>
             Company Name
            </th>
             <th>
             Title
            </th>
            <th width="200"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Doctors)
            {
                <tr>
                    <td valign="middle" style="vertical-align:middle">@item.Name</td>
                    <td valign="middle" style="vertical-align:middle">@item.CompanyName</td>
                    <td valign="middle" style="vertical-align:middle">@item.Title</td>
                    <td valign="middle" style="vertical-align:middle">
                        <div style="float:right" class="row">
                            <div class="col-sm-4">
                            @Html.ActionLink("Edit", "EditDoctor", new { id = @item.Id }, new { })
                            </div>
                            <div  class="col-sm-4">
                                @using (Html.BeginForm(
                                    "DeleteDoctor", 
                                    "Admin", 
                                    new { id = item.Id }, 
                                    FormMethod.Post, 
                                    new { id = "myform+"+item.Id.ToString() })
                                ) {
                                    @Html.AntiForgeryToken()
                                   @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <a href="javascript:deleteBrand('myform+@item.Id');">Delete</a>
                                }
                           </div>
                        </div>
                    </td>
                </tr>
            }
            
        </tbody>
        </table>
    </div>
   
</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var oTable = $('#paymentsTable').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [3] }]
        });

        oTable.fnSort([[0, 'asc']]);

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Doctor") {
                $(this).addClass("active");
            }
        });

        $(".btn-continue").click(function () {
            document.getElementById($(".modal-confirm").attr("formid")).submit();
        });
    });

    function deleteBrand(formid) {
        $(".modal-confirm").attr("formid", formid);
        $(".modal-confirm .modal-title").text("Delete Doctor");
        $(".modal-confirm .modal-message").text("The doctor will be deleted and the operation is not recoverable. Are you sure?");
        $(".modal-confirm").modal();
    }
</script>
}


