﻿@model TotoBobo.Mvc.Models.UpdateOrderModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " Admin - Manage Order";
}

<section class="panel panel-default">
<header class="panel-heading font-bold">Update Order</header>
<div class="panel-body">
     @using (Html.BeginForm("UpdateOrder", "Admin", FormMethod.Post))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.OrderNo)
            @Html.TextBoxFor(m => m.OrderNo, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentStatus)
            @Html.TextBoxFor(m => m.CurrentStatus, new { @readonly = "readonly", @class = "form-control" })
        </div>
        <div class="form-group">
           @Html.LabelFor(m => m.NewStatus)
           @Html.DropDownListFor(m => m.NewStatus,null, new {  @class = "form-control status-dropdown" })
        </div>
         <div class="form-group shippingdiv" style="display:none">
            @Html.LabelFor(m => m.ShippingNo)
            @Html.TextBoxFor(m => m.ShippingNo, new {  @class = "form-control shippingtxt" })
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.Remark)
            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
        </div>
       @Html.HiddenFor(m => m.Id)
        <input type="submit" class="btn btn-sm btn-default" value="Submit"/>
         @Html.ActionLink("Cancel", "ManageOrder", null, new { @class = "btn btn-sm btn-default" });
     }
</div>
</section>

<section class="panel panel-default">
    <header class="panel-heading">
        Order Detail
    </header>
	
	<!-- CONTAINER -->
	<div  style="padding:20px;">
		<div style="border: 2px solid #ccc;">
            <div style="padding:20px 0px 00px 20px">
                <label style="font-weight:bold;text-transform:uppercase">Shipping Address</label>
            </div>
            
            <div style="padding:20px" class="defaultaddress">
            @Model.Order.ShippingAddress.FirstName @Model.Order.ShippingAddress.LastName, @Model.Order.ShippingAddress.MobileNo <br />
            @Model.Order.ShippingAddress.Country @Model.Order.ShippingAddress.State @Model.Order.ShippingAddress.City @Model.Order.ShippingAddress.Address1 @Model.Order.ShippingAddress.Postcode
            </div>
           
        </div>	
		<!-- ROW -->
		<div class="row" style="margin-top:30px;">
    <!-- CART TABLE -->
            <div class="col-lg-12 col-md-12 padbot10">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">
                            </th>
                            <th class="product-name">
                                Item
                            </th>
                            <th class="product-price">
                                Price
                            </th>
                            <th class="product-quantity">
                                Quantity
                            </th>
                            <th class="product-subtotal">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Order.Items)
                        {

                            <tr class="cart_item">
                                <td class="product-thumbnail">
                                    <a href="javascript:void" >
                                        <img src="@item.Picture" width="100px" alt="" /></a>
                                </td>
                                <td class="product-name">
                                    @item.ProductName
                                </td>
                                <td class="product-price">
                                    @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price
                                </td>
                                <td class="product-quantity" align="center">
                                   @item.Quantity 
                                </td>
                                <td class="product-subtotal">
                                    @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.SubTotal
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table  class="pull-right table" style="width:300px">
				        <tr class="cart-subtotal clearfix">
					        <th>Sub total</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Order.Total</td>
				        </tr>
                        <tr class="shipping clearfix">
					        <th>Tax</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Order.Tax</td>
				        </tr>
				        <tr class="shipping clearfix">
					        <th>SHIPPING</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Order.DeliveryFee</td>
				        </tr>
                                
				        <tr class="total clearfix">
					        <th>Total</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Decimal.Round(Model.Order.Total + Model.Order.DeliveryFee + Model.Order.Tax, 2)</td>
				        </tr>
			        </table>
            </div>
            <!-- //CART TABLE -->
           
        </div>
        
	</div><!-- //CONTAINER -->

</section>
@section Scripts{
<script type="text/javascript">
    $(function () {
        $(".status-dropdown").change(function () {
            if ($(".status-dropdown").val() == "Sent" || $(".status-dropdown").val() == "Delivered") {
                $(".shippingdiv").css("display", "block");
                if ($(".status-dropdown").val() == "Delivered") {
                    $(".shippingtxt").attr("readonly", "readonly");
                }
            } else {
                $(".shippingdiv").css("display", "none");
            }
        });

        if ($(".status-dropdown").val() == "Sent" || $(".status-dropdown").val() == "Delivered") {
            $(".shippingdiv").css("display", "block");
            if ($(".status-dropdown").val() == "Delivered") {
                $(".shippingtxt").attr("readonly", "readonly");
            }
        } else {
            $(".shippingdiv").css("display", "none");
        }

        $(".nav-main > li").each(function () {
            if ($(this).find("span[class='font-bold']").text() == "Manage Order") {
                $(this).addClass("active");
            }
        });
    });
</script>
}
