﻿@model TotoBobo.Mvc.Models.ProductDetailModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Product Detail";
}
@section menu {
    @Html.Partial("_MenuPartial", (string)ViewBag.Menu)
}

@if (!string.IsNullOrEmpty(Model.TopBanner))
{        
    <section class="breadcrumb product parallax margbot30" style="background-image:url(@Model.TopBanner)">
			
        <!-- CONTAINER -->
        <div class="container">
	        <h2>@ViewBag.Menu</h2>
        </div><!-- //CONTAINER -->
    </section><!-- //BREADCRUMBS -->
}
else
{
    <section class="breadcrumb product parallax margbot30">
			
        <!-- CONTAINER -->
        <div class="container">
	        <h2>@ViewBag.Menu</h2>
        </div><!-- //CONTAINER -->
    </section><!-- //BREADCRUMBS -->
}

<!-- SHOP BLOCK -->
<section class="shop">
			
	<!-- CONTAINER -->
	<div class="container">
			
		<!-- ROW -->
		<div class="row">
					
			<!-- SIDEBAR -->
            @if (Model.Relates == null || !Model.Relates.Any())
            {
			<div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 padbot50">
						
				<!-- CATEGORIES -->
				<div class="sidepanel widget_categories">
					<h3>Categories</h3>
					<ul>
                        @foreach (var item in Model.Categories)
                        {
                            <li>@Html.ActionLink(item.Name, "Cat", new { id = item.Id })</li>
                        }
								
					</ul>
				</div><!-- //CATEGORIES -->	
			</div><!-- //SIDEBAR -->
            }
            else
            {
                <div class="col-lg-3 col-md-3 sidebar_tovar_details">
						<h3><b>Related @ViewBag.Menu</b></h3>
						
						<ul class="tovar_items_small clearfix" >
                        @foreach (var item in Model.Relates)
                        {
							<li class="clearfix">
								<img class="tovar_item_small_img" src="@item.Uri" alt="" />
								<a href="@Url.Action("Detail", new { id = item.Id })" class="tovar_item_small_title">@item.Name</a>
								<span class="tovar_item_small_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</li>
                        }	
						</ul>
					</div>
            }		
					
			<!-- SHOP PRODUCTS -->
			<div class="col-lg-9 col-sm-9 padbot20">
				
                @if (!string.IsNullOrEmpty(Model.Banner1))
                {
                    <div class="banner_block margbot15">
                        @if (!string.IsNullOrEmpty(Model.Banner1Link))
                        {
					        <a class="banner nobord" href="@Model.Banner1Link" ><img src="@Model.Banner1" alt="" /></a>
                        }
                        else
                        {
                            <a class="banner nobord" href="javascript:void(0);" ><img src="@Model.Banner1" alt="" /></a>
                        }
				    </div>
                }

				<!-- CLEARFIX -->
				<div class="clearfix padbot40">
					<div class="tovar_view_fotos clearfix">
						<div id="slider2" class="flexslider">
							<ul class="slides">
								@foreach (var url in Model.Product.ProductPictures)
        {
                                    <li><a href="javascript:void(0);" ><img src="@url.Picture" alt="" /></a>
                                    @if (string.IsNullOrWhiteSpace(url.Title) == false)
                                    {
                                        <label style="font-size:large">@url.Title</label>
                                    }
                                    </li>
        }
							</ul>
						</div>
						<div id="carousel2" class="flexslider">
							<ul class="slides">
								@foreach (var url in Model.Product.ProductPictures)
        {
                                    <li><a href="javascript:void(0);" ><img src="@url.Picture" alt="" /></a>
                                    
                                    </li>
        }
							</ul>
						</div>
					</div>
							
					<div class="tovar_view_description">
						<div class="tovar_view_title" data-price="@Model.Product.Price.ToString("f2")">@Model.Product.Name</div>
						<div class="tovar_article">
                        
                        </div>
                        @{
                            TotoBobo.Data.Objects.Setting setting = null;
                            decimal giftSetDiscount = 0;
                            if (Model.ProductType == "hamper")
                            {
                                setting = TotoBobo.Mvc.Repository.SettingRepository.GetSetting();
                                giftSetDiscount = setting.GiftSetDiscount;
                            }
                        }
						<div class="clearfix tovar_brend_price" data-giftSetDiscount="@giftSetDiscount" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol">
                        @if (Model.ProductType == "hamper")
                        {
                            decimal price = 0;
                            if (Model.Items != null && Model.Items.Count > 0)
                            {
                                foreach (TotoBobo.Data.Objects.ProductSetItem productSetItem in Model.Items)
                                {
                                    if (productSetItem.IsMandatory)
                                    {
                                        price += productSetItem.Product.Price;
                                    }
                                }
                            }

                            decimal discountPrice = Decimal.Round((price - setting.GiftSetDiscount * price / 100), 2);
                            discountPrice = discountPrice < 0 ? 0 : discountPrice;

                            if (discountPrice != price)
                            {
                                <div class="pull-left tovar_view_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@discountPrice.ToString("f2")</div>
                                <br />
                                <span class="original_price" style="text-decoration: line-through;">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@price.ToString("f2")</span>
                            }
                            else
                            {
                                <div class="pull-left tovar_view_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@discountPrice.ToString("f2")</div>
                            }
                        }
                        else
                        {
							<div class="pull-left tovar_view_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Product.Price</div>
                        }
                            @if (!string.IsNullOrEmpty(Model.Product.CountryPicture))
                            {
                                <div class="pull-right tovar_view_price"><span class="productOrigin" style="text-decoration: none; display: inline;">Product origin</span><img src="@Model.Product.CountryPicture" /></div>
                            }
						</div>
					    @if (Model.Tags != null)
         {
             foreach (var tag in Model.Tags)
             {
                                <div class="tovar_tag_select"  data-key="@tag.Key" style="padding-bottom:19px">
				                    <div class="clearfix">
					                    <p class="pull-left">Select @tag.Key</p>
				                    </div>
                                    @foreach (var value in tag.Values)
                                    {
				                        <a class="taglink" href="javascript:void(0);" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" data-price="@value.Price.ToString("f2")">@value.Value</a>
                                    }
			                    </div>
             }
         }
         else if (Model.Items != null)
         {
                <div>
                    <div class="brand_letter" style="font-size:12px;float:none;line-height:normal">Products:</div>
					<ul class="product_catalog_list mandatory_hamper_list">
                    @foreach (var item in Model.Items)
                    {
                        if (item.IsMandatory)
                        {
                            <li class="mandatory_hamper_item" data-price="@item.Product.Price.ToString("f2")" data-id="@item.ProductId"><div class="open-project-link"><a  class="open-project" href="@Url.Action("ProductQV", "Dialog", new { id = item.ProductId })" >
                                @item.Product.Name</a></div>
                                @if (item.Product.Tags != null)
                                {
                                    foreach (var tag in item.Product.Tags)
                                    {
                                    <div class="tovar_tag_select" data-id="@item.ProductId" data-key="@tag.Key" style="padding-bottom:19px">
				                        <div class="clearfix">
					                        <p class="pull-left">Select @tag.Key</p>
				                        </div>
                                        @foreach (var value in tag.Values)
                                        {
				                            <a class="taglink" href="javascript:void(0);" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" data-price="@value.Price.ToString("f2")">@value.Value</a>
                                        }
			                        </div>
                                    }
                                }
                                </li>
                        }
                    }
						
					</ul>
               </div>
                
                <div>
                    <div class="brand_letter" style="font-size:12px;float:none;line-height:normal">Optional:</div>
					<ul class="product_catalog_list optional_hamper_list">
                    @foreach (var item in Model.Items)
                    {
                        if (!item.IsMandatory)
                        {
                            <li class="optional_hamper_item" data-price="@item.Product.Price.ToString("f2")" data-id="@item.ProductId">
                                @if (item.Product.Quantity > 0)
                                {
                                    <input type="checkbox" value="@item.ProductId" style="display:inline;width:13px;height:13px;-webkit-appearance: checkbox" class="hamper-option-check"  />
                                }
                                else
                                {
                                     <input type="checkbox" value="@item.ProductId" style="display:inline;width:13px;height:13px;-webkit-appearance: checkbox" class="hamper-option-check" disabled="disabled" />
                                }
                                <div class="open-project-link"><a  class="open-project" href="@Url.Action("ProductQV", "Dialog", new { id = item.ProductId })" >@item.Product.Name</a></div>
                                @if (item.Product.Tags != null)
                                {
                                    foreach (var tag in item.Product.Tags)
                                    {
                                        <div class="tovar_tag_select" data-id="@item.ProductId" data-key="@tag.Key" style="padding-bottom:5px;display:none;">
				                            <div class="clearfix">
					                            <p class="pull-left" style="margin-bottom:0px">Select @tag.Key</p>
				                            </div>
                                            @foreach (var value in tag.Values)
                                            {
				                                <a class="taglink" href="javascript:void(0);" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" data-price="@value.Price.ToString("f2")" >@value.Value</a>
                                            }
			                            </div>
                                    }
                                }
                            </li>
                        }
                    }
						
					</ul>
                </div>
                 
         }
			
						<div class="tovar_view_btn" style="margin-top:20px">
                            @Html.LabelFor(m => m.Product.Quantity)
                            @Html.TextBoxFor(m => m.Product.Quantity, new { @style = "width:80px;vertical-align:middle;height:50px;", @class = "addcartqty" })
				            <a class="add_bag" style="padding:13px 65px" href="javascript:void(0);"  data-url="@Url.Action("AddToCart", "Cart", new { id = Model.Product.Id, type = Model.ProductType })" ><i class="fa fa-shopping-cart"></i>Add to bag</a>
				            
                            
                            
			            </div>
			           <div class="tovar_shared clearfix">
                       <iframe src="//www.facebook.com/plugins/like.php?href=@HttpContext.Current.Request.Url.AbsoluteUri&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=226988780808773" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:40px;" allowTransparency="true"></iframe>
							</div>
					</div>
				</div><!-- //CLEARFIX -->
						
				<!-- TOVAR INFORMATION -->
				<div class="tovar_information">
					<ul class="tabs clearfix">
						<li class="current">Details</li>
					</ul>
					<div class="box visible" style="min-height:300px">
						@Html.Raw(Model.Product.Description)
					</div>
					
				</div><!-- //TOVAR INFORMATION -->
						
						
			</div><!-- //SHOP PRODUCTS -->
		</div><!-- //ROW -->
	</div><!-- //CONTAINER -->
</section><!-- //SHOP -->

@if (Model.Accessories != null && Model.Accessories.Any())
{
<!-- NEW ARRIVALS -->
<section class="new_arrivals padbot50">
			
	<!-- CONTAINER -->
	<div class="container">
		<h2>Accessories</h2>
				
		<!-- JCAROUSEL -->
		<div class="jcarousel-wrapper">
					
			<!-- NAVIGATION -->
			<div class="jCarousel_pagination">
				<a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
				<a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
			</div><!-- //NAVIGATION -->
					
			<div class="jcarousel">
				<ul>
					@foreach (var item in Model.Accessories)
     {
                    <li>
                    @if (item.IsOutOfStock)
                    {
                        <div class="tovar_item_new tovar_outofstock">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
                    else if (item.IsSale)
                    {
                        <div class="tovar_item_new tovar_sale">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
                    else
                    {
						<div class="tovar_item_new">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
					</li>
     }
				</ul>
			</div>
		</div><!-- //JCAROUSEL -->
	</div><!-- //CONTAINER -->
</section><!-- //NEW ARRIVALS -->
}

@if (Model.Recommends != null && Model.Recommends.Any())
{
<!-- NEW ARRIVALS -->
<section class="new_arrivals padbot50">
			
	<!-- CONTAINER -->
	<div class="container">
		<h2>Featured Products</h2>
				
		<!-- JCAROUSEL -->
		<div class="jcarousel-wrapper">
					
			<!-- NAVIGATION -->
			<div class="jCarousel_pagination">
				<a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
				<a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
			</div><!-- //NAVIGATION -->
					
			<div class="jcarousel">
				<ul>
					@foreach (var item in Model.Recommends)
     {
                    <li>
                    @if (item.IsOutOfStock)
                    {
                        <div class="tovar_item_new tovar_outofstock">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
                    else if (item.IsSale)
                    {
                        <div class="tovar_item_new tovar_sale">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
                    else
                    {
						<div class="tovar_item_new">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
					</li>
     }
				</ul>
			</div>
		</div><!-- //JCAROUSEL -->
	</div><!-- //CONTAINER -->
</section><!-- //NEW ARRIVALS -->
}

<!-- TOVAR MODAL CONTENT -->
<div id="modal-body" class="clearfix">
	<div id="tovar_content"></div>
	<div class="close_block"></div>
</div><!-- TOVAR MODAL CONTENT -->
@section Scripts {
<script type="text/javascript">
    $(function () {

        // calculateHamperPrice($('.tovar_view_description'));

        if ($(".tovar_tag_select").length > 0) {
            $(".tovar_tag_select .taglink").each(function () {
                $(this).click(function () {
                    $(this).parent().find(".taglink").each(function () { $(this).removeClass("active"); });
                    $(this).addClass("active");
                });
            });
        }

        $(".hamper-option-check").change(function () {
            if ($(this).prop("checked")) {
                $(this).parent().find(".tovar_tag_select").css("display", "block");
            } else {
                $(this).parent().find(".tovar_tag_select").css("display", "none");
            }
        });
    });
</script>
}