﻿@model TotoBobo.Mvc.Models.ProductSaleModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Product Sale";
}
@section menu {
    @Html.Partial("_MenuPartial", "Sale")
}
@if (!string.IsNullOrEmpty(Model.TopBanner))
{
    <section class="breadcrumb product parallax margbot30" style="background-image:url(@Model.TopBanner)">
			
        <!-- CONTAINER -->
        <div class="container">
	        <h2>Sale</h2>
        </div><!-- //CONTAINER -->
    </section><!-- //BREADCRUMBS -->
}
else
{
    <section class="breadcrumb product parallax margbot30">
			
        <!-- CONTAINER -->
        <div class="container">
	        <h2>Sale</h2>
        </div><!-- //CONTAINER -->
    </section><!-- //BREADCRUMBS -->
}


<!-- SHOP BLOCK -->
<section class="shop">
			
	<!-- CONTAINER -->
	<div class="container">
			
		<!-- ROW -->
		<div class="row">
					
			<!-- SIDEBAR -->
			<div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 padbot50">
						
				<!-- CATEGORIES -->
				<div class="sidepanel widget_categories">
					<h3>Categories</h3>
					<ul>
                        @foreach (var item in Model.Categories)
                        {
                            <li>@Html.ActionLink(item.Name, "Cat", new { id = item.Id })</li>
                        }
								
					</ul>
				</div><!-- //CATEGORIES -->
               
			</div><!-- //SIDEBAR -->
					
					
			<!-- SHOP PRODUCTS -->
			<div class="col-lg-9 col-sm-9 padbot20">
                @if (!string.IsNullOrEmpty(Model.Banner1))
                {
                    <div class="banner_block margbot15">
                        @if (!string.IsNullOrEmpty(Model.Banner1Link))
                        {
					        <a class="banner nobord" href="@Model.Banner1Link" ><img src="@Model.Banner1" alt="" /></a>
                        }
                        else
                        {
                            <a class="banner nobord" href="javascript:void(0);" ><img src="@Model.Banner1" alt="" /></a>
                        }
				    </div>
                }

				<!-- SORTING TOVAR PANEL -->
				<div class="sorting_options clearfix">
							
					<!-- COUNT TOVAR ITEMS -->
					<div class="count_tovar_items">
						<p>Sale</p>
						<span>@Model.Products.Count.ToString() Items</span>
					</div><!-- //COUNT TOVAR ITEMS -->
							
					<!-- TOVAR FILTER -->
					@*<div class="product_sort">
						<p>SORT BY</p>
						<select class="basic">
							<option value="">Popularity</option>
							<option>Reting</option>
							<option>Date</option>
						</select>
					</div>*@<!-- //TOVAR FILTER -->
							
					<!-- PRODUC SIZE -->
					<div id="toggle-sizes">
						<a class="view_box active" href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
						<a class="view_full" href="javascript:void(0);"><i class="fa fa-th-list"></i></a>
					</div><!-- //PRODUC SIZE -->
				</div><!-- //SORTING TOVAR PANEL -->
						
						
				<!-- ROW -->
				<div class="row shop_block listview">
					@foreach (var item in Model.Products)
     {	
						<!-- TOVAR1 -->
						<div class="tovar_wrapper col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 padbot40 listitem" data-price="@item.Price">
                            
                                <div class="tovar_item clearfix">
								    <div class="tovar_img">
									    <div class="tovar_img_wrapper">
										    <img class="img" src="@item.Uri" alt="" />
										    <img class="img_h" src="@item.Uri2" alt="" />
									    </div>
									    <div class="tovar_item_btns">
										    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" ><span>quick</span> view</a></div>
										    <a class="add_bag quick_add" href="javascript:void(0);"  data-tags="@item.HasTag" data-url="@Url.Action("AddToCart", "Cart", new { id = item.Id })" ><i class="fa fa-shopping-cart"></i></a>
										
									    </div>
								    </div>
								    <div class="tovar_description clearfix">
                                        @Html.ActionLink(item.Name, "Detail", new { id = item.Id }, new { @class = "tovar_title" })
									    <span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
								    </div>
							    </div>
                             
							
						</div><!-- //TOVAR1 -->
     }
							
				</div><!-- //ROW -->
						
				<hr/>
						
				<div class="clearfix">
					<!-- PAGINATION -->
					
					<ul class="pagination">
                    
                    </ul>
					<a class="show_all_tovar" href="javascript:void(0);" style="display:none">show all</a>		
				</div>
						
						
			</div><!-- //SHOP PRODUCTS -->
		</div><!-- //ROW -->
	</div><!-- //CONTAINER -->
</section><!-- //SHOP -->

<!-- TOVAR MODAL CONTENT -->
<div id="modal-body" class="clearfix">
	<div id="tovar_content"></div>
	<div class="close_block"></div>
</div><!-- TOVAR MODAL CONTENT -->

@section Scripts {
    @Scripts.Render("~/bundles/scripts/productview")
    <script type="text/javascript">
        $(function () {
            // $(".listview>.listitem").tsort({ data: 'price' });
            window.itemsPerPage = 6;
            $(".pagination").pagination({
                items: $(".listitem").length,
                itemsOnPage: window.itemsPerPage,
                onPageClick: function (number, event) {
                    $(".listitem").each(function () { $(this).css("display", "none"); });
                    var end = number * window.itemsPerPage - 1;
                    if (end > $(".listitem").length) {
                        end = $(".listitem").length;
                    }

                    for (var i = (number - 1) * window.itemsPerPage; i <= end; i++) {
                        $(".listitem").eq(i).css("display", "block");
                    }
                }
            });

            

            $(function () {
                var maxHeight = 0;
                $(".tovar_description").each(function () {
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                    }
                });
                $(".tovar_description").each(function () {
                    $(this).height(maxHeight);
                });
                $(".pagination").pagination('selectPage', 1);
            });
        });
    </script>
}

