﻿@model TotoBobo.Mvc.Models.CheckoutModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Checkout";
}

@section menu {
    @Html.Partial("_MenuPartial", "Cart")
}

<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container border0 margbot0">
		<h3 class="pull-left"><b>Checkout</b></h3>
				
		<div class="pull-right">
			<a href="@Url.Action("ShoppingBag","Cart")" >Back shopping bag<i class="fa fa-angle-right"></i></a>
		</div>
	</div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->
		
		
<!-- CHECKOUT PAGE -->
<section class="checkout_page">
			
	<!-- CONTAINER -->
	<div class="container">
        @if (Model.StepNo == 1)
        {
		    <div class="checkout_block">
			    <ul class="checkout_nav">
				    <li class="active_step">1. Shipping Address</li>
				    <li>2. Confirm Ordered</li>
                    <li class="last">3. Payment</li>
			    </ul>
					
			    <div class="checkout_form clearfix">
                    <ul>
                    @foreach (var item in Model.Addresses)
                    {
                       <li>
                       @if (item.Id == Model.ShippingAddressId)
                       {
                            <input id="ridio-@item.Id" type="radio" name="radio" checked="checked" value="@item.Id" hidden />
                       }
                       else
                       {
                           <input id="ridio-@item.Id" type="radio" name="radio" value="@item.Id" hidden />
                       }
                            <label for="ridio-@item.Id">@item.Country @item.State @item.City @item.Address1 @item.Postcode, @item.MobileNo @item.FirstName @item.LastName </label>
                       </li>
                    }
                        <li>
                        @if (0 == Model.ShippingAddressId)
                        {
                            <input id="ridio-0" type="radio" name="radio" checked="checked" value="0" hidden />
                        }
                        else
                        {
                            <input id="ridio-0" type="radio" name="radio" value="0" hidden />
                        }
					        <label for="ridio-0">Use new address</label>
                        </li>
                    </ul>
                    <div class="newaddressform" style="display:none">
				        @Html.Partial("_NewAddress", Model.NewAddress)
				    </div>
                     @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { id = "nextForm" })) {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ShippingAddressId, new { @class="selectedaddressid"})
                            <a class="btn active pull-right btncontinue" href="javascript:void" >Continue</a>
                     }		
				    
			    </div>
		    </div>
        }
        else if (Model.StepNo == 2)
        {
            <!-- CHECKOUT BLOCK -->
				<div class="checkout_block">
					<ul class="checkout_nav">
						<li class="done_step">1. Shipping Address</li>
						<li class="active_step">2. Confirm Order</li>
                          <li class="last">3. Payment</li>
					</ul>
				</div><!-- //CHECKOUT BLOCK -->
					
				<!-- ROW -->
				<div class="row">
					<div class="col-lg-9 col-md-9 padbot60">
						<div class="checkout_confirm_orded clearfix">
							<div class="checkout_confirm_orded_bordright clearfix">
								<div class="billing_information">
									
									<p class="checkout_title margbot10">Shipping address</p>
									
									<div class="billing_information_content margbot40">
										<span>@Model.SelectedAddress.FirstName @Model.SelectedAddress.LastName</span>
                                        <span>@Model.SelectedAddress.MobileNo</span>
										<span>@Model.SelectedAddress.Address1</span>
										<span>@Model.SelectedAddress.State @Model.SelectedAddress.City</span>
										<span>@Model.SelectedAddress.Country</span>
										<span>@Model.SelectedAddress.Postcode</span>
									</div>
								</div>
								
								<div class="payment_delivery">
									<p class="checkout_title margbot10">Payment and delivery</p>
									
									<p><span>Payment:<span> @Model.Payment.Name</p>
									<img src="@Model.Payment.Logo" alt="" />
									
									<p><span>Delivery:</span> @Model.Delivery.Name</p>
									<img src="@Model.Delivery.Logo" alt="" />
								</div>
							</div>
							
							<div class="checkout_confirm_orded_products">
								<p class="checkout_title">Products</p>
								<ul class="cart-items">
                                    @foreach (var item in Model.Cart.Items)
                                    {
                                        <li class="clearfix">
                                        <table>
                                        <tr>
                                        <td> <img class="cart_item_product" src="@item.Url" alt="" /></td>
                                        <td><a href="javascript:void" class="cart_item_title">@item.Name</a>
										    <span class="cart_item_price">@item.Quantity * @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
                                             @if (!item.IsHamper&&item.Tags != null&&item.Tags.Any())
                                            {
                                                 <ul class="variation">
                                                @foreach (var tag in item.Tags)
                                                {
						                                <li style="margin:0px">@tag.Key: <span>@tag.Values[0].Value</span></li>
                                                }
                                                </ul>
                                            }
                                            @if (item.IsHamper)
                                            {
					                            <ul class="product_catalog_list" style="padding:0px">
                                                @foreach (var prod in item.Products)
                                                {
                                   
                                                        <li data-id="@prod.Id"><a href="javascript:void" >@prod.Name</a>
                                                            @if (prod.Tags != null&&prod.Tags.Any())
                                                            {
                                                               <ul>
								
                                                                @foreach (var tag in prod.Tags)
                                                                {
                                                                   <li>@tag.Key: <span>@tag.Values[0].Value</span></li>
                                                                }
                                
                                                                </ul>
                                                            }
                                            
                                                     </li>
                                    
                                                }
						
					                            </ul>
                                            }
                                            </td>
                                        </tr>
                                        </table>
										   
										    
									    </li>
                                    }
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 padbot60">
						
						<!-- BAG TOTALS -->
						<div class="sidepanel widget_bag_totals your_order_block">
							<h3>Your Order</h3>
							<table class="bag_total">
								<tr class="cart-subtotal clearfix">
									<th>Sub total</th>
									<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Cart.Total</td>
								</tr>
                                <tr class="shipping clearfix">
									<th>Tax</th>
									<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Tax</td>
								</tr>
								<tr class="shipping clearfix">
									<th>SHIPPING</th>
									<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.ShippingFee</td>
								</tr>
                                <tr class="shipping clearfix">
									<th>Discount</th>
									<td>-@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Cart.Discount</td>
								</tr>
                                
								<tr class="total clearfix">
									<th>Total</th>
									<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Decimal.Round(Model.Cart.Total+Model.ShippingFee+Model.Tax-Model.Cart.Discount,2)</td>
								</tr>
							</table>
                             @using (Html.BeginForm("PlaceOrder", "Cart", FormMethod.Post, new {  }))
                             {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.ShippingAddressId)
                                 @Html.HiddenFor(m => m.PaymentId)
                                  @Html.HiddenFor(m => m.DeliveryId)
                                  @Html.HiddenFor(m => m.ShippingFee)
                                <input type="submit" value="Place Order" class="btn active" />
                             }
							
							<a class="btn inactive" href="@Url.Action("Checkout", "Cart")" >Go to previous step</a>
						</div><!-- //REGISTRATION FORM -->
					</div><!-- //SIDEBAR -->
				</div><!-- //ROW -->
        }
	</div><!-- //CONTAINER -->
</section><!-- //CHECKOUT PAGE -->
@section Scripts {
<script type="text/javascript">
    $(function () {

        $(".btncontinue").click(function () {
            if (!isNormalInteger($(".selectedaddressid").val())) {
                alert("form is injected");
                return false;
            }
            document.getElementById('nextForm').submit();
        });
        $("input[type='radio']").change(function () {
            $(".selectedaddressid").val($('input[name=radio]:checked').val());
            if ($('input[name=radio]:checked').val() == "0") {
                $(".newaddressform").css("display", "block");
                $(".btncontinue").css("display", "none");
            } else {
                $(".newaddressform").css("display", "none");
                $(".btncontinue").css("display", "block");
            }
        });

        if ($('input[name=radio]:checked').val() == "0") {
            $(".newaddressform").css("display", "block");
            $(".btncontinue").css("display", "none");
        } else {
            $(".newaddressform").css("display", "none");
            $(".btncontinue").css("display", "block");
        }
        $(".selectedaddressid").val($('input[name=radio]:checked').val());

        $(".statedropdown").on("change.fs", function () {
            var sid = $(this).val();
            $(".cityContainer").children().remove();
            $(".cityContainer").load($(".cityContainer").attr("data-url") + "/" + sid, function (e) {
                $(".cityContainer .basic").fancySelect();
                $("#addressstate").val($(".stateContainer .trigger").text());
                $("#addresscity").val($(".cityContainer .trigger").text());
            })
        });

        $("#addressstate").val($(".stateContainer .trigger").text());
        $("#addresscity").val($(".cityContainer .trigger").text());
    });
</script>
}