﻿@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Shopping Bag";
}

@section menu {
    @Html.Partial("_MenuPartial", "Cart")
}

<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container">
        @if (!string.IsNullOrEmpty(ViewBag.Err))
        {
            <div style="color:Red;margin-bottom:20px;">
            Error occured, details below:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.Err
            </div>
        }
		<h3 class="pull-left"><b>Shopping bag</b></h3>
				
		<div class="pull-right">
			<a href="@Url.Action("Index","Home")" >Back to shop<i class="fa fa-angle-right"></i></a>
		</div>
	</div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->
		
		
<!-- SHOPPING BAG BLOCK -->
<section class="shopping_bag_block">
			
	<!-- CONTAINER -->
	<div class="container cartcontainer"  data-url="@Url.Action("CartDetail","Dialog")">
			
		<!-- ROW -->
		
	</div><!-- //CONTAINER -->
</section><!-- //SHOPPING BAG BLOCK -->
@section Scripts {
<script type="text/javascript">
    $(function () {
        loadCart();
    });

    function loadCart() {
        if ($(".cartcontainer").length > 0) {
            $(".cartcontainer").load($(".cartcontainer").attr("data-url"), function () {
                if ($(".cartcontainer .shop_table tbody>tr").length == 0) {
                    $(".cartcontainer .btn-checkout").css("display", "none");
                } else {
                    $(".cartcontainer .btn-checkout").css("display", "inline-block");
                }

                $(".cartcontainer .changecartqty").click(function () {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr("data-url"),
                        dataType: "json",
                        data: { "qty": 1 },
                        success: function (data) {
                            if (data.success) {
                                loadCart();
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                });

                $(".cartcontainer .removelink").click(function () {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr("data-url"),
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                loadCart();
                            }
                        }
                    });
                });
            });
        }
    }

</script>
}