﻿@model TotoBobo.Data.Objects.Answer
<li>
    <table style="width:100%">
    <tr>
    <td style="width:100px"><div class="pull-left avatar"><a href="javascript:void(0);">
        @if (!string.IsNullOrEmpty(Model.RepliedBy.Avator))
        {
            <img src="@Model.RepliedBy.Avator" style="width:70px" alt="" />
        }
        else
        {
            <img src="../../images/avatar1.jpg" alt="" />
        }
    </a></div></td>
    <td style="">
    <div style="border:1px solid #efefef;padding:10px;">
		<div class="comment_info">
			<a class="comment_author" href="javascript:void(0);" >@Model.RepliedBy.UserName</a>
            @if (Request.IsAuthenticated)
            {
                <a class="comment_reply" href="javascript:void(0);"  style="margin-left:15px"><i class="fa fa-share"></i> Reply</a>
                <a class="comment_dislike" href="javascript:void(0);" style="margin-left:15px" data-url="@Url.Action("Dislike","Home",new{id=Model.Id})"><i class="fa fa-thumbs-down"></i> Dislike (<span class="count">@Model.DislikeCount</span>)</a>
                <a class="comment_like" href="javascript:void(0);"  style="margin-left:15px" data-url="@Url.Action("Like","Home",new{id=Model.Id})"><i class="fa fa-thumbs-up"></i> Like (<span class="count">@Model.LikeCount</span>)</a>
                if (Model.RepliedTo == null&&Model.QuestionCreatorId==WebSecurity.GetUserId(User.Identity.Name))
                {
                    if (!Model.IsBestAnswer)
                    {
                        <a class="comment_choosebest" href="javascript:void(0);" data-id="@Model.BestId"  style="margin-left:15px" data-url="@Url.Action("ChooseBest", "Home", new { id = Model.Id})"><i class="fa fa-check"></i> Mark as Best</a>
                    }
                    else
                    {
                        <a class="comment_choosebest" href="javascript:void(0);" data-id="@Model.BestId"  style="margin-left:15px;display:none" data-url="@Url.Action("ChooseBest", "Home", new { id = Model.Id })"><i class="fa fa-check"></i> Mark as Best</a>
                    }
                }

                if (Model.RepliedTo == null)
                {
                    if (Model.IsBestAnswer)
                    {
                        <a  href="javascript:void(0); " class="best-answer"  style="margin-left:15px;color:red;">Best Answer</a>
                    }
                    else
                    {
                        <a  href="javascript:void(0);" class="best-answer"  style="margin-left:15px;color:red;display:none">Best Answer</a>
                    }
                }
            }
			<div class="clear"></div>
			<div class="comment_date">@Model.RepliedDate.ToShortDateString()</div>
		</div>
		@Html.Raw(Model.Body)
        <div class="form-container" data-url="@Url.Action("Reply", "Dialog", new { id = Model.QuestionId, rep = Model.Id })">
        </div>
	</div>
    </td>
    </tr>
    </table>
	
	
	<div class="clear"></div>
    @if (Model.Replies != null && Model.Replies.Any())
    {
	<ul>
        @foreach (var item in Model.Replies)
        {
		    @Html.Partial("_Answer", item)
        }
	</ul>
    }
</li>