﻿@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - About us";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<style>
    .about_us h2, .about_us h3
    {
        text-transform: none;
    }
</style>
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
        <div class="my_account_block clearfix">
            <div class="manage about_us">
                <h2>About us</h2>
                <h3>At Ethan & Eian, we only retail products of exclusive quality from premium brands.</h3>
                <h3>As parents ourselves, we understand that sourcing for the best at the most competitive & affordable price is very important. All these starts from the journey of pregnancy to parenthood.</h3>
                <h3>Ethan & Eian strives to provide excellent customer service to each and everyone. Our customization options in getting bundle packs allows room for creativity & necessity, be it as a gift or for own use.</h3>
                <h3>We will be adding on more brands and range of products so stay tuned.</h3>
                <h3>We would also like to hear from you any brands or suggestions you might have in mind. So do drop us an email at kelissa@ethaneian.com</h3>
            </div>
        </div>
    </div>
</section>