﻿@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Data Protection Policy";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<style>
    .data_protection_policy div
    {
        margin: 15px;        
    }
    
    .data_protection_policy h2, .data_protection_policy h3
    {
        text-transform: none;
    }
</style>
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
        <div class="my_account_block clearfix">
            <div class="manage data_protection_policy">
                <h2>Data Protection Policy</h2>
                <h3>This document (“Data Protection Policy”) is intended to provide information on how Ethan & Eian collects, uses, discloses, manages and handles personal data which is subject to the Personal Data Protection Act 2012 (No. 26 of 2012) (“the Act”). Please read this Data Protection Policy carefully. By accessing our website, using any services provided by Ethan & Eian, signing up for any products and services provided by Ethan & Eian, submitting any information to us, or otherwise showing your agreement thereon, you will be deemed to have agreed and consented to the terms of this Data Protection Policy.</h3>                
                <h3>Ethan & Eian reserves the right to amend, alter, change or modify this Data Protection Policy at any time without prior notice. Any amendment, alteration, changes or modification will be posted from time to time on our website. Subject to your rights under any applicable laws, you agree or shall be deemed to agree to be bound by any of such amended, altered, changed or modified Data Protection Policy by continuing to access our website, using any services provided by Ethan & Eian, signing up for any products and services provided by Ethan & Eian, submitting information to us, or otherwise showing your agreement thereon.</h3>
                <h3>
                    <div>
                        1. Personal Data
                        <div>1.1. In this Data Protection Policy, “Personal Data” means any data, whether true or false, which can be related to a specific identifiable individual, whether such individual is identifiable from the data itself, or from other information which is available to us.</div>
                        <div>1.2. Examples of such Personal Data you may provide to us include (depending on the nature of your interaction with us) your name, NRIC, passport or other identification number, telephone number(s), mailing address, email address, network data and any other information relating to any individuals which you have provided us in any forms you may have submitted to us, or via other forms of interaction with you.</div>
                    </div>                
                    <div>
                        2. Collection of Personal Data
                        <div>2.1. Ethan & Eian may collect your Personal Data in several different ways. Please take care when submitting information to us, in particular when completing free text fields or uploading documents and other materials. Some of our services are automated and we may not recognise that you have accidentally provided us with incorrect or sensitive information.</div>
                        <div>
                            2.2. Whenever you interact with Ethan & Eian, you may or may be asked to provide us your Personal Data. For example:
                            <div>a. when creating your accounts, such as for My Ethan & Eian, we may ask you to provide a range of information, such as your name, date of birth, contact details, interests and account and newsletter preferences;</div>
                            <div>b. when you purchase, register, send for repair or return one of our products online, we may record the call and/or ask you to provide information such as your contact details, delivery date and place of purchase and payment information;</div>
                            <div>c. when you contact our customer service centres for assistance, we may keep information about the call, including your name, the product(s) you bought, the reason to why you contacted us and the advice we gave you;</div>
                            <div>d. when you visit us at a public event, such as trade show or exhibition or participate in one of our surveys, competitions or prize draws, we may ask for information, such as your business card, name, contact details, interests and preferences;</div>
                            <div>e. when you use our online services, we may receive content that you choose to upload, such as product reviews, comments, photos and forum posts, or details of your interests and preferences that you choose to tell us about for example, when you select the services that you wish to receive; and</div>
                            <div>f. when you submit your Personal Data to us for any other reasons.</div>
                        </div>
                        <div>2.3. If you provide us with any Personal Data relating to a third party (e.g. information of your spouse, children, parents, and/or employees), by submitting such Personal Data to us, you represent to us that you have obtained the consent of the third party to provide us with their Personal Data for the purposes as listed below.</div>
                        <div>2.4. You should ensure that all Personal Data submitted to us is complete, accurate, true and correct. Failure on your part to do so may result in our inability to provide you with the products and services you have requested.</div>
                    </div>               
                    <div>
                        3. Purpose of Collection, Use and Disclosure of Your Personal Data
                        <div>
                            3.1. Generally, Ethan & Eian collects, uses and discloses your Personal Data for the following purposes:
                            <div>a. resolving complaints and responding and handling requests and enquiries;</div>
                            <div>b. providing customer care, warranty, returns and other after sales services;</div>
                            <div>c. for staff training and quality assurance purposes, particularly in relation to our customer relations staff at our call, email and other support centres;</div>
                            <div>d. asking for your opinions on Ethan & Eian products and services and conducting product surveys;</div>
                            <div>e. facilitating and processing your searches and requests for information when you contact us about Ethan & Eian and its products and services;</div>
                            <div>f. conducting prize draws, contests and other promotional offers;</div>
                            <div>g. considering employing you if you contact us via one of Ethan & Eian’s job application websites;</div>
                            <div>h. managing the administrative and business operations of Ethan & Eian and complying with internal policies and procedures;</div>
                            <div>i. facilitating business asset transactions (which may extend to any mergers, acquisitions or asset sales) involving any of the related corporations or affiliates of Ethan & Eian;</div>
                            <div>j. matching any Personal Data held which relates to you for any of the purposes listed herein;</div>
                            <div>k. analyzing, investigating, handling, resolving any security matters or any vulnerability;</div>
                            <div>l. preventing, detecting and investigating crime and analyzing and managing commercial risks;</div>
                            <div>m. providing media announcements and responses;</div>
                            <div>n. monitoring or recording phone calls and customer-facing interactions for quality assurance, employee training and performance evaluation and identity verification purposes;</div>
                            <div>o. organising promotional events;</div>
                            <div>p. legal purposes (including but not limited to obtaining legal advice and dispute resolution);</div>
                            <div>q. conducting investigations relating to disputes, billing or fraud;</div>
                            <div>r. meeting or complying with any applicable rules, laws, regulations, codes of practice or guidelines issued by any legal or regulatory bodies which are binding on Ethan & Eian (including but not limited to responding to regulatory complaints, disclosing to regulatory bodies and conducting audit checks, due diligence and investigations); and</div>
                            <div>s. any purposes which are reasonably related to the aforesaid.</div>
                        </div>
                        <div>3.2. In relation to particular products and services or in your interactions with us, we may also have specifically notified you of other purposes for which we collect, use or disclose your Personal Data. If so, we will collect, use and disclose your Personal Data for these additional purposes as well, unless we have specifically notified you otherwise.</div>
                    </div>
                    <div>
                        4. Disclosing and Transferring Personal Data
                        <div>
                            4.1. Ethan & Eian will take appropriate and commercially reasonable technical, physical, and administrative measures to protect any Personal Data it possesses or controls from misuse or accidental, unlawful or unauthorised destruction, loss, alteration, disclosure, acquisition or access in accordance with the Act. Subject to the provisions of any applicable law, your Personal Data may be disclosed, for the purposes listed above (where applicable), to the following:
                            <div>a. Ethan & Eian’s related corporations or affiliates and their employees to provide content, products and services to you or Ethan & Eian;</div>
                            <div>b. agents, contractors or third party service providers who provide services to Ethan & Eian;</div>
                            <div>c. commercial shops and retailers in relation to providing rewards and benefits;</div>
                            <div>d. any business partner, investor, assignee or transferee (actual or prospective) to facilitate business asset transactions (which may extend to any merger, acquisition or asset sale) involving any of Ethan & Eian’s related corporations or affiliates;</div>
                            <div>e. our professional advisers such as auditors, financial advisers and lawyers;</div>
                            <div>f. relevant government regulators, statutory boards or authorities or law enforcement agencies to comply with any laws, rules, guidelines and regulations or schemes imposed by any governmental authority; and</div>
                            <div>g. any other party to whom you specifically authorise us to disclose your Personal Data.</div>
                        </div>
                        <div>4.2. You consent and agree to Ethan & Eian transferring your Personal Data outside of Singapore for any of the purposes as listed above.</div>
                    </div>
                    <div>
                        5. Cookies
                        <div>5.1. In order to improve our services to you, we sometimes use automated tracking devices such as a "cookie". A cookie is a small amount of data that our web server sends to your web browser when you visit certain parts of our website and the use of which is intended to assist our understanding of your interest in our website. However, you can always choose to disable cookies from being stored on your computer by changing your browser settings. Disabling cookies, however, may result in a limited experience of our functionality and services and in some cases may mean that we are unable to provide you with the services, or parts of the services, that you have requested. Some of our business partners whose content is incorporated into or linked to from the website may also use cookies. However, we have no access to or control over these cookies or websites.</div>
                    </div>
                    <div>
                        6. Withdrawal of Consent, Access and Correction of your Personal Data
                        <div>
                            6.1. If you:
                            <div>a. have any questions or feedback relating to your Personal Data or our Data Protection Policy;</div>
                            <div>b. would like to withdraw your consent to any use of your Personal Data as set out in this Data Protection Policy or otherwise; or</div>
                            <div>c. would like to make access or corrections to your Personal Data records, please contact Ethan & Eian as follows:</div>
                            <div>Email: Kelissa@ethaneian.com</div>
                            <div>Ethan & Eian will generally be able to respond to such queries and/or requests within 30 days.</div>
                        </div>
                        <div>6.2. If you withdraw your consent to any or all use of your Personal Data, depending on the nature of your request, Ethan & Eian may not be able to continue to provide its products and/or services to you.</div>
                    </div>
                </h3>
            </div>
        </div>
    </div>
</section>