﻿@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Disclaimer &amp Legal Notice";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<style>
    .disclaimer_and_legal_notice h2, .disclaimer_and_legal_notice h3
    {
        text-transform: none;
    }
</style>
<section class="my_account parallax">
	<!-- CONTAINER -->
	<div class="container">
        <div class="my_account_block clearfix">
            <div class="manage disclaimer_and_legal_notice">
                <h2>Disclaimer &amp Legal Notice</h2>
                <h3>This website is the property of Ethan & Eian. It may only be reproduced, disclosed or distributed for non-commercial use with written authorization from Ethan & Eian. Any unauthorized reproduction, disclosure or distribution of copies by any person of any portion of this website may be a violation of the Copyright Law.</h3>
                <h3>With all the material contained in these Web pages, Ethan & Eian has attempted to offer the most timely and accurate information possible. However, inadvertent errors may occur. The information contained in these Web pages is provided without warranty of accuracy. Ethan & Eian reserves the right to discontinue, or change at any time, product features or any information in these Web pages without notice or liabilities.</h3>
                <h3>Many links from this site lead to external resources (websites) which are maintained and hosted by third parties, over which Ethan & Eian has no control and is in no manner responsible.</h3>
            </div>
        </div>
    </div>
</section>