﻿@model TotoBobo.Mvc.Models.FAQModel
@{
    ViewBag.Title = "FAQ";
}

@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
@section Styles{
<style>
  /* For the bootstrapped demos */
  .fancy-select,.trigger,.options
  {
      width:100%;
  }
</style>
}
<!-- BREADCRUMBS -->
		<section class="breadcrumb parallax margbot30"></section>
		<!-- //BREADCRUMBS -->
		
		
		<!-- PAGE HEADER -->
		<section class="page_header">
			
			<!-- CONTAINER -->
			<div class="container">
				<h3 class="pull-left"><b>Ask our community</b></h3>
				
				<div class="pull-right">
					<a href="@Url.Action("Index")" >Back to shop<i class="fa fa-angle-right"></i></a>
				</div>
			</div><!-- //CONTAINER -->
		</section><!-- //PAGE HEADER -->
		@if (Model.Doctors != null && Model.Doctors.Any())
                {
                    <section class="brands_carousel">
			
			        <!-- CONTAINER -->
			        <div class="container">
				
				        <!-- JCAROUSEL -->
				        <div class="jcarousel-wrapper">
					
					        <!-- NAVIGATION -->
					        <div class="jCarousel_pagination">
						        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
						        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
					        </div><!-- //NAVIGATION -->
					
					        <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
						        <ul>
                                    @foreach (var doc in Model.Doctors)
                                    {
                                        <li>
                                        <table>
                                        <tr>
                                            <td><a href="@doc.Url" ><img src="@doc.Avator" alt="" style="width:100px" /></a></td>
                                            <td style="width:10px"></td>
                                            <td valign="top" style="max-width:190px">
                                                <label style="font-weight:bold">@doc.Name</label><br />
                                                @doc.Title<br />
                                                @doc.CompanyName
                                            </td>
                                        </tr>
                                        </table>
                                        
                                        </li>
                                    }
						        </ul>
					        </div>
				        </div><!-- //JCAROUSEL -->
			        </div><!-- //CONTAINER -->
		        </section><!-- //BRANDS -->
                }
		
		<!-- BLOG BLOCK -->
		<section class="blog">
			
			<!-- CONTAINER -->
			<div class="container">
			    <div class="row">
                    <div class="sidepanel widget_search">
						@using (Html.BeginForm("SearchQA", "Home", FormMethod.Post, new { @id = "searchform" }))
      {
                        @Html.AntiForgeryToken()
                          <table style="width:100%">
                              <tr>
                                  <td valign="middle">@Html.TextBoxFor(m => m.Keywords)</td>
                                  <td style="width:285px;" valign="top"><a class = "btn btn-searchqa" style="padding:8px 12px;margin-left:20px;">Search</a>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a  class = "btn btn-post" style="padding:8px 12px;margin-left:20px;">Post Your Own</a>
                                    }
                                  </td>
                              </tr>
                          </table> 
      }

                        <div class="contact_form" style="display:none">
							<h3><b>Contacts form</b></h3>
							<p>Sign in to save and share your question.</p>
							<div id="note"></div>
							<div id="fields">
                                @using (Html.BeginForm("FAQ", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @id = "inpEmail" })

                                    @Html.LabelFor(m => m.Phone)
                                    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone", @id = "inpPhone" })

                                    @Html.LabelFor(m => m.TypeId)
                                    <div style="width:100%">
                                    @Html.DropDownListFor(m => m.TypeId, null, new { @class = "basic typedropdown", @style = "width:100%" })
                                    </div>
                                    
                                    @Html.LabelFor(m => m.DoctorId)
                                    <div style="width:100%">
                                    @Html.DropDownListFor(m => m.DoctorId, null, new { @class = "basic docdropdown", @style = "width:100%" })
                                    </div>
                                    
                                    @Html.LabelFor(m => m.Title)
                                    @Html.TextBoxFor(m => m.Title, new { @placeholder = "Title", @id = "inpTitle" })
                                
                                    @Html.LabelFor(m => m.Description)
                                    @Html.TextAreaFor(m => m.Description, new { @placeholder = "Description", @id = "inpDescription" })

                                    <div class="row" style="padding-left:15px">
                                        <input class="btn active" type="submit" value="Submit Message" style="width:200px;float:none" />
                                        <input class="btn active btn-cancelpost" value="Cancel" style="width:200px;float:none;padding:10px 52px;border:0px;" />
                                    </div>
                                }
								
							</div>
                        </div>
					</div>

                </div>
				<!-- ROW -->
				<div class="row">
					
                    <!-- SIDEBAR -->
			        <div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 padbot50">
						
				        <!-- CATEGORIES -->
				        <div class="sidepanel widget_categories">
					        <h3>Categories</h3>
                            @{
                                List<SelectListItem> questionTypeSelectListItem = ViewData["TypeId"] as List<SelectListItem>;
                                if( questionTypeSelectListItem!=null && questionTypeSelectListItem.Count>0)
                                {
					                <ul>                                
                                        @foreach (var item in questionTypeSelectListItem)
                                        {
                                            <li>@Html.ActionLink(item.Text, "FAQ", new { questionTypeId = item.Value })</li>
                                        }
					                </ul>
                                }
                            }
				        </div><!-- //CATEGORIES -->                        
			        </div><!-- //SIDEBAR -->

					<!-- BLOG LIST -->
					<div class="col-lg-9 col-sm-9 padbot20 listview">
						@foreach (var item in Model.Questions)
      {
                            <article class="post margbot40 clearfix listitem" data-appear-top-offset='-100' data-animated='fadeInUp'>
							    <a class="post_title" href="@Url.Action("FAQDetail", new { id = item.Id })" >@item.Title</a>
                                <div style="margin-bottom: 15px;"><h3><a href="@Url.Action("FAQ", new { questionTypeId = item.QuestionType.Id })">Category: @item.QuestionType.Name</a></h3></div>
							    <div class="post_content">@item.Description</div>
							    <ul class="post_meta">
								    <li><i class="fa fa-user"></i><a href="javascript:void(0);" >@item.CreatedUserName</a></li>
								    <li><i class="fa fa-comments"></i>@item.Status</li>
                                    @if (item.Replies != null && item.Replies.Any(r => r.IsDoctorReply))
                                    {
                                        <li style="color:Red"><i class="fa fa-check"></i>Doctor Replied</li>
                                    }
                                    <!--
                                    @if (Request.IsAuthenticated && Roles.GetRolesForUser(User.Identity.Name).Contains("Admin"))
                                    {
                                        <li><i class="fa"></i><a href="@Url.Action("DeleteFAQ", "Home", new { id = item.Id })" >Delete</a></li>
                                    }
                                    -->
							    </ul>
						    </article>
      }
						
						
						<hr>
						
						<!-- PAGINATION -->
						<ul class="pagination clearfix">
							
						</ul><!-- //PAGINATION -->
					</div><!-- //BLOG LIST -->
					
					
					
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
		</section><!-- //BLOG BLOCK -->
@section Scripts {
    @Scripts.Render("~/bundles/scripts/productview")
    <script type="text/javascript">
        $(function () {
            // $(".listview>.listitem").tsort({ data: 'price' });
            window.itemsPerPage = 6;
            $(".pagination").pagination({
                items: $(".listitem").length,
                itemsOnPage: window.itemsPerPage,
                onPageClick: function (number, event) {
                    $(".listitem").each(function () { $(this).css("display", "none"); });
                    var end = number * window.itemsPerPage - 1;
                    if (end > $(".listitem").length) {
                        end = $(".listitem").length;
                    }

                    for (var i = (number - 1) * window.itemsPerPage; i <= end; i++) {
                        $(".listitem").eq(i).css("display", "block");
                    }
                }
            });

            $(".pagination").pagination('selectPage', 1);

            if ($(".listitem").length == 0) {
                $(".contact_form").css("display", "block");
            }

            $(".trigger").css("width", "100%");
        });

        $(".btn-post").click(function () {
            $(".contact_form").css("display", "block");
            $("#inpEmail").val("");
            $("#inpPhone").val("");
            $("#inpTitle").val("");
            $("#inpDescription").val("");
        });

        $(".btn-cancelpost").click(function () {
            $(".contact_form").css("display", "none");
        });

        $(".btn-searchqa").click(function () {
            $("#searchform").submit();
        });
    </script>
}