﻿@model TotoBobo.Mvc.Models.FAQModel
@{
    ViewBag.Title = "FAQDetail";
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container">
		<h3 class="pull-left"><b>FAQ</b></h3>
				
		<div class="pull-right">
			<a href="@Url.Action("FAQ")" >Back to FAQ List<i class="fa fa-angle-right"></i></a>
		</div>
	</div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->
@if (Model.Doctors != null && Model.Doctors.Any())
                {
                    <section class="brands_carousel">
			
			        <!-- CONTAINER -->
			        <div class="container">
				
				        <!-- JCAROUSEL -->
				        <div class="jcarousel-wrapper">
					
					        <!-- NAVIGATION -->
					        <div class="jCarousel_pagination">
						        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
						        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
					        </div><!-- //NAVIGATION -->
					
					        <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
						        <ul>
                                    @foreach (var doc in Model.Doctors)
                                    {
                                        <li>
                                        <table>
                                        <tr>
                                            <td><a href="@doc.Url" ><img src="@doc.Avator" alt="" style="width:100px" /></a></td>
                                            <td style="width:10px"></td>
                                            <td valign="top" style="max-width:190px">
                                                <label style="font-weight:bold">@doc.Name</label><br />
                                                 <label style="font-weight:bold">Title:</label> @doc.Title<br />
                                                <label style="font-weight:bold">Company:</label>@doc.CompanyName
                                            </td>
                                        </tr>
                                        </table>
                                        
                                        </li>
                                    }
						        </ul>
					        </div>
				        </div><!-- //JCAROUSEL -->
			        </div><!-- //CONTAINER -->
		        </section><!-- //BRANDS -->
                }
<!-- BLOG BLOCK -->
		<section class="blog">
			
			<!-- CONTAINER -->
			<div class="container">
			
				<!-- ROW -->
				<div class="row">
						
						<article class="post blog_post clearfix margbot20" data-appear-top-offset='-100' data-animated='fadeInUp'>
							<div class="post_title" href="javascript:void" >@Model.Question.Title</div>
                            <div style="margin-bottom: 15px;">Category: @Model.Question.QuestionType.Name</div>
							<ul class="post_meta">
								<li><i class="fa fa-user"></i><a href="javascript:void(0);" >@Model.Question.CreatedUserName</a></li>
								<li><i class="fa fa-comments"></i>@Model.Question.Status</li>
							</ul>
							
							<div class="blog_post_content" style="padding:0px">
								@Model.Question.Description
							</div>
							
						</article>
						
						@if (Model.Question.Replies!=null&&Model.Question.Replies.Any())
                        {
						<!-- COMMENTS -->
						<div id="comments" data-appear-top-offset='-100' data-animated='fadeInUp'>
							<h2>Reply (@Model.Question.Replies.Count)</h2>
							<ol>
                                @foreach (var item in Model.Question.Replies)
                                {
								    @Html.Partial("_Answer", item)
                                }
							</ol>
						</div><!-- //COMMENTS -->
                        }
                        
                        @if (Request.IsAuthenticated)
                        {
                            @Html.Action("Reply", "Dialog", new { id = Model.Question.Id, rep = 0 });
                        }
                       
</div>
</div>
</section>
@section Scripts {
<script type="text/javascript">
    $(function () {
        $(".replyform").submit(function () {
            if ($.trim($(this).find(".replybody").val()).length == 0) {
                alert("Please input your comment first!");
                return false;
            }
            return true;
        });

        $(".comment_reply").click(function () {
            var container = $(this).parent().parent().find(".form-container");
            container.load(container.attr("data-url"), function () {
                container.find(".replyform").submit(function () {
                    if ($.trim($(this).find(".replybody").val()).length == 0) {
                        alert("Please input your comment first!");
                        return false;
                    }
                    return true;
                });
            });
        });

        $(".comment_like").click(function () {
            var that=$(this);
            var url = $(this).attr("data-url");
            var $ele=$(this).find(".count").eq(0);
            var number=parseInt($ele.text());
            $.ajax({
                type: "POST",
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if(data.Success){
                       $ele.text((number+1));
                       that.unbind("click");
                    }else{
                       
                    }
                },
                    
            });
        });

        $(".comment_dislike").click(function () {
            var that=$(this);
            var url = $(this).attr("data-url");
            var $ele=$(this).find(".count").eq(0);
            var number=parseInt($ele.text());
            $.ajax({
                type: "POST",
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if(data.Success){
                       $ele.text((number+1));
                        that.unbind("click");
                    }else{
                       
                    }
                },
                    
            });
        });

        $(".comment_choosebest").click(function () {
            var that=$(this);
            var url = $(this).attr("data-url")+"?pid="+$(this).attr("data-id");
            $.ajax({
                type: "POST",
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if(data.Success){
                        $(".best-answer").css("display","none");
                        $(".comment_choosebest").css("display","inline");
                        $(".comment_choosebest").attr("data-id",data.Id);
                        that.parent().find(".comment_choosebest").css("display","none");
                        that.parent().find(".best-answer").css("display","inline");
                    }else{
                       
                    }
                },
                    
            });
        });

    });
    </script>
}