﻿@model TotoBobo.Mvc.Models.HomeModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName;
}
@section menu {
    @Html.Partial("_MenuPartial", "Home")
}
<section id="home" class="padbot0">
<!-- TOP SLIDER -->
	<div class="flexslider top_slider">
		<ul class="slides">
        @if (Model.HomeBanners.Any())
        {
            foreach (var item in Model.HomeBanners)
            {
			    <li class="slide1" style="background-image:url(@item.TopBanner)">
				    <!-- CONTAINER -->
				    <div class="container">
					    <div class="flex_caption1">
						    <p class="title1 captionDelay2 FromTop"></p>
						    <p class="title2 captionDelay3 FromTop"></p>
					    </div>
					    <a class="flex_caption2" href="javascript:void(0);" ><div class="middle">sale<span>shop</span>now</div></a>
					    <div class="flex_caption3 slide_banner_wrapper">
                            @if (item.Order % 2 == 0)
                            {
                                if (string.IsNullOrEmpty(item.Banner2Link))
                                {
                                    <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="@item.Banner2" alt="" /></a>
                                }
                                else
                                {
                                    <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="@item.Banner2" alt="" /></a>
                                }
                                if (string.IsNullOrEmpty(item.Banner1Link))
                                {
                                    <a class="slide_banner slide1_banner3 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="@item.Banner1" alt="" /></a>
                                }
                                else
                                {
                                    <a class="slide_banner slide1_banner3 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="@item.Banner1" alt="" /></a>
                                }
                                if (string.IsNullOrEmpty(item.Banner3Link))
                                {
                                    <a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="@item.Banner3" alt="" /></a>
                                }
                                else
                                {
                                    <a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="@item.Banner3" alt="" /></a>
                                }
                            }
                            else
                            {
                                if (string.IsNullOrEmpty(item.Banner2Link))
                                {
                                    <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="@item.Banner2" alt="" /></a>
                                }
                                else
                                {
                                    <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="@item.Banner2Link" ><img src="@item.Banner2" alt="" /></a>
                                }
                                if (string.IsNullOrEmpty(item.Banner3Link))
                                {
                                    <a class="slide_banner slide1_banner2 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="@item.Banner3" alt="" /></a>
                                }
                                else
                                {
                                    <a class="slide_banner slide1_banner2 captionDelay5 FromBottom" href="@item.Banner3Link" ><img src="@item.Banner3" alt="" /></a>
                                }
                                if (string.IsNullOrEmpty(item.Banner1Link))
                                {
                                    <a class="slide_banner slide1_banner3 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="@item.Banner1" alt="" /></a>
                                }
                                else
                                {
                                    <a class="slide_banner slide1_banner3 captionDelay6 FromBottom" href="@item.Banner1Link" ><img src="@item.Banner1" alt="" /></a>
                                }
                            }
					    </div>
				    </div><!-- //CONTAINER -->
			    </li>
            }
        }
        else
        {
            <li class="slide1">
						<!-- CONTAINER -->
						<div class="container">
							<div class="flex_caption1">
								<p class="title1 captionDelay2 FromTop">mega sell</p>
								<p class="title2 captionDelay3 FromTop">last week of sales</p>
							</div>
							<a class="flex_caption2" href="javascript:void(0);" ><div class="middle">sale<span>shop</span>now</div></a>
							<div class="flex_caption3 slide_banner_wrapper">
								<a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner1.jpg" alt="" /></a>
								<a class="slide_banner slide1_banner2 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner2.jpg" alt="" /></a>
								<a class="slide_banner slide1_banner3 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner3.jpg" alt="" /></a>
							</div>
						</div><!-- //CONTAINER -->
					</li>
					
					<li class="slide2">
						
						<!-- CONTAINER -->
						<div class="container">
							<div class="flex_caption1">
								<p class="title1 captionDelay2 FromTop">mega sell</p>
								<p class="title2 captionDelay3 FromTop">last week of sales</p>
							</div>
							<a class="flex_caption2" href="javascript:void(0);" ><div class="middle">sale<span>shop</span>now</div></a>
							<div class="flex_caption3 slide_banner_wrapper">
								<a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner1.jpg" alt="" /></a>
								<a class="slide_banner slide1_banner3 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner3.jpg" alt="" /></a>
								<a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner2.jpg" alt="" /></a>
							</div>
						</div><!-- //CONTAINER -->
					</li>
					
					<li class="slide3">
						
						<!-- CONTAINER -->
						<div class="container">
							<div class="flex_caption1">
								<p class="title1 captionDelay2 FromTop">mega sell</p>
								<p class="title2 captionDelay3 FromTop">last week of sales</p>
							</div>
							<a class="flex_caption2" href="javascript:void(0);" ><div class="middle">sale<span>shop</span>now</div></a>
							<div class="flex_caption3 slide_banner_wrapper">
								<a class="slide_banner slide1_banner3 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner3.jpg" alt="" /></a>
								<a class="slide_banner slide1_banner1 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner1.jpg" alt="" /></a>
								<a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="../../images/slider/slide1_baner2.jpg" alt="" /></a>
							</div>
						</div><!-- //CONTAINER -->
					</li>
        }
		</ul>
	</div>
<!-- //TOP SLIDER -->
</section>

<!-- TOVAR SECTION -->
@if (Model.FeaturedProductRows.Any())
{
    <section class="tovar_section">
        <div class="container">
            <h2>Featured products</h2>
            @foreach (var item in Model.FeaturedProductRows)
            {
                <!-- ROW -->
			    <div class="row featuredproducts">
				    <!-- TOVAR WRAPPER -->
				    <div class="tovar_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        @foreach (var fp in item.FeaturedProducts)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot40">
                                @if (fp.IsOutOfStock)
                                {
							        <div class="tovar_item tovar_outofstock">
								        <div class="tovar_img">
									        <div class="tovar_img_wrapper">
										        <img class="img" src="@fp.Uri" alt="" />
										        <img class="img_h" src="@fp.Uri2" alt="" />
									        </div>
									        <div class="tovar_item_btns">
                                                <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = fp.Id })">Detailed View</a>
										        <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = fp.Id })" >quick view</a></div>
										        <a class="add_bag quick_add" href="javascript:void(0);"  data-tags="@fp.HasTag"  data-url="@Url.Action("AddToCart", "Cart", new { id = fp.Id })"><i class="fa fa-shopping-cart"></i></a>
										   
									        </div>
								        </div>
								        <div class="tovar_description clearfix">
                                            @Html.ActionLink(fp.Name, "Detail", "Product", new { id = fp.Id }, new { @class = "tovar_title" })
									        <span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@fp.Price</span>
								        </div>
							        </div>
                                }
                                else if (fp.IsSale)
                                {
                                <div class="tovar_item tovar_sale">
								        <div class="tovar_img">
									        <div class="tovar_img_wrapper">
										        <img class="img" src="@fp.Uri" alt="" />
										        <img class="img_h" src="@fp.Uri2" alt="" />
									        </div>
									        <div class="tovar_item_btns">
                                                <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = fp.Id })">Detailed View</a>
										        <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = fp.Id })" >quick view</a></div>
										        <a class="add_bag quick_add" href="javascript:void(0);"  data-tags="@fp.HasTag"  data-url="@Url.Action("AddToCart", "Cart", new { id = fp.Id })"><i class="fa fa-shopping-cart"></i></a>
										   
									        </div>
								        </div>
								        <div class="tovar_description clearfix">
                                            @Html.ActionLink(fp.Name, "Detail", "Product", new { id = fp.Id }, new { @class = "tovar_title" })
									        <span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@fp.Price</span>
								        </div>
							        </div>
                                }
                                else
                                {
                                    <div class="tovar_item">
								        <div class="tovar_img">
									        <div class="tovar_img_wrapper">
										        <img class="img" src="@fp.Uri" alt="" />
										        <img class="img_h" src="@fp.Uri2" alt="" />
									        </div>
									        <div class="tovar_item_btns">
                                                <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = fp.Id })">Detailed View</a>
										        <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = fp.Id })" >quick view</a></div>
										        <a class="add_bag quick_add" href="javascript:void(0);"  data-tags="@fp.HasTag"  data-url="@Url.Action("AddToCart", "Cart", new { id = fp.Id })"><i class="fa fa-shopping-cart"></i></a>
										   
									        </div>
								        </div>
								        <div class="tovar_description clearfix">
                                            @Html.ActionLink(fp.Name, "Detail", "Product", new { id = fp.Id }, new { @class = "tovar_title" })
									        <span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@fp.Price</span>
								        </div>
							        </div>
                                }
						    </div>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
}

@if (Model.NewArraivals.Any())
{
<!-- NEW ARRIVALS -->
<section class="new_arrivals padbot50" style="padding-top:20px">
			
    <!-- CONTAINER -->
    <div class="container">
    <h2>new arrivals</h2>
				
    <!-- JCAROUSEL -->
        <div class="jcarousel-wrapper">
					
            <!-- NAVIGATION -->
            <div class="jCarousel_pagination">
            <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
            <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
            </div><!-- //NAVIGATION -->
					
            <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                <ul>
                @foreach (var item in Model.NewArraivals)
                {
                    <li>
                    @if (item.IsOutOfStock)
                    {
                        <div class="tovar_item_new tovar_outofstock">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
                    else if (item.IsSale)
                    {
                        <div class="tovar_item_new tovar_sale">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
                    else
                    {
						<div class="tovar_item_new">
							<div class="tovar_img">
                                <div class="tovar_img_wrapper">
								    <img src="@item.Uri" alt="" />
                                </div>
                                <div class="tovar_item_btns">
                                    <a class="tovar_view" href="@Url.Action("Detail", "Product", new { id = item.Id })">Detailed View</a>
								    <div class="open-project-link"><a class="open-project tovar_view" href="@Url.Action("ProductQV", "Dialog", new { id = item.Id })" >quick view</a></div>
                                </div>
							</div>
							<div class="tovar_description clearfix">
								@Html.ActionLink(item.Name, "Detail", "Product", new { id = item.Id }, new { @class = "tovar_title" })
								<span class="tovar_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price</span>
							</div>
						</div><!-- //TOVAR -->
                    }
					</li>
                }
                </ul>
            </div>
        </div>
    </div>
</section>
}


@if (Model.Brands.Any())
{
    <!-- BRANDS -->
		<section class="brands_carousel">
			
			<!-- CONTAINER -->
			<div class="container">
				
				<!-- JCAROUSEL -->
				<div class="jcarousel-wrapper">
					
					<!-- NAVIGATION -->
					<div class="jCarousel_pagination">
						<a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
						<a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
					</div><!-- //NAVIGATION -->
					
					<div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
						<ul>
                            @foreach (var brand in Model.Brands)
                            {
                                <li><a href="@Url.Action("List", "Product", new { bid = brand.Id, cid = 0 })" ><img src="@brand.Logo" alt="" /></a></li>
                            }
						</ul>
					</div>
				</div><!-- //JCAROUSEL -->
			</div><!-- //CONTAINER -->
		</section><!-- //BRANDS -->
}
<!-- TOVAR MODAL CONTENT -->
<div id="modal-body" class="clearfix">
	<div id="tovar_content"></div>
	<div class="close_block"></div>
</div><!-- TOVAR MODAL CONTENT -->
@section Scripts {
<script type="text/javascript">
    $(function () {
        var maxHeight = 0;
        $(".featuredproducts .tovar_description").each(function () {
            if ($(this).height() > maxHeight) {
                maxHeight = $(this).height();
            }
        });
        $(".tovar_description").each(function () {
            $(this).height(maxHeight);
        });
        
    });
    </script>
}


@{
    string popupBanner = System.Web.Configuration.WebConfigurationManager.AppSettings["PopupBanner"];
    string popupBannerGUID = System.Web.Configuration.WebConfigurationManager.AppSettings["PopupBannerGUID"];
    if( string.IsNullOrWhiteSpace(popupBanner)==false )
    {
        string uploadfolder = System.Web.Configuration.WebConfigurationManager.AppSettings["UploadFolder"];
        string directory = Path.Combine(Server.MapPath("~/" + uploadfolder), popupBannerGUID);
        string url = "/" + uploadfolder + "/" + popupBannerGUID + "/" + popupBanner;

        <div class="modal fade in modal-popup" style="margin-top:64px;">
            <div class="modal-body">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 620px; height: 650px;">
                        <div class="modal-body modal-message" style="padding:10px;">
                            <a href="#" class="btn-cancel" data-dismiss="modal">Close</a>
                            <img src="@url" style="width: 600px; height: 600px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}