﻿@model TotoBobo.Data.Objects.Answer
<li>
    <table style="width:100%">
    <tr>
    <td style="width:100px"><div class="pull-left avatar"><a href="javascript:void(0);">
        @if (!string.IsNullOrEmpty(Model.RepliedBy.Avator))
        {
            <img src="@Model.RepliedBy.Avator" style="width:70px" alt="" />
        }
        else
        {
            <img src="../../images/avatar1.jpg" alt="" />
        }
    </a></div></td>
    <td style="">
    <div style="border:1px solid #efefef;padding:10px;">
		<div class="comment_info">
			<a class="comment_author" href="javascript:void(0);" >@Model.RepliedBy.UserName</a>
            @if (Request.IsAuthenticated)
            {
                <a class="comment_reply" href="javascript:void(0);" ><i class="i i-like"></i> Like (@Model.LikeCount)</a>
                <a class="comment_reply" href="javascript:void(0);" ><i class="i i-dislike"></i> Dislike (@Model.DislikeCount)</a>
			    <a class="comment_reply" href="javascript:void(0);" ><i class="fa fa-share"></i> Reply</a>
            }
			<div class="clear"></div>
			<div class="comment_date">@Model.RepliedDate.ToShortDateString()</div>
		</div>
		@Html.Raw(Model.Body)
        <div class="form-container" data-url="@Url.Action("Reply", "Dialog", new { id = Model.QuestionId, rep = Model.Id })">
        </div>
	</div>
    </td>
    </tr>
    </table>
	
	
	<div class="clear"></div>
    @if (Model.Replies != null && Model.Replies.Any())
    {
	<ul>
        @foreach (var item in Model.Replies)
        {
		    @Html.Partial("_Answer", item)
        }
	</ul>
    }
</li>