﻿@model TotoBobo.Mvc.Models.CartModel
<div class="row">
    <!-- CART TABLE -->
    <div class="col-lg-9 col-md-9 padbot40">
        <table class="shop_table">
            <thead>
                <tr>
                    <th class="product-thumbnail">
                    </th>
                    <th class="product-name">
                        Item
                    </th>
                    <th class="product-price">
                        Price
                    </th>
                    <th class="product-quantity">
                        Quantity
                    </th>
                    <th class="product-subtotal">
                        Total
                    </th>
                    <th class="product-remove">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {

                    <tr class="cart_item">
                        <td class="product-thumbnail">
                            <a href="@Url.Action("Detail", "Product", new { id = item.ProductId })" >
                                <img src="@item.Url" width="100px" alt="" /></a>
                        </td>
                        <td class="product-name">
                            <a href="@Url.Action("Detail", "Product", new { id = item.ProductId })">@item.Name</a>
                            <ul class="variation">
								<li class="variation-Color">
                               @* @if (item.Inventory > 0)
                                {
                                    <label>@item.Inventory in stock</label>
                                }
                                else
                                {
                                    <label style="color:Red">Out of stock</label>
                                }*@
                                </li>
								
							</ul>
                           
                            @if (!item.IsHamper&&item.Tags != null && item.Tags.Any())
                            {
                                 <ul class="variation">
								
                                @foreach (var tag in item.Tags)
                                {
                                   <li>@tag.Key: <span>@tag.Values[0].Value</span></li>
                                }
                                
                                </ul>
                            } 

                            @if (item.IsHamper)
                            {
					            <ul class="product_catalog_list" style="padding:0px">
                                @foreach (var prod in item.Products)
                                {
                                   
                                        <li data-id="@prod.Id"><a href="javascript:void" >@prod.Name</a>
                                            @if (prod.Tags != null&&prod.Tags.Any())
                                            {
                                               <ul>
								
                                                @foreach (var tag in prod.Tags)
                                                {
                                                   <li>@tag.Key: <span>@tag.Values[0].Value</span></li>
                                                }
                                
                                                </ul>
                                            }
                                            
                                     </li>
                                    
                                }
						
					            </ul>
                            }
                        </td>
                        <td class="product-price">
                            @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price
                        </td>
                        <td class="product-quantity" align="center">
                            <div>
                                <a class="changecartqty pull-right" data-url="@Url.Action("Add", "Cart", new { id = item.Id })" href="javascript:void(0);">
                                    <i style="margin-right: 10px">+</i></a> @item.Quantity <a class="changecartqty" href="javascript:void(0);" data-url="@Url.Action("Sub", "Cart", new { id = item.Id })">
                                        <i style="margin-left: 0px">-</i></a>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.SubTotal
                        </td>
                        <td class="product-remove">
                            <a href="javascript:void" data-url="@Url.Action("Remove", "Cart", new { id = item.Id })" class="removelink" >
                                <span>Delete</span> <i>X</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- //CART TABLE -->
    <!-- SIDEBAR -->
    <div id="sidebar" class="col-lg-3 col-md-3 padbot50">
        <!-- BAG TOTALS -->
        <div class="sidepanel widget_bag_totals">
            <h3>
                BAG TOTALS</h3>
            <table class="bag_total">
                <tr class="total clearfix">
                    <th>
                        Total
                    </th>
                    <td>
                        @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Total
                    </td>
                </tr>
                <tr class="total clearfix">
                    <th>
                        Tax
                    </th>
                    <td>
                        @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Tax
                    </td>
                </tr>
                <tr class="total clearfix">
                    <th>
                        Discount
                    </th>
                    <td>
                        @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Discount
                    </td>
                </tr>
            </table>
            <a class="btn active btn-checkout" href="@Url.Action("Checkout", "Cart")" >Check out</a> <a class="btn inactive" href="@Url.Action("Index", "Home")" >
                Continue shopping</a>
        </div>
        <!-- //REGISTRATION FORM -->
    </div>
    <!-- //SIDEBAR -->
</div>
<!-- //ROW -->
