﻿@model TotoBobo.Mvc.Models.OrderModel
<div class="row" style="margin-top:30px">
    <!-- CART TABLE -->
    <div class="col-lg-9 col-md-9 padbot10">
        <table class="shop_table">
            <thead>
                <tr>
                    <th class="product-thumbnail">
                    </th>
                    <th class="product-name">
                        Item
                    </th>
                    <th class="product-price">
                        Price
                    </th>
                    <th class="product-quantity">
                        Quantity
                    </th>
                    <th class="product-subtotal">
                        Total
                    </th>
                    <th class="product-remove">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {

                    <tr class="cart_item">
                        <td class="product-thumbnail">
                            <a href="@Url.Action("Detail", "Product", new { id = item.ProductId })" >
                                <img src="@item.Picture" width="100px" alt="" /></a>
                        </td>
                        <td class="product-name">
                            <a href="@Url.Action("Detail", "Product", new { id = item.ProductId })">@item.ProductName</a>
                            <ul class="variation">
								<li class="variation-Color">
                                @if (item.Inventory > 0)
                                {
                                    <label>@item.Inventory in stock</label>
                                }
                                else
                                {
                                    <label style="color:Red">Out of stock</label>
                                }
                                </li>
								
							</ul>
                             @if (!item.IsHamper&&item.Tags != null&&item.Tags.Any())
                            {
                                    <ul class="variation">
                                @foreach (var tag in item.Tags)
                                {
						                <li style="margin:0px">@tag.Key: <span>@tag.Values[0].Value</span></li>
                                }
                                </ul>
                            }
                            @if (item.IsHamper)
                            {
					            <ul class="product_catalog_list" style="padding:0px">
                                @foreach (var prod in item.Products)
                                {
                                   
                                        <li data-id="@prod.Id"><a href="javascript:void" style="font-weight:normal;font-size:10px" >@prod.Name</a>
                                            @if (prod.Tags != null && prod.Tags.Any())
                                            {
                                                <ul>
								
                                                @foreach (var tag in prod.Tags)
                                                {
                                                    <li>@tag.Key: <span>@tag.Values[0].Value</span></li>
                                                }
                                
                                                </ul>
                                            }
                                            
                                        </li>
                                    
                                }
						
					            </ul>
                            }
                        </td>
                        <td class="product-price">
                            @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price
                        </td>
                        <td class="product-quantity" align="center">
                            <div>
                                <a class="changecartqty pull-right" data-url="@Url.Action("AddQty", "Order", new { id = item.OrderItemId })" data-id="@Model.Guid" href="javascript:void(0);">
                                    <i style="margin-right: 10px">+</i></a> @item.Quantity <a class="changecartqty" href="javascript:void(0);"  data-id="@Model.Guid" data-url="@Url.Action("SubQty", "Order", new { id = item.OrderItemId })">
                                        <i style="margin-left: 0px">-</i></a>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.SubTotal
                        </td>
                        <td class="product-remove">
                            <a href="javascript:void" data-url="@Url.Action("RemoveItem", "Order", new { id = item.OrderItemId })"  data-id="@Model.Guid" class="removelink" >
                                <span>Delete</span> <i>X</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- //CART TABLE -->
    <div class="col-lg-3 col-md-3 padbot30">
						
		<!-- BAG TOTALS -->
		<div class="sidepanel widget_bag_totals your_order_block">
			<h3>Your Order</h3>
			<table class="bag_total">
				<tr class="cart-subtotal clearfix">
					<th>Sub total</th>
					<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Total</td>
				</tr>
                <tr class="shipping clearfix">
					<th>Tax</th>
					<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Tax</td>
				</tr>
				<tr class="shipping clearfix">
					<th>SHIPPING</th>
					<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.DeliveryFee</td>
				</tr>
                <tr class="shipping clearfix">
					<th>Discount</th>
					<td>-@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Discount</td>
				</tr>
                                
				<tr class="total clearfix">
					<th>Total</th>
					<td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Decimal.Round(Model.Total + Model.DeliveryFee + Model.Tax - Model.Discount, 2)</td>
				</tr>
			</table>
                @using (Html.BeginForm("Save", "Order", FormMethod.Post, new { id="orderform" }))
                {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.Guid)
                @Html.HiddenFor(m => m.Id)
                <input type="submit" value="Save Order" class="btn active" />
                }
		</div><!-- //REGISTRATION FORM -->
	</div>
</div>
