﻿@model TotoBobo.Mvc.Models.ProductModel
<div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=226988780808773&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>    
<div class="tover_view_page element_fade_in">
	<div class="tover_view_header clearfix">
		<p>Quick view</p>
		<a id="tover_view_page_close" href="javascript:void(0);">Close<i>X</i></a>
	</div>
	
	<div class="clearfix">
		<div class="tovar_view_fotos clearfix">
			<div id="slider1" class="flexslider">
				<ul class="slides">
                    @foreach (var url in Model.Pictures)
                    {
                        <li><a href="javascript:void(0);" ><img src="@url" alt="" /></a></li>
                    }
				</ul>
			</div>
			<div id="carousel1" class="flexslider">
				<ul class="slides">
					@foreach (var url in Model.Pictures)
     {
                        <li><a href="javascript:void(0);" ><img src="@url" alt="" /></a></li>
     }
				</ul>
			</div>
		</div>
		
		<div class="tovar_view_description">        
			<div class="tovar_view_title" data-price="@Model.Price.ToString("f2")">@Model.Name</div>
            <div class="tovar_article">
           
            </div>
            @{
                TotoBobo.Data.Objects.Setting setting = null;
                decimal giftSetDiscount = 0;
                if (Model.ProductType == "hamper")
                {
                    setting = TotoBobo.Mvc.Repository.SettingRepository.GetSetting();
                    giftSetDiscount = setting.GiftSetDiscount;
                }
            }
			<div class="clearfix tovar_brend_price" data-giftSetDiscount="@giftSetDiscount" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" style="margin-bottom:24px">
				
                @if (Model.ProductType == "hamper")
                {
                    decimal price = 0;
                    if (Model.ProductSetItems != null && Model.ProductSetItems.Count > 0)
                    {
                        foreach (TotoBobo.Data.Objects.ProductSetItem productSetItem in Model.ProductSetItems)
                        {
                            if (productSetItem.IsMandatory)
                            {
                                price += productSetItem.Product.Price;
                            }
                        }
                    }

                    decimal discountPrice = Decimal.Round((price - setting.GiftSetDiscount * price / 100), 2);                    
                    discountPrice = discountPrice < 0 ? 0 : discountPrice;

                    if (discountPrice != price)
                    {
                        <div class="pull-left tovar_view_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@discountPrice.ToString("f2")</div>
                        <br />
                        <span class="original_price" style="text-decoration: line-through;">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@price.ToString("f2")</span>
                    }
                    else
                    {
                        <div class="pull-left tovar_view_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@discountPrice.ToString("f2")</div>
                    }
                }
                else
                {
                    <div class="pull-left tovar_view_price">@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Price</div>
                }

                @if (!string.IsNullOrEmpty(Model.CountryPicture))
                {
                    <div class="pull-right tovar_view_price"><span class="productOrigin" style="text-decoration: none; display: inline;">Product origin</span><img src="@Model.CountryPicture" /></div>
                }
			</div>
            @if (Model.Tags != null)
            {
                foreach (var tag in Model.Tags)
                {
                    <div class="tovar_tag_select" data-id="@Model.Id" data-key="@tag.Key" style="padding-bottom:19px">
				        <div class="clearfix">
					        <p class="pull-left">Select @tag.Key</p>
				        </div>
                        @foreach (var value in tag.Values)
                        {
				            <a class="taglink" href="javascript:void(0);" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" data-price="@value.Price.ToString("f2")">@value.Value</a>
                        }
			        </div>
                }
            }
            else if (Model.ProductSetItems != null)
            {
                <div>
                    <div class="brand_letter" style="font-size:12px;float:none;line-height:normal">Products:</div>
					<ul class="product_catalog_list mandatory_hamper_list">
                    @foreach (var item in Model.ProductSetItems)
                    {
                        if (item.IsMandatory)
                        {
                            <li class="mandatory_hamper_item" data-price="@item.Product.Price.ToString("f2")" data-id="@item.ProductId"><a href="javascript:void(0);" >
                                @item.Product.Name</a>
                                @if (item.Product.Tags != null)
                                {
                                    foreach (var tag in item.Product.Tags)
                                    {
                                    <div class="tovar_tag_select" data-id="@item.ProductId" data-key="@tag.Key" style="padding-bottom:19px">
				                        <div class="clearfix">
					                        <p class="pull-left">Select @tag.Key</p>
				                        </div>
                                        @foreach (var value in tag.Values)
                                        {
				                            <a class="taglink" href="javascript:void(0);" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" data-price="@value.Price.ToString("f2")">@value.Value</a>
                                        }
			                        </div>
                                    }
                                }
                                </li>
                        }
                    }
						
					</ul>
               </div>
                
                <div>
                    <div class="brand_letter" style="font-size:12px;float:none;line-height:normal">Optional:</div>
					<ul class="product_catalog_list optional_hamper_list">
                    @foreach (var item in Model.ProductSetItems)
                    {
                        if (!item.IsMandatory)
                        {
                            <li class="optional_hamper_item" data-price="@item.Product.Price.ToString("f2")" data-id="@item.ProductId">
                                @if (item.Product.Quantity > 0)
                                {
                                    <input type="checkbox" value="@item.ProductId" style="display:inline;width:13px;height:13px;-webkit-appearance: checkbox" class="hamper-option-check"  />
                                }
                                else
                                {
                                     <input type="checkbox" value="@item.ProductId" style="display:inline;width:13px;height:13px;-webkit-appearance: checkbox" class="hamper-option-check" disabled="disabled" />
                                }
                                <a href="javascript:void(0);">@item.Product.Name</a>
                                @if (item.Product.Tags != null)
                                {
                                    foreach (var tag in item.Product.Tags)
                                    {
                                        <div class="tovar_tag_select" data-id="@item.ProductId" data-key="@tag.Key" style="padding-bottom:5px;display:none;">
				                            <div class="clearfix">
					                            <p class="pull-left" style="margin-bottom:0px">Select @tag.Key</p>
				                            </div>
                                            @foreach (var value in tag.Values)
                                            {
				                                <a class="taglink" href="javascript:void(0);" data-symbol="@TotoBobo.Mvc.ConstantHelper.CurrencySymbol" data-price="@value.Price.ToString("f2")">@value.Value</a>
                                            }
			                            </div>
                                    }
                                }
                            </li>
                        }
                    }
						
					</ul>
                </div>
                 
            }
			
			<div class="tovar_view_btn" style="margin-top:20px">
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity, new { @style = "width:80px;vertical-align:middle;height:50px;", @class = "addcartqty" })
				<a class="add_bag" href="javascript:void(0);" data-url="@Url.Action("AddToCart", "Cart", new { id = Model.Id, type = Model.ProductType })" style="padding-right:20px;padding-left:20px;" ><i class="fa fa-shopping-cart"></i>Add to bag</a>
				<div class="tovar_shared clearfix pull-right" style="width:100px;overflow:hidden;padding-top:15px;">
                       <iframe src="//www.facebook.com/plugins/like.php?href=@HttpContext.Current.Request.Url.AbsoluteUri&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=226988780808773" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:40px;" allowTransparency="true"></iframe>
							</div>
			</div>
			
		</div>
	</div>
</div>