﻿@model TotoBobo.Mvc.Models.ReplyModel
<!-- LEAVE A COMMENT -->
<div class="comment_form" data-appear-top-offset='-100' data-animated='fadeInUp'>
	<h2>Leave a Reply</h2>
	<div class="comment_form_wrapper">
		 @using (Html.BeginForm("Reply", "Dialog", FormMethod.Post, new { @class="replyform"}))
   {
       @Html.AntiForgeryToken()
        @Html.ValidationSummary()
			@Html.HiddenFor(m => m.QuestionId)
            @Html.HiddenFor(m => m.RepliedTo)
            @Html.TextAreaFor(m => m.Body, new { @class = "replybody" })						
			<div class="clear"></div>					
			<input type="submit" value="Submit" />
			<div class="clear"></div>
   }
	</div>
</div><!-- //LEAVE A COMMENT -->