﻿@model TotoBobo.Mvc.Models.OrderModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Order";
}
@section menu {
    @Html.Partial("_MenuPartial", "")
}

<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container">

		<h3 class="pull-left"><b>Order @Model.OrderNo</b></h3>
				
		<div class="pull-right">
			<a href="@Url.Action("Index","Order")" >Back to orders<i class="fa fa-angle-right"></i></a>
		</div>
	</div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->
		
		
<!-- SHOPPING BAG BLOCK -->
<section class="shopping_bag_block">
			
	<!-- CONTAINER -->
	<div class="container cartcontainer" >
		<div class="checkout_block" style="border: 2px solid #ccc">
            <div style="padding:20px 0px 00px 20px">
                <label style="font-weight:bold;text-transform:uppercase">Shipping Address</label>
            </div>
            
            <div style="padding:20px" class="defaultaddress">
            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName, @Model.ShippingAddress.MobileNo <br />
            @Model.ShippingAddress.Country @Model.ShippingAddress.State @Model.ShippingAddress.City @Model.ShippingAddress.Address1 @Model.ShippingAddress.Postcode
            </div>
           
        </div>	
		<!-- ROW -->
		<div class="row" style="margin-top:30px">
    <!-- CART TABLE -->
            <div class="col-lg-9 col-md-9 padbot10">
                <table class="shop_table">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">
                            </th>
                            <th class="product-name">
                                Item
                            </th>
                            <th class="product-price">
                                Price
                            </th>
                            <th class="product-quantity">
                                Quantity
                            </th>
                            <th class="product-subtotal">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {

                            <tr class="cart_item">
                                <td class="product-thumbnail">
                                    <a href="@Url.Action("Detail", "Product", new { id = item.ProductId,type=item.ProductType })" >
                                        <img src="@item.Picture" width="100px" alt="" /></a>
                                </td>
                                <td class="product-name">
                                    <a href="@Url.Action("Detail", "Product", new { id = item.ProductId, type = item.ProductType })">@item.ProductName</a>
                                    @if (item.IsHamper)
                                    {
					                    <ul class="product_catalog_list" style="padding:0px">
                                        @foreach (var prod in item.Products)
                                        {
                                   
                                                <li data-id="@prod.Id"><a href="javascript:void" style="font-weight:normal;font-size:10px" >@prod.Name</a>
                                                    @if (prod.Tags != null && prod.Tags.Any())
                                                    {
                                                        <ul>
								
                                                        @foreach (var tag in prod.Tags)
                                                        {
                                                            <li>@tag.Key: <span>@tag.Values[0].Value</span></li>
                                                        }
                                
                                                        </ul>
                                                    }
                                            
                                                </li>
                                    
                                        }
						
					                    </ul>
                                    }
                                </td>
                                <td class="product-price">
                                    @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.Price
                                </td>
                                <td class="product-quantity" align="center">
                                   @item.Quantity 
                                </td>
                                <td class="product-subtotal">
                                    @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@item.SubTotal
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- //CART TABLE -->
            <div class="col-lg-3 col-md-3 padbot30">
						
		        <!-- BAG TOTALS -->
		        <div class="sidepanel widget_bag_totals your_order_block">
			        <h3>Your Order</h3>
			        <table class="bag_total">
				        <tr class="cart-subtotal clearfix">
					        <th>Sub total</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Total</td>
				        </tr>
                        <tr class="shipping clearfix">
					        <th>Tax</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.Tax</td>
				        </tr>
				        <tr class="shipping clearfix">
					        <th>SHIPPING</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Model.DeliveryFee</td>
				        </tr>
                                
				        <tr class="total clearfix">
					        <th>Total</th>
					        <td>@TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Decimal.Round(Model.Total+Model.DeliveryFee+Model.Tax,2)</td>
				        </tr>
			        </table>
                      
		        </div><!-- //REGISTRATION FORM -->
	        </div>
        </div>
        
	</div><!-- //CONTAINER -->
</section><!-- //SHOPPING BAG BLOCK -->
@section Scripts {
<script type="text/javascript">
    $(function () {

        
    });

</script>
}
