﻿@model TotoBobo.Mvc.Models.UserOrderModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Order";
}

@section menu {
    @Html.Partial("_MenuPartial", "")
}
<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container border0 margbot0">
		<h3 class="pull-left"><b>Your orders:</b></h3>
       
	</div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->

<section class="checkout_page">
		
	<!-- CONTAINER -->
	<div class="container">
    <div class="row">
					
	<!-- CART TABLE -->
	<div class="col-lg-12 col-md-12 padbot40">
						
		<table class="shop_table">
			<thead>
				<tr>
					<th class="order-items">Products</th>
					<th class="order-no">Order No.</th>
					<th class="product-price">Total</th>
					<th class="product-quantity">Consignee</th>
					<th class="product-subtotal">Created Date</th>
                    <th class="product-subtotal">Status</th>
					<th class="order-operation">Operation</th>
				</tr>
			</thead>
			<tbody>
            @foreach (var item in Model.Orders)
            {
				<tr class="cart_item" valign="middle">
					<td class="order-items">
                    @foreach (var orderitem in item.Items)
                    {
                        <a href="@Url.Action("Detail", "Product", new { id = orderitem.ProductId })" ><img src="@orderitem.Picture" width="100px" alt="" /></a>
                    }
                    </td>
					<td class="order-no">@item.OrderNo</td>
					<td class="product-price">
                        
                        @TotoBobo.Mvc.ConstantHelper.CurrencySymbol@Decimal.Round(item.Status == "Created" ? item.Total + item.DeliveryFee + item.Tax - item.Discount : item.Total + item.DeliveryFee + item.Tax - item.RecordedInDiscount, 2)
                    </td>
					<td class="order-consignee">@item.Consignee</td>				
					<td class="order-createddate">@item.CreatedDate.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    <td class="product-quantity">@item.Status</td>
					<td class="order-operation">
                    @if (item.Status == "Created")
                    {
                        <a href="@Url.Action("Modify", "Order", new { id = item.Id })">Modify</a>
                        <span> &nbsp; &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; </span>
                        <a href="@Url.Action("CancelOrder", "Dialog", new { id = item.Id })" class="cancelorder" >Cancel</a>
                        <span> &nbsp; &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; </span>
                        <a href="@Url.Action("Pay", new { id = item.Id })">Pay</a>

                    }
                    else
                    {
                        <a href="@Url.Action("Detail", "Order", new { id = item.Id })">View Detail</a>
                    }
                    </td>
				</tr>
            }				
			</tbody>
		</table>
	</div><!-- //CART TABLE -->
    </div>	
    </div>
</section>
<!-- TOVAR MODAL CONTENT -->
<div id="modal-body" class="clearfix">
	<div id="tovar_content"></div>
	<div class="close_block"></div>
</div><!-- TOVAR MODAL CONTENT -->
@section Scripts {
<script type="text/javascript">
    $(function () {
        var oTable = $('.shop_table').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "bFilter": false,
            "bLengthChange": false,
            "iDisplayLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }, { "bSortable": false, "aTargets": [6] }]
        });

        oTable.fnSort([[1, 'desc']]);

        $(".cancelorder").click(function () {
            $("#tovar_content").load($(".cancelorder").attr("href"), function (e) {
                $('#modal-body').addClass('modal-active');
                $('#modal-body').show(function () {
                    $('#tovar_content');
                }).show(2000, function () {
                    $('.element_fade_in').each(function () {
                        $(this).appear(function () {
                            $(this).delay(100).animate({ opacity: 1, right: "0px" }, 1000);
                        });
                    });
                });
                $('#tovar_content').animate({ opacity: 1 });
            });
            return false;
        });
    });
</script>
}
