﻿@model TotoBobo.Mvc.Models.OrderModel
@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Manage Order";
}
@section menu {
    @Html.Partial("_MenuPartial", "")
}

<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container">
       @if (!string.IsNullOrEmpty(ViewBag.Err))
        {
            <div style="color:Red;margin-bottom:20px;">
            Error occured, details below:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.Err
            </div>
        }
		<h3 class="pull-left"><b>Order @Model.OrderNo</b></h3>
				
		<div class="pull-right">
			<a href="@Url.Action("Index","Order")" >Back to orders<i class="fa fa-angle-right"></i></a>
		</div>
	</div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->
		
		
<!-- SHOPPING BAG BLOCK -->
<section class="shopping_bag_block">
			
	<!-- CONTAINER -->
	<div class="container cartcontainer" >
		<div class="checkout_block" style="border: 2px solid #ccc">
            <div style="padding:20px 0px 00px 20px">
                <label style="font-weight:bold;text-transform:uppercase">Shipping Address</label>
                <a href="javascript:void" style="margin-left:20px" id="editaddresslink">Edit</a>
            </div>
            
            <div style="padding:20px" class="defaultaddress">
            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName, @Model.ShippingAddress.MobileNo <br />
            @Model.ShippingAddress.Country @Model.ShippingAddress.State @Model.ShippingAddress.City @Model.ShippingAddress.Address1 @Model.ShippingAddress.Postcode
            </div>
            <div class="editaddressform checkout_form clearfix" style="border: 0px solid #ccc;display:none;">
                <ul>
                    @foreach (var item in Model.Addresses)
                    {
                        <li>
                        @if (item.Id == Model.ShippingAddress.Id)
                        {
                            <input id="ridio-@item.Id" type="radio" name="radio" checked="checked" value="@item.Id" hidden />
                        }
                        else
                        {
                            <input id="ridio-@item.Id" type="radio" name="radio" value="@item.Id" hidden />
                        }
                            <label for="ridio-@item.Id">@item.Country @item.State @item.City @item.Address1 @item.Postcode, @item.MobileNo @item.FirstName @item.LastName </label>
                        </li>
                    }
                        <li>
                        @if (0 == Model.ShippingAddress.Id)
                        {
                            <input id="ridio-0" type="radio" name="radio" checked="checked" value="0" hidden />
                        }
                        else
                        {
                            <input id="ridio-0" type="radio" name="radio" value="0" hidden />
                        }
					        <label for="ridio-0">Use new address</label>
                        </li>
                </ul>
                <div class="newaddressform" style="display:none">
				    @Html.Partial("_NewOrderAddress", Model)
			    </div>
                 @using (Html.BeginForm("SaveAddress", "Order", FormMethod.Post, new { id = "addressForm" }))
                 {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m=>m.Id)
                            @Html.HiddenFor(m=>m.Guid)
                            @Html.HiddenFor(m => m.ShippingAddress.Id, new { @class="selectedaddressid"})
                     <input type="submit" class="pull-right btncontinue" value="Save Shipping Address" />
                     }	
            </div>
        </div>	
		<!-- ROW -->
		<div class="container ordercontainer"  data-url="@Url.Action("OrderDetail", "Dialog", new { id=Model.Guid})">
			
		
	    </div><!-- //CONTAINER -->
        
	</div><!-- //CONTAINER -->
</section><!-- //SHOPPING BAG BLOCK -->
@section Scripts {
<script type="text/javascript">
    $(function () {

        $("#editaddresslink").click(function () {
            $(this).css("display", "none");
            $(".defaultaddress").css("display", "none");
            $(".editaddressform").css("display", "block");
        });

        $("input[type='radio']").change(function () {
            $(".selectedaddressid").val($('input[name=radio]:checked').val());
            if ($('input[name=radio]:checked').val() == "0") {
                $(".newaddressform").css("display", "block");
                $(".btncontinue").css("display", "none");
            } else {
                $(".newaddressform").css("display", "none");
                $(".btncontinue").css("display", "block");
            }
        });

        if ($(".selectedaddressid").val() == "0") {
            $(".defaultaddress").css("display", "none");
            $(".editaddressform").css("display", "block");
            $(".newaddressform").css("display", "block");
            $(".btncontinue").css("display", "none");
            $("#editaddresslink").css("display", "none");
        } 

        $('#addressForm').submit(function (e) {
            if (!isNormalInteger($(".selectedaddressid").val())) {
                alert("form is injected");
                return false;
            }
           
            return true;
        });

        $(".statedropdown").on("change.fs", function () {
            var sid = $(this).val();
            $(".cityContainer").children().remove();
            $(".cityContainer").load($(".cityContainer").attr("data-url") + "/" + sid, function (e) {
                $(".cityContainer .basic").fancySelect();
                $("#addressstate").val($(".stateContainer .trigger").text());
                $("#addresscity").val($(".cityContainer .trigger").text());
            })
        });

        $("#addressstate").val($(".stateContainer .trigger").text());
        $("#addresscity").val($(".cityContainer .trigger").text());

        loadOrder();
    });

    function loadOrder() {
        if ($(".ordercontainer").length > 0) {

            $(".ordercontainer").load($(".ordercontainer").attr("data-url"), function () {
                $(".ordercontainer #orderform").submit(function (e) {
                    if ($(".editaddressform").css("display") == "block") {
                        alert("Please save shipping address first!");
                        return false;
                    }

                    if ($(".ordercontainer .shop_table tbody>tr").length == 0) {
                        alert("No items in order");
                        return false;
                    }

                });

                $(".ordercontainer .changecartqty").click(function () {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr("data-url"),
                        dataType: "json",
                        data: { "qty": 1, "guid": $(this).attr("data-id") },
                        success: function (data) {
                            if (data.success) {
                                loadOrder();
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                });

                $(".ordercontainer .removelink").click(function () {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr("data-url"),
                        dataType: "json",
                        data: { "guid": $(this).attr("data-id") },
                        success: function (data) {
                            if (data.success) {
                                loadOrder();
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                });
            });
        }
    }

</script>
}
