﻿@{
    ViewBag.Title = TotoBobo.Mvc.ConstantHelper.ApplicationName + " - Paid";
}
@section menu {
    @Html.Partial("_MenuPartial", "")
}

    <!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->
		
		
<!-- PAGE HEADER -->
<section class="page_header">
			
	<!-- CONTAINER -->
	<div class="container border0 margbot0">
    <div>
        <h3>
        <b>@ViewBag.Message
        </b>
        </h3>
    </div>
    <div>
        @Html.ActionLink("Manage Orders", "Index", null, new { @class = "btn active", @style = "margin:0px;width:200px;" })
        @Html.ActionLink("Continue Shopping", "Index", "Home",null, new { @class = "btn active", @style = "margin:0px;width:200px; margin-top:20px;margin-bottom:30px;" })
    </div>
    </div>
</section>

